{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}

<!-- Offcanvas Section Start -->
<form action="{% url 'create_query_params_url' path %}" method="post">
    {% csrf_token %}
    {% for name,values in attributeDict.items %}
    <div class="accordion-item category-price">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive{{ forloop.counter }}">
                {% comment %} data-bs-target="#collapseFive{{ forloop.counter }}" {% endcomment %}
                {{name}}
            </button>
        </h2>

        <div class="accordion-collapse collapse show" id="collapseFive{{ forloop.counter }}"
            data-bs-parent="#accordionExample">
            {% comment %} id="collapseFive{{ forloop.counter }}" {% endcomment %}
            <div class="accordion-body">
                <ul class="category-list">
                    {% for value in values %}
                    <li>
                        <div class="form-check ps-0 custome-form-check">
                            <input class="checkbox_animated check-it" type="checkbox" id="{{value}}{{name}}CheckBox"
                                name="{{name}}" value="{{value}}"
                                {% if value in request.GET.selectedAttribute|return_selected_attribute_list:request %}
                                checked {% endif %}>
                            <label class="form-check-label" for="{{value}}{{name}}CheckBox">{{value}}</label>
                        </div>
                    </li>
                    <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Brand Section Start -->

    <div class="accordion-item category-rating">
        <h2 class="accordion-header" id="headingTwo">
            {% comment %} {% include 'includes/alerts.html' %} {% endcomment %}
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                Brand
            </button>
        </h2>

        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body category-scroll brand">
                <ul class="category-list">
                    {% for brand in ProductsBrand %}
                    <li>
                        <div class="form-check ps-0 custome-form-check">
                            <input class="checkbox_animated check-it" type="checkbox" name="allbrand"
                                value="{{brand.brandName}}" id="{{brand.brandName}}brandsCheckBox"
                                {% if brand.brandName in request.GET.brands %} checked {% endif %}>
                            <label class="form-check-label brand" for="{{brand.brandName}}brandsCheckBox">{{brand.brandName}}</label>
                            <p class="font-light">({{brand.brandTotalProduct}})</p>
                        </div>
                    </li>
                    {% empty %}
                    <h2> No data Found</h2>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Brand Section End -->

    <!-- Price Section Start -->

    <div class="accordion-item category-price">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                Price
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="range-slider category-list">
                    <input type="text" min="{{min_price}}" max="{{max_price}}" prefix="{{symbol}}" name="pricefilter"
                        data-filter="price" id="filter-price-range" class="js-range-slider" value="" />
                    {% comment %} <input type="text" min="{{min_price}}" max="{{max_price}}" name="pricefilter"
                        data-filter="price" id="filter-price-range" class="js-range-slider" value="" /> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <!-- Price Section End -->


    <!-- Rating Section Start -->

    <div class="accordion-item category-rating">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                Ratings
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <ul class="category-list">
                    {% for rating in rating_range %}
                    <li>
                        <div class="form-check ps-0 custome-form-check">
                            <input class="checkbox_animated check-it" type="radio" id="{{rating}}ratingsCheckBox"
                                name="ratings" value="{{rating}}" {% if rating in request.GET.ratings %} checked
                                {% endif %}>
                            <ul class="rating mt-0">
                                {% for i in rating_range %}
                                {% if i <= rating %}
                                <li class="rating-list">
                                    <i class="fas fa-star theme-color"></i>
                                </li>
                                {% else %}
                                <li class="rating-list">
                                    <i class="fas fa-star"></i>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <p class="font-light"></p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Rating Section End -->


    <!-- Discount Section Start -->

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                Discount Range
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="category-list">
                    {% for discount_filter in discount_filters %}
                    <li>
                        <div class="form-check ps-0 custome-form-check">
                            <input class="checkbox_animated check-it" type="radio"
                                id="{{discount_filter.value}}discountCheckBox" name="discount"
                                value="{{discount_filter.value}}" {% if discount_filter.value in request.GET.discount %}
                                checked {% endif %}>
                            <label class="form-check-label" for="flexCheckDefault">{{discount_filter.title}}</label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <!-- Discount Section End -->

    <div class="accordion-button sumbit-button">
        <button type="submit" class="btn btn-solid-default" id="submitBtnAtFilterSidebar">Submit</button>
    </div>
</form>
<!-- Offcanvas Section End -->