// Color
:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --title: 32, 35, 38;
    --light-blue: 242, 243, 248;
    --dark-blue: 19, 25, 33;
    --light-blue-2: 32, 44, 60;
    --blue: 34, 66, 163;
    --content: 94, 98, 120;
    --theme-color: 255, 153, 0; //Yellow color
    --theme-color-2: 255, 75, 85; // Red color
    --dark-yellow: 255, 168, 0;
    --success: 23, 156, 92;
    --Icon-Size: 20px;
    --Icon-Color: rgba(var(--title), 1);
    --gradient-red: linear-gradient(148.06deg, #FF4545 17.12%, #831515 73.72%);
}

.demo-color-2 {
    --blue: 16, 89, 255;
    --sky-blue: 39, 119, 252;
    --danger: 255, 57, 57;
    --theme-color: 254, 229, 1;
    --success: 70, 147, 71;
    --dark: 21, 21, 21;
    --grey: 217, 217, 217;
}

// Font Family List
$br-hendrix: "BR Hendrix";
$dancing-script: 'Dancing Script',
cursive;

// Breakpoints
$min-breakpoints: (lg: 992px,
    xl: 1200px,
    2xl: 1366px,
);

$max-breakpoints: (2xs: 360px,
    xs: 480px,
    sm: 575px,
    md: 767px,
    lg: 991px,
    xl: 1199px,
    2xl: 1366px,
    3xl: 1460px,
    4xl: 1660px,
);