/**=====================
     buttons css start
==========================**/
.btn {
  color: $title-color;
  padding: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320))) calc(14px + (32 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  z-index: 1;
  overflow: hidden;

  &:focus {
    box-shadow: none;
  }

  .icon {
    margin-left: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320)));
  }

  &-animation {
    color: $white;
    border-radius: 5px;
    font-weight: 600;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    background: #ff6b6b;
    background: linear-gradient(90deg, #ff6b6b 0%, #ff4f4f 100%);
    border: none;
    z-index: 1;

    i {
      transition: 0.3s ease;
    }

    &::after {
      @include pos;
      // width: 100%;
      // height: 0;
      @include pseudowh($width: 100%, $height: 0);
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 5px;
      background: #ff4f4f;
      background: linear-gradient(90deg, #ff4f4f 0%, #ff6b6b 100%);
      transition: all 0.3s ease;
    }

    &:hover {
      color: $white;

      // i {
      //   transform: translateX(3px);
      // }

      &::after {
        top: 0;
        height: 100%;
      }
    }
  }

  &-md {
    padding: calc(8px + (11 - 8) * ((100vw - 320px) / (1920 - 320))) calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-size: 16px;
    font-weight: 500;
  }

  &-sm {
    padding: 7px 11px;
    font-size: 14px;
    font-weight: 500;
  }
}