/**=====================
     Slider css start
==========================**/
.tab-style-color {
    border: none;
    margin: -5px;

    .nav-item {
        margin: 5px;

        .nav-link {
            border: none;
            color: $title-color;
            font-weight: 500;
            transition: all .3s ease-in-out;

            &.active {
                background-image: url(../images/shape.png);
                background-size: contain;
                background-clip: border-box;
                background-position: 0 0;
                animation: shape 15s linear infinite;
            }

            &:hover {
                background-image: url(../images/shape.png);
                background-size: contain;
                background-clip: border-box;
                background-position: 0 0;
                animation: shape 15s linear infinite;
            }

            img {
                margin-right: 5px;
            }
        }
    }
}