section,
.section-t-space {
    padding-top: calc(40px + (110 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.section-b-space {
    padding-bottom: calc(40px + (110 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.section-t-sm-space {
    padding-top: calc(35px + (80 - 35) * ((100vw - 320px) / (1920 - 320)));
}

.section-b-sm-space {
    padding-bottom: calc(35px + (80 - 35) * ((100vw - 320px) / (1920 - 320)));
}

.width-100 {
    width: 100% !important;

    @media (min-width:1399px) {
        width: 60% !important;
    }
}

.p-center-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.p-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.p-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }
}

.no-border {
    border: none;
}

.custom-lg-container {
    padding-inline: 70px;
}

.custom-sm-container {
    @media (max-width:576px) {
        padding: 0 20px;
    }
}

.form-control,
.form-check-input,
.form-select {
    &:focus {
        box-shadow: none;
        border-color: rgba(var(--white), 0.8);
    }
}

i {
    line-height: 1;
}

a {
    display: inline-block;
}

.footer-logo,
.brand-logo {
    display: inline-block;

    img {
        width: calc(80px + (93 - 80) * ((100vw - 320px) / (1920 - 320)));
        height: auto;
        object-fit: contain;
    }
}