/**=====================
     alert scss
==========================**/
.alert {
    font-size: 15px;
    letter-spacing: 0.3px;
    padding: 18px 24px;

    @include mq-max(sm) {
        top: 0px !important;
        right: 0px !important;
        margin: 12px !important;
        width: fit-content;
    }

    .alert-success {
        background: #39da8a !important;
        color: $white !important;
        border: none;

        .close {
            color: $white;
            opacity: 1;
            top: -4px;
            text-shadow: none;
            font-weight: 400;
            font-size: 24px;
        }
    }

    .btn-close {
        top: 50% !important;
        transform: translateY(-50%) !important;

        [dir="rtl"] & {
            right: unset !important;
            left: 10px !important;
        }
    }
}

[data-notify="icon"] {
    margin-right: 5px;

    [dir="rtl"] & {
        margin-right: unset;
        margin-left: 5px;
    }
}

[data-notify="progressbar"] {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 0;
}

.progress-bar-info {
    background-color: #0c5460;
}