.category-section {
    .category-list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        // overflow: auto;
        padding: 2px 0;

        li {
            white-space: nowrap;
            padding: 10px 21px;
            border-radius: 50px;
            box-shadow: 0px 0px 6px rgba(var(--black), 0.06);
            position: relative;
            // overflow: hidden;
            // z-index: 0;

            // &::before {
            //     content: none;
            //     z-index: -1;
            // }

            &.active {
                font-weight: 600;
                background-image: url(../images/learning/header-bg.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                a {
                    color: rgba(var(--white), 1.0);
                }

                // &::before {
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     background-image: url(../images/learning/header-bg.jpg);
                //     background-position: center;
                //     background-repeat: no-repeat;
                //     background-size: cover;
                // }
            }
        }
    }
}