/*=====================
    Learning log-in Css Start
==========================*/
.learning-login-form {
    margin-top: 35px;

    a {
        &:hover {
            color: #9DACB1;
        }

        &.forgot-password {
            color: #9DACB1;
            margin-top: 11px;
            text-align: right;
            display: block;
        }

        &.create-new {
            display: block;
            text-align: center;
            color: #9DACB1;
            margin-top: 11px;
        }
    }

    .continue-media {
        margin-top: 26px;
        position: relative;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            border-top: 1px dashed #CACACA;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            z-index: -1;
        }

        span {
            background-color: rgba(var(--white), $alpha: 1.0);
            padding-inline: 11px;
            font-size: 14px;
            font-weight: 600;
            color: #164150;
        }
    }

    .social-button {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
        margin-top: 15px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            gap: 8px;
            padding: 11px;
            position: relative;
            background: transparent;
            color: #164150;
            border-radius: 5px;
            overflow: hidden;
            z-index: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--gradient);
                opacity: 0.05;
                z-index: -1;
            }

            img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }

            span {
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

/*=====================
    Learning log-in Css End
==========================*/

/*=====================
    Chatting log-in Css Start
==========================*/
.chatting-log-in {
    margin-top: 30px;

    h2 {
        font-weight: 500;
        margin-bottom: 9px;
        color: rgba(var(--title), 1);
    }

    h4 {
        font-weight: 400;
        line-height: 1.4;
        color: rgba(var(--content), 1);
        margin-bottom: 19px;
    }
}

.log-in-section {
    margin-top: 34px;
}

.add-profile-section {
    margin-top: 19px;
    margin-bottom: 17px;

    // .edit-image {
    //     .profile-pic {
    //         color: transparent;
    //         -webkit-transition: all 0.3s ease;
    //         transition: all 0.3s ease;
    //         @include flex_common;
    //         position: relative;
    //         overflow: hidden;
    //         padding: 4px;
    //         height: 82px;
    //         margin: 0 auto;
    //         width: 82px;
    //         background-color: rgba(var(--white), 0.4);
    //         border-radius: 100%;

    //         input {
    //             display: none;
    //         }

    //         img {
    //             position: absolute;
    //             object-fit: cover;
    //             width: 115px;
    //             height: 115px;
    //             border: 6px solid rgba(var(--white), 1);
    //             box-shadow: 0 0 10px 0 rgba(var(--black), 0.1);
    //             border-radius: 100px;
    //             z-index: 0;
    //         }

    //         .-label {
    //             cursor: pointer;
    //             height: 100%;
    //             width: 100%;
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //         }

    //         .camera-icon {
    //             fill: rgba(var(--title), 1);
    //             width: 30px;
    //             height: 30px;
    //         }

    //         span {
    //             font-size: 25px;
    //         }
    //     }
    // }
}

.sign-up-section {
    .chatting-form-control {
        .from-control-box {
            position: relative;

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 7px;
                font-size: 17px;
                cursor: pointer;
                color: rgba(var(--title), 1);
            }
        }
    }
}

.otp-section {
    .otp-box {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 13px;
        margin-bottom: 28px;
    }
}

/*=====================
    Chatting log-in Css End
==========================*/

/*=====================
    Cab-booking log-in Css Start
==========================*/
.cab-booking-login-section {
    margin-top: 24px;

    // .cab-booking-nav-pills {
    //     .cab-nav-pills {
    //         flex-wrap: nowrap;
    //         padding: 5px;
    //         background-color: rgba(244, 244, 244, 1);
    //         border-radius: 16px;
    //         margin-bottom: 25px;

    //         .nav-item {
    //             width: 100%;

    //             .nav-link {
    //                 width: 100%;
    //                 font-weight: 400;
    //                 font-size: 18px;
    //                 border-radius: 15px;
    //                 padding: 11px;
    //                 color: rgba(var(--title), 1);

    //                 &.active {
    //                     font-weight: 500;
    //                     background: var(--gradient);
    //                     color: rgba(var(--white), 1);
    //                 }
    //             }
    //         }
    //     }
    // }

    // .social-list {
    //     margin-top: 18px;
    //     display: flex;
    //     flex-wrap: wrap;
    //     gap: 14px;

    //     li {
    //         width: 100%;

    //         a {
    //             @include flex_common;
    //             flex-wrap: nowrap;
    //             gap: 11px;
    //             background: #FAFAFA;
    //             border-radius: 14px;
    //             padding: 17px;
    //             color: rgba(var(--title), 1);

    //             img {
    //                 width: 20px;
    //                 height: 20px;
    //             }

    //             h4 {
    //                 font-weight: 400;
    //                 font-size: 17px;
    //             }
    //         }
    //     }
    // }
}

.number-section {
    padding-top: 43px;

    .number-title {
        h2 {
            font-weight: 500;
            font-size: 20px;
            color: rgba(var(--title), 1);
            margin-bottom: 13px;
        }

        h4 {
            font-weight: 400;
            font-size: 16px;
            color: rgba(var(--content), 1);
            margin-bottom: 33px;
            line-height: 1.5;
        }
    }

    // .cab-dropdown {
    //     .dropdown-link {
    //         font-weight: 400;
    //         font-size: 18px;
    //         color: rgba(var(--content), 1);
    //         display: flex;
    //         align-items: center;
    //         padding: 18px 25px;
    //         flex-wrap: nowrap;
    //         gap: 13px;
    //         background-color: transparent;
    //         border: 1px solid rgba(var(--border), 1);
    //         border-radius: 22px;
    //         margin-bottom: 20px;
    //         position: relative;

    //         &::before {
    //             position: absolute;
    //             content: "\EA4E";
    //             top: 50%;
    //             transform: translateY(-50%);
    //             right: 25px;
    //             font-family: remixicon !important;
    //             font-style: normal;
    //             font-size: 22px;
    //         }

    //         img {
    //             width: 31px;
    //             height: 21px;
    //             border-radius: 6px;
    //         }
    //     }

    //     .dropdown-menu {
    //         width: 100%;
    //         border-radius: 22px;
    //         border: 1px solid rgba(var(--border), 1);
    //         padding: 8px 16px;
    //         // display: flex;
    //         flex-wrap: wrap;
    //         gap: 12px;

    //         &.show {
    //             display: flex;
    //         }

    //         li {
    //             width: 100%;
    //             position: relative;

    //             +li {
    //                 &::before {
    //                     content: "";
    //                     position: absolute;
    //                     top: -7px;
    //                     left: 0;
    //                     width: 100%;
    //                     height: 1px;
    //                     background-color: rgba(var(--content), 0.3);
    //                     z-index: -1;
    //                 }
    //             }

    //             .dropdown-item {
    //                 font-weight: 400;
    //                 font-size: 18px;
    //                 color: rgba(var(--content), 1);
    //                 display: flex;
    //                 align-items: center;
    //                 flex-wrap: nowrap;
    //                 gap: 13px;
    //                 background-color: transparent;
    //                 padding: 0;

    //                 img {
    //                     width: 31px;
    //                     height: 21px;
    //                     border-radius: 6px;
    //                 }
    //             }
    //         }
    //     }
    // }
}

.resend-box {
    margin-top: 16px;
    text-align: center;
    @include flex_common;
    flex-wrap: nowrap;
    gap: 5px;

    h6 {
        font-weight: 400;
        font-size: 14px;
        color: rgba(var(--content), 1);
    }

    .time {
        ul {
            display: flex;
            flex-wrap: nowrap;
            gap: 3px;
        }
    }
}

/*=====================
    Cab-booking log-in Css End
==========================*/