/*=====================
    Onboarding Css Start
==========================*/
// learning onboarding
.learning-onboarding-bg {
    background-image: url(../images/learning/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .onboarding-top-contain {
        text-align: center;
        padding-top: 78px;
        color: rgba(var(--white), $alpha: 1.0);

        .onboarding-contain {
            h2 {
                font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (600 - 320)));
                font-weight: 600;
                line-height: 1.4;
            }

            h6 {
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 6px;
            }
        }
    }

    .onboarding-images {
        margin-top: 74px;
        position: relative;

        .circle-1,
        .circle-2,
        .plus-1,
        .plus-2 {
            position: absolute;
        }

        .circle-1 {
            top: 39px;
            left: 52px;
            animation: scale 2s alternate infinite ease-in;
        }

        .circle-2 {
            top: 120px;
            left: 166px;
            width: 6px;
            height: 6px;
            animation: scale 2s alternate infinite ease-in;
            animation-delay: 1.1s;
        }

        .plus-1 {
            bottom: 64px;
            left: 88px;
            animation: circle 5s linear infinite;
        }

        .plus-2 {
            top: 102px;
            right: 34px;
            animation: circle 5s linear infinite;
            animation-delay: 1.1s;
        }
    }

    .onboarding-footer {
        margin-top: 70px;

        .footer-contain {
            p {
                color: $light-gray;
                margin-top: 21px;
                line-height: 1.5;
            }
        }
    }
}

// Chatting onboarding
.chatting-onboarding-bg {
    background-color: rgba(var(--theme-color), 1);

    .onboarding-top {
        position: relative;

        .background-bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 133px;
            background: linear-gradient(0deg, rgba(var(--theme-color), 1) 0%, rgba(205, 233, 221, 0) 82.04%);
        }
    }

    // .onbording-content {
    //     margin-top: 40px;

    //     h1 {
    //         font-weight: 500;
    //         font-size: 30px;
    //         color: rgba(var(--title), 1);
    //         margin-bottom: 10px;
    //     }

    //     h4 {
    //         font-weight: 300;
    //         font-size: 16px;
    //         color: rgba(var(--content), 1);
    //         margin-bottom: 26px;
    //         line-height: 1.5;
    //     }

    //     h5 {
    //         font-weight: 300;
    //         font-size: 16px;
    //         margin-top: 13px;

    //         a {
    //             color: rgba(var(--content), 1);
    //         }
    //     }
    // }
}

// cab onbaording
.cab-onboarding-section {
    .cab-onboarding {
        .cab-onboarding-box {
            margin-top: 61px;

            .onboarding-image {
                padding-inline: 17px;
                margin-bottom: 33px;
            }

            .onboarding-content {
                text-align: center;

                h2 {
                    font-weight: 500;
                    font-size: 22px;
                    color: rgba(var(--title), 1);
                    margin-bottom: 10px;
                }

                h4 {
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(var(--content), 1);
                    line-height: 1.5;
                    margin-bottom: 50px;
                }
            }
        }

        .swiper-pagination {
            position: relative;

            .swiper-pagination-bullet {
                width: 55px;
                height: 6px;
                border-radius: 50px;
                background: rgba(var(--light-gray), 1);
                opacity: 1;

                &-active {
                    background: var(--gradient2);
                }
            }
        }
    }

    .onboarding-button {
        width: 66px;
        height: 66px;
        border-radius: 100%;
        border: none;
        background: var(--gradient2);
        font-size: 33px;
        @include flex_common;
        margin: 68px auto 0;
    }
}