/*=====================
    Button Style start
==========================*/
.btn-close {
    &:focus {
        box-shadow: none;
    }
}

.btn-disable {
    pointer-events: none;
    opacity: 0.5;
}

.btn {
    padding: 11px 21px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-solid {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $white;
    transition: all 0.5s ease;

    &:hover {
        background-color: $white;
        color: $primary-color;
    }
}

.service-button {
    width: -webkit-fill-available;
    padding: 0;

    span {
        white-space: nowrap;
        color: #3DDBBF;
    }

    svg {
        height: 17px;
    }
}