.title {
    margin-bottom: 45px;

    svg {
        width: 22px;
        height: 251px;
        display: block;
        fill: #262b47;
        stroke: #262b47;
        transform: rotate(-90deg);
        position: absolute;
        top: -100px;
        right: 138px;
    }

    h2 {
        font-weight: 700;
        font-size: 60px;
        line-height: 106.9%;
        margin-bottom: 30px;
        color: $primary-color;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -13px;
            left: 50%;
            transform: translateX(-50%);
            width: 52px;
            height: 6px;
            background-color: #3DDBBF;
            border-radius: 100px;
        }
    }

    p {
        font-weight: 500;
        font-size: 16px;
        color: $light-text;
        width: 53%;
        margin: 0 auto;
        line-height: 167.4%;
    }

    &-2 {
        h2 {
            &::after {
                left: 0;
                transform: unset;
            }
        }
    }
}