/**=====================
     footer css start
==========================**/
.back-to-top {
    position: fixed;
    bottom: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
    right: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
    background-color: var(--theme-color);
    // background: var(--theme-color2);
    padding: 0;
    // @include flex_common;
    border-radius: 5px;
    z-index: 1;

    [dir="rtl"] & {
        right: unset;
        left: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
    }

    a {
        @include flex_common;
        // width: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320)));
        // height: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320)));
        @include pseudowh($width: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320))), $height: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320))));

        i {
            color: $white;
        }
    }
}