/**=====================
     Home CSS
==========================**/
.home-section {
    padding-top: 20px;

    .custom-home-row {
        .custom-xxl-3 {
            @include mq-min(3xl) {
                width: 23.55%;
            }
        }

        .custom-xxl-9 {
            @include mq-min(3xl) {
                width: calc(100% - 23.55%);
            }
        }
    }
}