.product-box {
    background-color: rgba(var(--white), 1);
    border: 1px solid rgba(var(--content), 0.3);
    padding: 36px 15px 16px;
    transition: 0.3s ease-in-out;
    position: relative;

    &:hover {
        border-bottom: 0;
        border: 1px solid rgba(var(--dark-yellow), 1);
        box-shadow: 0px 4px 10px rgba(var(--black), 0.1);

        .compare-box {
            box-shadow: 0px 4px 10px rgba(var(--black), 0.1);
            transform: unset;
            border-color: rgba(var(--dark-yellow), 1);
            opacity: 1;
            visibility: visible;
            background-color: rgba(var(--white), 1);

            @include mq-max(md) {
                box-shadow: none;
            }
        }

        .product-content {
            a {
                color: rgba(var(--theme-color), 1);
            }
        }

        .product-image {
            transform: rotate(3deg) scale(1.05);
        }
    }

    .product-image {
        margin: 0 auto 27px;
        transition: 0.3s ease-in-out;
        text-align: center;
        @include pseudowh($width: 100%, $height: 170px);

        img {
            @extend %image-contain;
        }
    }

    .product-content {
        a {
            h5 {
                color: rgba(var(--title), 1);
                font-weight: 500;
                margin-bottom: 7px;
                transition: 0.3s ease-in-out;
            }
        }

        .price {
            font-weight: 500;
            color: rgba(var(--success), 1);
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 7px;
            margin-bottom: 10px;

            del {
                color: rgba(var(--content), 1);
                opacity: 0.8;
            }
        }

        .progress {
            height: 7px;
            border-radius: 0;
            background-color: rgb(227, 230, 230);
            margin-bottom: 10px;

            .progress-bar {
                width: 50%;
                background-color: rgba(var(--dark-yellow), 1);
            }
        }

        .sold {
            padding-bottom: 10px;
            font-weight: 500;
            color: rgba(var(--title), 1);
            opacity: 0.8;
            transition: 0.3s ease-in-out;
        }
    }

    .compare-box {
        position: absolute;
        border: 1px solid rgba(var(--content), 0.3);
        border-top: 0;
        padding-inline: 15px;
        padding-bottom: 11px;
        bottom: -64px;
        left: 0;
        width: 101%;
        margin-left: -1px;
        transform: translateY(-18px);
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;

        @include mq-max(md) {
            transform: unset;
            border-color: rgba(var(--content), 0.3);
            opacity: 1;
            visibility: visible;
            text-align: center;
            background-color: rgba(var(--white), 1);
            inset: 0;
            width: 100%;
            position: relative;
            padding: 0;
            margin: 0;
            border: none;
        }

        @media (max-width:483px) {
            width: 100.4%;
        }

        .cart-button {
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            padding: 8px;
            border: none;
            background: rgba(var(--dark-yellow), 1);
            border-radius: 0;
            margin-bottom: 10px;
        }

        .compare-list {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                position: relative;

                +li {
                    padding-left: 10px;
                    margin-left: 10px;

                    &::before {
                        @include pos;
                        left: 0;
                        @include center(vertical);
                        border-left: 1px solid rgba(var(--content), 0.2);
                        @include pseudowh($width: 1px, $height: 15px);
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(var(--content), 1);
                    transition: 0.3s ease-in-out;

                    &:hover {
                        font-weight: 600;
                        color: rgba(var(--theme-color), 1);
                    }

                    i {
                        &.compare-icon {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }
}

.latest-product-box {
    &:hover {
        a {
            border-color: rgba(var(--content), 0.5);
            background-color: rgba(var(--content), 0.05);
            box-shadow: 0 0 14px rgba(0, 0, 0, 0.07);

            img {
                transform: scale(1.1) rotate(2deg);
            }
        }

        h5 {
            color: rgba(var(--title), 1);
        }
    }

    a {
        height: calc(117px + (174 - 117) * ((100vw - 320px) / (1920 - 320)));
        background-color: rgba(var(--white), 1);
        border: 1px solid rgba(var(--content), 0.3);
        margin-bottom: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
        @include flex_common;
        padding: calc(13px + (28 - 13) * ((100vw - 320px) / (1920 - 320))) calc(13px + (23 - 13) * ((100vw - 320px) / (1920 - 320)));
        transition: all 0.3s ease-in-out;

        img {
            @include pseudowh;
            object-fit: contain;
            transition: all 0.3s ease-in-out;
        }
    }

    h5 {
        font-weight: 500;
        font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
        text-transform: capitalize;
        @include line;
        color: rgba(var(--content), 1);
        transition: all 0.3s ease-in-out;
    }
}

.latest-product-list {
    display: grid;
    gap: 20px;
    grid-column: 1 / span 3;
    grid-template-columns: auto auto auto;

    li {
        &:last-child(-n+2) {
            grid-area: 2 / span 2 / 3 / 4;
        }

        a {
            .product-image {
                height: 174px;
                background-color: rgba(var(--white), 1);
                border: 1px solid rgba(var(--content), 0.3);
                margin-bottom: 8px;
                @include flex_common;
                padding: 11px;

                img {
                    @extend %image-contain;
                }
            }

            h5 {
                font-weight: 500;
                font-size: 15px;
                text-transform: capitalize;
                @include line;
                color: rgba(var(--content), 1);
            }
        }
    }
}

.recommendations-product-list {
    >li {
        +li {
            margin-top: 10px;
        }
    }
}

.vertical-product-box {
    display: flex;
    position: relative;
    gap: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
    align-items: center;

    &:hover {
        .product-image {
            img {
                transform: scale(1.09) rotate(-3deg);
            }
        }

        .product-content {
            a {
                .name {
                    color: rgba(var(--theme-color), 1);
                }
            }
        }
    }

    .product-image {
        @include pseudowh($width: calc(82px + (114 - 82) * ((100vw - 320px) / (1920 - 320))), $height: calc(80px + (112 - 80) * ((100vw - 320px) / (1920 - 320))));
        @include flex_common;

        img {
            transition: all 0.3s ease-in-out;
            @include pseudowh;
            object-fit: contain;
        }
    }

    .product-content {
        width: calc(100% - calc(82px + (114 - 82) * ((100vw - 320px) / (1920 - 320))) - calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320))));

        a {
            .name {
                transition: all 0.3s ease-in-out;
                margin-bottom: 5px;
                text-transform: capitalize;
                font-weight: 500;
                line-height: 1.3;
                @include line($line: 3);
                color: rgba(var(--title), 1);
            }

            h5.name {
                -webkit-line-clamp: 2;
            }
        }

        .price {
            margin-top: 5px;
            color: rgba(var(--success), 1);
            font-weight: 500;

            del {
                color: rgba(var(--content), 1);
                margin-left: 3px;
            }
        }

        .quantity-box {
            padding: 5px;
            width: 80px;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 8px;
            right: 0;
            background-color: rgba(var(--content), 0.05);

            .btn {
                padding: 0;
                border: none;
                width: 100%;
            }

            span {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        .cart-btn {
            padding: 7px 15px;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 8px;
            right: 0;
            background-color: rgba(var(--content), 0.05);
            font-size: 14px;
            overflow: hidden;

            &::before {
                @include pos;
                bottom: 0;
                left: 0;
                @include pseudowh($width: 0, $height: 2px);
                background-color: rgba(var(--content), 1);
                transition: .5s;
            }

            &:hover {
                color: rgba(var(--title), 1);

                &::before {
                    width: 100%;
                }
            }
        }
    }
}

.hot-deal-product-box {
    .product-slider-box {
        position: relative;
        display: flex;
        align-items: center;

        @media (max-width: 400px) {
            display: block;
        }

        .swiper-thumbnail,
        .swiper-thumbnail1 {
            position: absolute;
            left: 0;
            top: 0;

            @media (max-width: 400px) {
                position: relative;
                inset: unset;
            }

            &.swiper-free-mode>.swiper-wrapper {
                @media (max-width: 400px) {
                    justify-content: center;
                    margin-top: 11px;
                }
            }

            .swiper-wrapper {
                .swiper-slide {
                    height: 100% !important;
                    opacity: 0.5;

                    @media (max-width: 400px) {
                        width: auto !important;
                    }

                    .thumbnail-image {
                        @include pseudowh($width: calc(53px + (65 - 53) * ((100vw - 320px) / (1920 - 320))), $height: calc(53px + (65 - 53) * ((100vw - 320px) / (1920 - 320))));
                        padding: 8px 10px;
                        background-color: rgb(245, 246, 249);
                        border: 1px solid transparent;

                        img {
                            @extend %image-contain;
                        }
                    }

                    &-thumb-active {
                        opacity: 1;

                        .thumbnail-image {
                            border: 1px solid rgba(var(--theme-color), 1);
                        }
                    }
                }
            }
        }

        .swiper-main,
        .swiper-main1 {
            @include pseudowh($width: 100%, $height: calc(100% - 65%));
            text-align: center;
            margin-left: 65px;

            @media (max-width: 400px) {
                width: 100%;
                margin: unset;
            }

            .main-image-box {
                padding: 0 30px;
            }
        }

        .product-timer {
            position: absolute;
            bottom: 0;
            @include center(horizontal);
            z-index: 1;
            display: flex;
            align-items: center;

            li {
                background-color: rgba(var(--white), 0.7);
                box-shadow: 0px 8.89439px 16.1716px rgba(49, 90, 152, 0.07);
                backdrop-filter: blur(1.61716px);
                position: relative;
                padding: 8px 10px;
                @include flex_common;
                text-align: center;

                +li {
                    margin-left: 10px;

                    &::before {
                        @include pos;
                        left: -7px;
                        @include center(vertical);
                        font-weight: 700;
                        font-size: 15px;
                        color: rgba(var(--content), 0.5);
                    }
                }

                .counter {
                    >div {
                        font-weight: 600;
                        font-size: calc(19px + (24 - 19) * ((100vw - 320px) / (1920 - 320)));
                        color: rgba(var(--theme-color-2), 1);
                        line-height: 1;
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(var(--content), 1);
                    text-transform: capitalize;
                }
            }
        }
    }

    .product-content {
        margin-top: 30px;

        h3 {
            font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: 6px;
            color: rgba(var(--title), 1);
        }

        .price-stock {
            padding-bottom: calc(7px + (10 - 7) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(9px + (15 - 9) * ((100vw - 320px) / (1920 - 320)));
            border-bottom: 1px solid rgba(var(--content), 0.2);
            @include flex_common ($dis: flex, $align: center, $justify: space-between);

            @include mq-max(xs) {
                display: block;
            }

            .price {
                line-height: 1;
                gap: 6px;
                font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
                color: rgba(var(--success), 1);
                display: flex;
                align-items: center;

                del {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: rgba(var(--content), 1);
                }
            }

            .product-rating {
                display: flex;
                align-items: center;

                @include mq-max(xs) {
                    margin-top: 3px;
                }

                h6 {
                    color: rgba(var(--content), 1);
                    margin-left: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
                    border-left: 1px solid rgba(var(--content), 0.2);
                    padding-left: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));

                    [dir="rtl"] & {
                        margin-right: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
                        border-right: 1px solid rgba(var(--content), 0.2);
                        padding-right: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
                        margin-left: unset;
                        padding-left: unset;
                        border-left: unset;
                    }

                    span {
                        color: rgba(var(--success), 1);
                    }
                }
            }
        }

        .progress {
            height: 10px;
            background-color: rgba(var(--light-blue), 1);
            border-radius: 0;
            margin-bottom: calc(9px + (15 - 9) * ((100vw - 320px) / (1920 - 320)));

            .progress-bar {
                background-color: rgba(var(--dark-yellow), 1);
                width: 32%;
            }
        }

        h5 {
            font-weight: 500;
            color: rgba(var(--content), 1);

            span {
                font-weight: 600;
                color: rgba(var(--success), 1);
            }
        }
    }
}

.hot-tag-list {
    @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(7px + (10 - 7) * ((100vw - 320px) / (1920 - 320))));
    align-items: center;

    li {
        a {
            font-weight: 400;
            font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
            padding: calc(7px + (9 - 7) * ((100vw - 320px) / (1920 - 320))) calc(14px + (23 - 14) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--content), 1);
            background-color: rgba(var(--content), 0.05);
            transition: 0.4s ease-in-out;
            border: 1px solid transparent;

            &:hover {
                color: rgba(var(--blue), 1);
                background-color: transparent;
                border-color: rgba(var(--blue), 1);
            }
        }
    }
}

.small-product-box {
    .product-content {
        text-align: center;
        margin-top: calc(11px + (20 - 11) * ((100vw - 320px) / (1920 - 320)));
        @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(2px + (6 - 2) * ((100vw - 320px) / (1920 - 320))));

        h5 {
            font-weight: 500;
            line-height: 1.3;
            width: 100%;
            text-transform: capitalize;
            @include line($line: 2);

            &.name {
                color: rgba(var(--title), 1);
            }

            &.price {
                color: rgba(var(--success), 1);

                del {
                    color: rgba(var(--content), 1);
                }
            }
        }
    }
}

.product-box-2 {
    .product-image {
        width: calc(106px + (130 - 106) * ((100vw - 320px) / (1920 - 320)));
        margin-inline: auto;

        img {
            @extend %image-contain;
        }
    }

    .product-content {
        margin-top: calc(10px + (24 - 10) * ((100vw - 320px) / (1920 - 320)));

        a {
            color: rgba(var(--content), 1);
            margin-bottom: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));

            h6 {
                text-transform: capitalize;
                font-weight: 500;
                line-height: 1.5;

                span {
                    font-weight: 600;
                    color: rgba(var(--title), 1);
                }
            }
        }

        .price {
            font-weight: 500;
            font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
            display: flex;
            align-items: center;
            gap: calc(4px + (10 - 4) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--success), 1);

            del {
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                color: rgba(var(--content), 1);
            }
        }
    }
}

.product-white-box {
    padding: calc(10px + (24 - 10) * ((100vw - 320px) / (1920 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    background-color: rgba(var(--white), 1);
    border-radius: 5px;
    position: relative;
    box-shadow: 7px 5px 10px transparent;
    margin: 1px;

    &::before {
        @include pos;
        border-radius: 5px;
        background: linear-gradient(180deg, #07544F 0%, rgba(7, 84, 79, 0) 100%);
        mask-composite: exclude;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        @include pseudowh($width: calc(100% + 2px), $height: 100%);
        left: -1px;
        top: -1px;
        z-index: -1;
    }

    &:hover {
        box-shadow: 7px 5px 10px rgba(54, 97, 79, 0.1);

        &::before {
            opacity: 1;
        }

        .product-image {
            .product-option {
                opacity: 1;
                transition: all 0.5s ease-in-out;
                visibility: visible;

                li {
                    &:first-child {
                        animation: fadeInUp 400ms ease-in-out;
                    }

                    &:nth-child(2) {
                        animation: fadeInUp 600ms ease-in-out;
                    }

                    &:last-child {
                        animation: fadeInUp 800ms ease-in-out;
                    }
                }
            }
        }

        .product-content {
            .btn-box {
                bottom: -30px;
                visibility: visible;
                opacity: 1;
                box-shadow: 7px 5px 10px rgba(54, 97, 79, 0.1);

                @include mq-max(md) {
                    inset: unset;
                    box-shadow: unset;
                }
            }
        }
    }

    .product-image {
        @include pseudowh($width: 100%, $height: calc(105px + (135 - 105) * ((100vw - 320px) / (1920 - 320))));
        margin-bottom: 14px;
        @include flex_common;
        position: relative;

        a {
            height: 100%;
            display: block;
        }

        img {
            @extend %image-contain;
        }

        .product-option {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            @include flex_common;
            gap: 5px;
            transition: all 0.5s ease-in-out;
            opacity: 0;
            visibility: hidden;

            li {
                a {
                    box-shadow: 0px 2.33333px 4.66667px rgba(68, 128, 103, 0.25);
                    @include pseudowh($width: 35px, $height: 35px);
                    border-radius: 100%;
                    font-size: 16px;
                    color: rgba(var(--content), 1);
                    @include flex_common;
                    background-color: rgba(var(--white), 1);

                    i {
                        line-height: 1;
                    }
                }
            }
        }
    }

    .product-content {
        h6 {
            margin-bottom: 4px;
            color: rgba(var(--content), 0.8);
            @include line;
        }

        .name {
            text-transform: capitalize;
            margin-bottom: 6px;
            color: rgba(var(--theme-color), 1);
            line-height: 1.4;
            @include line($line: 3);

            &.tow-line {
                @include line($line: 2);
            }
        }

        .price {
            margin-top: 9px;
            color: rgba(var(--danger), 1);
            display: flex;
            align-items: center;
            gap: 6px;

            del {
                color: rgba(var(--content), 0.8);
            }
        }

        .btn-box {
            position: absolute;
            bottom: -22px;
            visibility: hidden;
            opacity: 0;
            left: 0;
            width: 100%;
            padding: 0 10px 10px;
            background-color: rgba(var(--white), 1);
            z-index: 1;
            border-radius: 0 0 5px 5px;
            transition: all 0.3s ease-in-out;

            @include mq-max(md) {
                position: relative;
                width: 100%;
                inset: unset;
                padding: 0;
                margin-top: 14px;
                visibility: visible;
                opacity: 1;
            }

            .btn {
                padding: 8px;
                @include flex_common;
                gap: 6px;
                color: rgba(var(--title), 1);
                background-color: rgba(var(--warning), 1);
                font-size: 14px;
            }
        }
    }

    &.no-hover {
        padding-block: 6px;
        padding-inline: 0;

        &::before {
            content: none;
        }

        &:hover {
            box-shadow: none;
        }
    }
}

.product-title-box {
    padding: calc(19px + (25 - 19) * ((100vw - 320px) / (1920 - 320))) calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

    &.bg-img-1 {
        background-image: url(../images/banner/product-banner-1.jpg);
    }

    &.bg-img-2 {
        background-image: url(../images/banner/product-banner-2.jpg);
    }

    &.bg-img-3 {
        background-image: url(../images/banner/product-banner-3.jpg);
    }

    &.bg-img-4 {
        background-image: url(../images/banner/product-banner-4.jpg);
    }

    &.bg-img-5 {
        background-image: url(../images/banner/product-banner-5.jpg);
    }

    h4 {
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 7px;
        text-transform: capitalize;

        a {
            font-size: 14px;
            text-transform: none;
        }
    }

}

.white-product-box-list {
    background-color: rgba(var(--white), 1);
    padding: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320))) 8px;
    @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320))));
}

.product-box-3 {
    padding: 18px 23px;

    >.row {
        >div {
            position: relative;

            +div {
                &::before {
                    @include pos;
                    @include center(vertical);
                    left: 0;
                    background: linear-gradient(0deg, rgba(94, 98, 120, 0) -3.39%, rgba(94, 98, 120, 0.2) 54.49%, rgba(94, 98, 120, 0) 114.83%);
                    @include pseudowh($width: 1px, $height: 80%);
                }
            }

            &:first-child {
                .product-white-box {
                    padding-left: 0;
                }
            }

            &:last-child {
                .product-white-box {
                    padding-right: 0;
                }
            }

            &:nth-child(3n+1) {
                &::before {
                    content: none;

                    @include mq-max(3xl) {
                        content: "";
                    }
                }
            }

            &:nth-child(odd) {
                &::before {
                    @include mq-max(3xl) {
                        content: none;
                    }
                }
            }
        }
    }
}