/*=====================
    Reset CSS start
==========================*/
.custom-container {
    padding: 0 15px;
}

.px-15 {
    padding-inline: 15px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-25 {
    padding-top: 25px;
}

.h-102 {
    height: 102px;
}

.h-136 {
    height: 136px;
}

.ps-15 {
    padding-left: 15px;
}

.mt-35 {
    margin-top: 35px;
}

.section-t-space {
    padding-top: 25px;
}

.section-b-space {
    padding-bottom: 25px;
}

.p-center {
    @include flex_common;
}

.content-color {
    color: rgba(var(--content), 1);
}

.title-color {
    color: rgba(var(--title), 1);
}

.theme-color {
    color: rgba(var(--theme-color), 1);
}

.theme-bg-color {
    color: rgba(var(--theme-color), 1);
}

.divider {
    background: #F5F7F7;
    box-shadow: inset 0px 4px 4px #F0F2F3;
    width: 100%;
    height: 10px;
}

// @media (min-width:767px) {
//     body {
//         max-width: 600px;
//         margin: 0 auto !important;
//     }

//     header {
//         max-width: 600px;
//         // left: 50% !important;
//         // transform: translateX(-50%) !important;
//     }

//     // .bottom-panel {
//     //     ul {
//     //         max-width: 600px;
//     //         margin: 0 auto;
//     //     }
//     // }

//     // .fixed-panel {
//     //     .row {
//     //         max-width: 600px;
//     //         margin: 0 auto;
//     //     }
//     // }

//     // .cart-bottom {
//     //     >div {
//     //         max-width: 600px;
//     //         margin: 0 auto;
//     //     }
//     // }
// }