/**=====================
     typography scss
==========================**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $montserrat;
  position: relative;
  font-size: 14px;
  color: $title-color;
  margin: 0;
  background-color: $white;
  transition: all 0.3s ease-in-out;
  padding-right: 0 !important;
  width: 375px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 8px 3px rgba(34, 34, 34, 0.1);

  // &::before {
  //   content: "";
  //   position: absolute;
  //   background-image: url(../images/bg.png);
  //   bottom: 0;
  //   left: 0;
  //   width: 182px;
  //   height: 182px;
  //   background-repeat: no-repeat;
  //   background-position: bottom;
  //   background-size: cover;
  //   background-attachment: fixed;
  // }

  .background-image {
    position: fixed;
    bottom: 0;
    width: 182px;
    height: 182px;
    z-index: -1;
  }
}

a {
  color: var(--theme-color);
  transition: 0.5s ease;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    transition: 0.5s ease;
  }

  &:focus {
    outline: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}

.btn-close {
  &:focus {
    box-shadow: none;
  }
}

:focus {
  outline: none;
}

.form-control {
  background-color: $white;

  &:focus {
    box-shadow: none;
    border-color: var(--theme-color);
  }
}

span {
  display: inline-block;
}

.theme-color {
  color: var(--theme-color);
}

.theme-bg-color {
  background: var(--theme-color);
}

h1 {
  font-weight: 600;
  font-size: 28px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

input[type="radio"] {
  accent-color: green;
  margin-inline: 15px;
}