{% extends 'base/base-vegetables.html' %}
{% load static %}
{% load sass_tags %}

{% block components %}

<!-- Loader div Start -->
<div class='loader-wrapper' id="loaderWrapper">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<!-- Loader div End -->

{% include "components/header/vegetables-header.html" %}
{% include 'components/mobile-fix-menu/mobile-fix-menu-1.html' %}
{% include "components/home-section/vegetables-home-section.html" %}
{% include 'components/service-section/electronics-service-section.html' %}
{% include 'components/banner-section/vegetables-banner-section.html' %}
{% include 'components/new-arrival-section/vegetables-new-arrival-section.html' %}
{% include 'components/product-section/vegetables-product-section.html' %}
{% include 'components/banner-section-2/vegetables-banner-section-2.html' %}
{% include 'components/promo-code-section/vegetables-promo-code-section.html' %}
{% include 'components/new-arrival-section/vegetables-new-arrival-section-2.html' %}
{% include 'components/banner-section-3/vegetables-banner-section-3.html' %}
{% include 'components/blog-section/flower-blog-section.html' %}
{% include 'components/subscribe-section/shoes-subscribe-section.html' %}
{% include 'components/brand-section/electronics-brand-section.html' %}
{% include 'components/footer/footer-1.html' %}

{% endblock components %}