@keyframes rotation {
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes create-rotate {
    0% {
        transform: rotate(0deg);
        transition: 2s all;
    }

    100% {
        transform: rotate(360deg);
        transition: 2s all;
    }
}

@keyframes placeholder-wave {
    100% {
        mask-position: -200% 0%;
    }
}

@keyframes placeholder-glow {
    50% {
        opacity: $placeholder-opacity-min;
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: translate(-25%, -75%) rotate(0);
    }

    100% {
        transform: translate(-25%, -75%) rotate(360deg);
    }
}