// All variables
:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --body-background: 26, 30, 39; //#1a1e27
    --text-light-color: 138, 144, 173; //#8A90AD
    --title-bottom-border-color: 69, 76, 108; //#454C6C
    --author-bg: 39, 45, 59; //#272d3b
    --author-profile-bg: 33, 40, 57; //#212839
    --product-avatar-bg: 23, 31, 46; //171F2E
    --dark-blue-bg: 28, 32, 43;
    --border-color-dark: 60, 70, 92; //#3C465C

    // dropdown color settings
    --dropdown-menu-bg: 29, 33, 44; //#1d212c
    --dropdown-item-text-color: 142, 156, 190; //#8e9cbe

    // header colors
    --header-form-border-color: rgba(var(--dropdown-item-text-color), .5);

    // Gradient Colors
    --gradient-color: linear-gradient(90deg, #1F2026 45.42%, rgba(var(--dropdown-menu-bg), 1) 50%);
}

// common colors
$white: #fff;
$black: #000;

// template color plate
$primary: #3A6FFF;
$secondary: #FFA504;
$secondary-2: #FFB905;
// $color-3: #8E9CBE;
$color-4: #1F2A42;
$color-5: #64AF5B;
$color-6: #FF3F49;

$section-spacing: 90px;

// Shadow colors
$shadow: 0px 10px 4px rgba(var(--black), 0.2);