{% extends 'base/base-flower.html' %}
{% load static %}
{% load sass_tags %}
{% block components %}


<!-- Loader div Start -->
<div class='loader-wrapper' id="loaderWrapper">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<!-- Loader div End -->

{% include 'components/header/flower-header.html' %}
{% include 'components/mobile-fix-menu/mobile-fix-menu-2.html' %}
{% include 'components/home-section/flower-home-section.html' %}
{% include 'components/banner-section/banner-section-1.html' %}
{% include 'components/new-arrival-section/flower-new-arrival-section.html' %}
{% include 'components/category-section/category-section-1.html' %}
{% include 'components/banner-section-2/banner-section-2-1.html' %}
{% include 'components/product-section/flower-product-section.html' %}
{% include 'components/deal-of-the-day/flower-deal-of-the-day.html' %}
{% include 'components/blog-section/flower-blog-section.html' %}
{% include 'components/subscribe-section/shoes-subscribe-section.html' %}
{% include 'components/brand-section/electronics-brand-section.html' %}
{% include 'components/footer/shoes-footer.html' %}

{% endblock components %}


