/**=====================
    Header css start
==========================**/
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &.header-bg {
        background: var(--gradient-color);
        box-shadow: $shadow;
    }

    .navbar-toggler-icon {
        filter: brightness(1) invert(1);
    }

    .navbar {
        padding: 20px 0;
    }

    .navbar-collapse {
        @include media-breakpoint-down(lg) {
            background-color: rgba(var(--dropdown-menu-bg), 1);
            padding: 20px;
            z-index: 2;
            position: fixed;
            top: 0;
            right: 0;
            width: 320px;
            height: 100vh;
        }
    }

    .bg-dark {
        background: transparent !important;
    }

    a {
        text-transform: capitalize;
    }

    .btn {
        padding: 14px 15px;
    }

    .nav-link {
        color: rgba(var(--white), 1);
        position: relative;
        font-weight: 500;

        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            background-color: $primary;
            bottom: 8px;
            left: 15px;
            opacity: 0;
            transition: width 1s ease-in;
        }

        &:focus,
        &:hover {
            color: rgba(var(--white), 1);
        }
    }

    .nav-item {
        &.active {
            .nav-link {
                &::before {
                    opacity: 1;
                    transition: width 1s ease-in;
                }
            }
        }
    }

    .navbar-nav {
        .nav-link {
            &.active {
                color: rgba(var(--white), 1);
            }
        }

        .show {
            >.nav-link {
                color: rgba(var(--white), 1);
            }
        }
    }

    .input-group {
        @include media-breakpoint-down(xl) {
            width: 200px;
        }

        input {
            border-right: none;
        }

        .input-group-text {
            background-color: transparent;
            border-color: var(--header-form-border-color);
            border-left: none;
            margin-left: 0;

            svg {
                width: 17px;
                height: 17px;
                fill: rgba(var(--white), 1);
            }
        }

        >:not(:first-child) {
            &:not(.dropdown-menu) {
                &:not(.valid-tooltip) {
                    &:not(.valid-feedback) {
                        &:not(.invalid-tooltip) {
                            &:not(.invalid-feedback) {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    form {
        @media (max-width: 450px) {
            flex-wrap: wrap;
            gap: 15px;
        }
    }

    .form-control {
        background-color: transparent;
        border: 1px solid var(--header-form-border-color);
        box-shadow: none;
        padding: 6px 12px;

        &::placeholder {
            color: var(--header-form-border-color);
        }

        &:focus {
            background-color: transparent;
            color: rgba(var(--white), 1);
        }
    }

    .dropdown-toggle {
        &::after {
            @include media-breakpoint-down(lg) {
                right: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .dropdown-menu {
        @include media-breakpoint-up(lg) {
            min-width: 200px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding: 8px;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding: 14px;
            }
        }
    }
}

/**=====================
    Header css end
==========================**/