.nft-box {
  border-radius: 8px;
  overflow: hidden;
  .product-box-img {
    width: 100%;
    border-radius: 8px;
  }
  .product-box-detail {
    padding: 10px;
    background-color: rgba(var(--light-bg), 0.06);

    h5 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h6 {
      color: rgba(var(--white), 0.5);
      margin-top: 0;
    }
  }
  .bottom-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .counter {
      display: flex;
      align-items: center;
      color: rgba(var(--font-color), 1);
      h6 {
        margin-left: 5px;
      }
    }
    .likes {
      display: flex;
      align-items: center;
      color: rgba(var(--font-color), 1);
      #heart {
        color: rgba(var(--white), 1);
      }
      h6 {
        margin-left: 5px;
      }
    }
  }
}
