.profile-section {
    .profile-image {
        box-shadow: 0px 45px 30px rgba(var(--black), 0.1);
    }

    .profile-info-list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
        margin-bottom: 28px;

        li {
            font-weight: 500;
            font-size: 16px;
            color: #8E9CBE;

            &.eth-list {
                display: flex;
                align-items: center;
                gap: 9px;
                color: #FDBF00;
            }
        }
    }

    .profile-info {
        font-weight: 500;
        font-size: 16px;
        color: #8E9CBE;
        margin-bottom: 35px;

        p {
            line-height: 26px;
            letter-spacing: 0.16px;
            margin-bottom: 0;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        }
    }

    .profile-verify {
        background-color: rgba(var(--author-profile-bg), 1);
        box-shadow: 0px 4px 20px rgba(var(--black), 0.1),
            inset 0px 2px 4px rgba(165, 185, 231, 0.2);
        border-radius: 5px;
        padding: 14px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;

        &-2 {
            background-color: transparent;
            box-shadow: none;
            padding: 0;

            .fire-image {
                img {
                    width: 14px;
                }
            }

            .content-box {
                gap: 9px;

                h5 {
                    color: #8E9CBE;

                    span {
                        color: #fff;
                        margin-left: 10px;
                    }
                }
            }
        }

        .image-box {
            position: relative;

            .verify-img {
                position: absolute;
                top: 28px;
                left: 28px;
                width: 18px;
                height: 18px;
            }

            .verify-image {
                width: 43px;
                height: 43px;
                border-radius: 100%;
                overflow: hidden;

                .author-image {
                    background: #171F2E;
                    border: double 2px transparent;
                    border-radius: 80px;
                    display: inline-block;
                    background-image: linear-gradient(#171F2E, #171F2E),
                        linear-gradient(180deg, #758CFD 0%, rgba(53, 74, 183, 0) 100%);
                    background-origin: border-box;
                    background-clip: content-box,
                        border-box;
                }
            }
        }

        .content-box {
            display: flex;
            flex-wrap: wrap;
            gap: 7px;

            h5 {
                font-weight: 500;
                font-size: 16px;
                margin: 0;
                width: 100%;

                &.name-world {
                    color: #3A6FFF;
                }
            }
        }
    }

    .place-bid-button {
        width: 100%;
        background: #3A6FFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1),
            inset 0px 5px 4px rgba(165, 185, 231, 0.2);
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        gap: 12px;
        color: #fff;
        padding: 14px;

        svg {
            width: 22px;
            height: 22px;
            fill: #fff;
        }
    }
}