/*=====================
    Button CSS Start
==========================*/
.btn-modal {
    padding: 0;
    border: none;
    font-size: 19px;
    line-height: 1;
}

.btn {
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--white), $alpha: 1.0);
    background: linear-gradient(147.23deg, #223352 10.7%, #415D6C 85.56%);
    width: 100%;

    &:hover {
        background: linear-gradient(147.23deg, #223352 10.7%, #415D6C 85.56%);
        border-color: transparent;
        color: rgba(var(--white), $alpha: 1.0);
    }

    &-white {
        border-color: rgba(var(--white), $alpha: 1.0);
        color: var(--theme-color);
        background: rgba(var(--white), $alpha: 1.0);
        padding: 16px;
    }

    &-white-outline {
        border: 2px solid rgba(var(--white), $alpha: 1.0);
        color: rgba(var(--white), $alpha: 1.0);
        background: transparent;
        padding: 16px;
    }

    &-sm {
        padding: 5px 14px;
        font-size: 13px;
        font-weight: 500;
    }
}

/*=====================
    Button CSS End
==========================*/