/*=====================
    Form Css Start
==========================*/
.learning-theme-form {
    +.learning-theme-form {
        margin-top: 23px;
    }

    .form-label {
        font-weight: 400;
        font-size: 16px;
        color: $dark-green;
    }

    input {
        &::placeholder {
            color: #9DACB1;
        }

        &.form-control {
            background-color: #F5F7F7;
            border: none;
            padding: 13px 17px;
            box-shadow: 5px 6px 0px $border-color;
        }
    }

    .form-group {
        @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 10px);
        flex-wrap: nowrap;
        gap: 10px;
    }
}

/*===================== 
    Form Css End
==========================*/