/*=====================
    Form Css Start
==========================*/
.learning-theme-form {
    &.learning-search-form {
        position: relative;

        .search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
            left: 10px;
            color: rgba(var(--content), 1);

            i {
                font-size: 20px;
            }
        }

        .form-control {
            padding-left: 36px;
            padding-right: 36px;
        }

        .filter-button {
            padding: 0;
            font-size: 17px;
            border: none;
            background: transparent;
            top: 0;
            right: 0;
            position: absolute;
            color: rgba(var(--title), 1);
            line-height: 1;
            height: 100%;
            width: 46px;
            border-radius: 0;
        }
    }

    +.learning-theme-form {
        margin-top: 23px;
    }

    .form-label {
        font-weight: 400;
        font-size: 16px;
        color: $dark-green;
    }

    input {
        &::placeholder {
            color: #9DACB1;
        }

        &.form-control {
            background-color: #F5F7F7;
            border: none;
            padding: 13px 17px;
            box-shadow: 5px 6px 0px $border-color;
        }
    }

    .form-group {
        @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 10px);
        flex-wrap: nowrap;
        gap: 10px;
    }
}

/*===================== 
    Form Css End
==========================*/