.reading-slider {
    padding-bottom: 5px;

    .swiper-wrapper {
        .swiper-slide {
            width: 81%;

            &.swiper-slide-active {
                margin-left: 0;
            }
        }
    }
}