.reading-slider {
    padding-bottom: 5px;

    // .swiper-wrapper {
    //     .swiper-slide {
    //         +.swiper-slide {
    //             margin-left: -31px;
    //         }
    //     }
    // }
    // .swiper-slide:nth-child(2n) {
    //     width: 60%;
    // }

    .swiper-wrapper {
        .swiper-slide {
            width: 81%;
            // margin-left: 41px;

            &.swiper-slide-active {
                margin-left: 0;
            }
        }
    }

    // .swiper-slide:nth-child(2n) {
    //     width: 60%;
    // }
}