/**=====================
     Modal CSS
==========================**/
.theme-modal {
     .modal-content {
          overflow: unset;
          border: none;

          .modal-header {
               padding-bottom: 0;
               border: none;

               .btn-close {
                    margin: 0;
                    padding: 0;
                    background: none;
                    line-height: 1;
                    font-size: 22px;
                    background-color: rgba(var(--title-color), 1);
                    border-radius: 0;
                    color: rgba(var(--white), 1);
                    opacity: 1;
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    height: 36px;
                    width: 36px;
               }
          }
     }
}

// .add-cart-modal {
//      .modal-content {
//           .modal-body {
//                .cart-thumbnail-box {
//                     .thumbnail-image {
//                          border: 1px solid rgba(var(--content-color), 0.3);
//                          width: 70px;
//                          height: 70px;
//                          padding: 8px;
//                     }
//                }

//                .cart-main-box {
//                     .main-box {
//                          width: 447px;
//                          height: 405px;
//                          border: 1px solid rgba(var(--content-color), 0.3);
//                          padding: 21px px;

//                          img {
//                               @extend %img-contain;
//                          }
//                     }
//                }
//           }
//      }
// }