/**=====================
     Offcanvas CSS
==========================**/
.offcanvas {
    &.cart-offcanvas {
        border: none;
        width: 430px;

        @include mq-max(md) {
            width: calc(305px + (320 - 305) * ((100vw - 320px) / (768 - 320)));
        }

        .offcanvas-header {
            padding: 26px 32px 16px;
            display: block;
            background-color: #F2F3F8;
            border-bottom: 1px solid rgba(var(--content-color), 0.2);

            @include mq-max(md) {
                padding: calc(16px + (26 - 16) * ((100vw - 320px) / (768 - 320))) calc(19px + (32 - 19) * ((100vw - 320px) / (768 - 320))) 16px;
            }

            .title-offcanvas {
                @include flex_common ($dis: flex, $align: center, $justify: space-between);

                h4 {
                    font-size: 22px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    @include mq-max(md) {
                        font-size: calc(17px + (22 - 17) * ((100vw - 320px) / (768 - 320)));
                    }

                    i {
                        font-size: 23px;
                        margin-top: -3px;
                        color: rgba(var(--title-color), 1);

                        @include mq-max(md) {
                            font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (768 - 320)));
                        }
                    }
                }

                .close-btn {
                    padding: 0;
                    border: none;
                    font-size: 22px;
                    @include pseudowh($width: unset, $height: unset);
                    line-height: 1;
                }
            }
        }

        .offcanvas-body {
            padding: 0;

            .cart-product-box {
                overflow-y: auto;
                padding: 16px 16px 30px;
                height: calc(100vh - calc(57px + (70 - 57) * ((100vw - 320px) / (1920 - 320))) - calc(190px + (245 - 190) * ((100vw - 320px) / (1920 - 320))));

                &::-webkit-scrollbar-track {
                    border-radius: 100px;
                    background-color: #f2f3f7;
                }

                &::-webkit-scrollbar {
                    width: 4px;
                    background-color: #f2f3f7;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 100px;
                    background-color: rgba(var(--theme-blue-dark), 1);
                }

                .total-price-box {
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    width: 430px;
                    background-color: rgb(242, 243, 247);
                    padding: calc(11px + (24 - 11) * ((100vw - 320px) / (1920 - 320))) calc(11px + (32 - 11) * ((100vw - 320px) / (1920 - 320)));
                    border-top: 1px solid rgba(var(--content-color), 0.2);

                    @include mq-max(md) {
                        width: calc(305px + (320 - 305) * ((100vw - 320px) / (768 - 320)));
                    }

                    .free {
                        color: rgba(var(--title-color), 0.9);
                    }

                    .progress {
                        margin-top: calc(8px + (18 - 8) * ((100vw - 320px) / (1920 - 320)));
                        height: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
                        background-color: #e6e7e9;
                        border-radius: 100px;
                        position: relative;
                        overflow: unset;
                        margin-bottom: calc(18px + (31 - 18) * ((100vw - 320px) / (1920 - 320)));

                        .progress-bar {
                            @include pseudowh($width: 75%, $height: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320))));
                            background-color: rgba(var(--theme-color), 1);
                            border-radius: 100px;

                            .iconsax {
                                position: absolute;
                                @include center(vertical);
                                right: 90px;
                                @include pseudowh($width: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320))), $height: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320))));
                                border-radius: 100%;
                                @include flex_common;
                                background-color: rgba(var(--theme-color), 1);
                                --Icon-Color: rgba(var(--white), 1);
                                --Icon-Size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));

                                @include mq-max(md) {
                                    right: 51px;
                                }
                            }
                        }
                    }

                    .tax-text {
                        border-bottom: 1px solid rgba(var(--content-color), 0.15);
                        padding-bottom: calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320)));
                        margin-bottom: calc(13px + (19 - 13) * ((100vw - 320px) / (1920 - 320)));
                        margin-top: 3px;
                        color: rgba(var(--title-color), 0.9);
                        font-weight: 300;
                        display: flex;
                        align-items: center;

                        span {
                            padding-inline: 4px;
                            text-decoration: underline;
                        }
                    }

                    .sub-total {
                        font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                        @include flex_common ($dis: flex, $align: center, $justify: space-between);
                        color: rgba(var(--title-color), 1);
                        font-weight: 400;

                        span {
                            font-weight: 500;
                            color: rgba(var(--title-color), 1);
                        }
                    }

                    .cart-btn-group {
                        display: flex;
                        align-items: center;
                        gap: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));

                        .check-out-button {
                            background-color: rgba(var(--theme-blue-dark), 1);
                            display: block;
                            width: 100%;
                            color: rgba(var(--white), 1);
                            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                            font-weight: 600;
                            border: 1px solid transparent;
                            padding: 8px;
                        }

                        .cart-button {
                            border: 1px solid rgba(var(--theme-blue-dark), 1);
                            display: block;
                            width: 100%;
                            color: rgba(var(--theme-blue-dark), 1);
                            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }

    &.wishlist-offcanvas {
        .offcanvas-body {
            .cart-product-box {
                height: calc(100vh - calc(58px + (70 - 58) * ((100vw - 320px) / (1920 - 320))) - calc(126px + (164 - 126) * ((100vw - 320px) / (1920 - 320))));

                .total-price-box {
                    .tax-text {
                        margin-top: 0;
                    }
                }
            }
        }
    }

}

.product-box-list {
    >li {
        display: block;

        +li {
            .vertical-product-box {
                margin-top: calc(5px + (11 - 5) * ((100vw - 320px) / (1920 - 320)));
                border-top: 1px solid #dddddd52;
                padding-top: calc(5px + (11 - 5) * ((100vw - 320px) / (1920 - 320)));
            }
        }

    }

    .vertical-product-box {
        display: flex;
        position: relative;

        .close-button {
            border: none;
            padding: 0;
            position: absolute;
            top: 8px;
            right: 0;
            font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--content-color), 1);
        }

        .product-image {
            padding-block: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
            padding-left: 0;
            @include pseudowh($width: calc(94px + (111 - 94) * ((100vw - 320px) / (1920 - 320))), $height: calc(94px + (111 - 94) * ((100vw - 320px) / (1920 - 320))));

            img {
                @extend %img-contain;
            }
        }

        .product-content {
            width: calc(100% - calc(94px + (111 - 94) * ((100vw - 320px) / (1920 - 320))));
            padding-top: calc(0px + (11 - 0) * ((100vw - 320px) / (1920 - 320)));

            a {
                color: rgba(var(--title-color), 1);

                .name {
                    color: rgba(var(--title-color), 1);
                    margin-bottom: calc(0px + (4 - 0) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 500;
                }
            }

            .price {
                margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
                color: rgba(var(--theme-green), 1);
                font-weight: 500;

                del {
                    color: rgba(var(--content-color), 1);
                    margin-left: 3px;
                }
            }

            .quantity-box {
                padding: 5px;
                width: 80px;
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 8px;
                right: 0;
                background-color: rgba(var(--content-color), 0.05);

                @include mq-max(md) {
                    display: none;
                }

                .btn {
                    padding: 0;
                    border: none;
                    width: 100%;
                }

                span {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }

            .cart-btn {
                padding: 7px 15px;
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 8px;
                right: 0;
                background-color: rgba(var(--content-color), 0.05);
                font-size: 14px;
                overflow: hidden;

                @include mq-max(md) {
                    padding: 7px 10px;
                    line-height: 1;
                }

                &::before {
                    @include pos;
                    bottom: 0;
                    left: 0;
                    @include pseudowh($width: 0, $height: 2px);
                    background-color: rgba(var(--content-color), 1);
                    transition: .5s;
                }

                &:hover {
                    color: rgba(var(--title-color), 1);

                    &::before {
                        width: 100%;
                    }
                }

                span {
                    display: block;

                    @include mq-max(md) {
                        display: none;
                    }
                }

                i {
                    display: none;

                    @include mq-max(md) {
                        display: block;
                    }
                }
            }
        }
    }
}