.btn {
    padding: calc(7px + (10 - 7) * ((100vw - 320px) / (1920 - 320))) calc(18px + (23 - 18) * ((100vw - 320px) / (1920 - 320)));
    border: none;
    font-weight: 500;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    z-index: 0;
    transition: 0.5s;
    border-radius: 0;

    &-warning {
        background-color: rgba(var(--theme-color), 1);
        color: rgba(var(--white), 1);

        &::before {
            @include pos;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(var(--theme-color), 0.5);
            z-index: -1;
            transition: 0.5s;
        }

        &:hover {
            color: rgba(var(--white), 1);

            &::before {
                top: 5px;
                left: 5px;
            }
        }
    }

    &-border-white {
        border: 1px solid rgba(var(--white), 1);
        color: rgba(var(--white), 1);
        background-color: transparent;

        &:hover {
            background-color: rgba(var(--white), 1);
            color: rgba(var(--title), 1);
        }
    }
}

.btn-2 {
    padding: 10px 23px;
    border: none;
    font-weight: 500;
    display: inline-block;
    font-size: 16px;
    color: rgba(var(--title), 1);
    border-radius: 0;

    &.btn-yellow {
        background-color: rgba(var(--yellow), 1);
    }
}

.btn-sm {
    font-weight: 400;
    font-size: 14px;
    padding: 5px 20px;
}