.title-flex {
    h3 {
        display: flex;
        align-items: center;
        gap: 4px;

        i {
            line-height: 1;
        }

        span {
            font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--danger), 1);

            &.small-title {
                font-size: 16px;
                color: rgba(var(--content), 1);
            }
        }

        @include mq-max(md) {
            display: block;
        }
    }
}

.title {
    margin-bottom: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    gap: calc(6px + (15 - 6) * ((100vw - 320px) / (1920 - 320)));

    >div {
        display: flex;
        align-items: center;
        gap: calc(6px + (15 - 6) * ((100vw - 320px) / (1920 - 320)));
        flex-wrap: wrap;
    }

    h3 {
        font-weight: 500;
        text-transform: capitalize;
        font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
    }

    p {
        font-weight: 500;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        color: rgba(var(--content), 1);

        @include mq-max(lg) {
            display: none;
        }
    }

    a {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        color: rgba(var(--content), 1);
        display: flex;
        align-items: center;

        @include mq-max(sm) {
            display: none;
        }
    }

    &.title-timer {
        .timer {
            background-color: rgba(var(--theme-color-2), 1);
            border-radius: 3px;
            padding: 12px 10px;
            color: rgba(var(--white), 1);
            display: flex;
            align-items: center;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;

            @media (max-width: 500px) {
                display: none;
            }

            span {
                line-height: 1;
            }

            ul {
                margin-left: 4px;
                line-height: 1;

                li {
                    .counter {
                        display: flex;
                        align-items: center;
                    }

                    +li {
                        .counter {
                            position: relative;

                            &::before {
                                content: ":";
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.title-nav-pills {
    flex-wrap: nowrap;
    align-items: center;
    gap: calc(7px + (20 - 7) * ((100vw - 320px) / (1920 - 320)));
    overflow: auto;

    .nav-item {
        .nav-link {
            background-color: transparent;
            white-space: nowrap;
            font-weight: 400;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            padding-top: 0;
            color: rgba(var(--content), 1);
            padding-inline: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
            padding-bottom: calc(3px + (6 - 3) * ((100vw - 320px) / (1920 - 320)));
            border-bottom: 2px solid transparent;
            border-radius: 0;
            position: relative;

            &::before {
                @include pos;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: rgba(var(--content), 1);
                transition: 0.5s ease-in-out;
            }

            &:hover {
                &::before {
                    width: 100%;
                    background-color: rgba(var(--blue), 1);
                }
            }

            &.active {
                border-bottom: 2px solid rgba(var(--blue), 1);
                color: rgba(var(--blue), 1);
            }
        }
    }
}

.slider-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .swiper-btn-next,
    .swiper-btn-prev {
        position: relative;
        inset: unset;
        width: 36px;
        height: 36px;
        background-color: #F5F6F9;
        border-radius: 12px;
        font-size: 23px;
        margin: 0;
        color: rgba(var(--title), 1);

        &::after {
            content: none;
        }
    }
}