/*=====================
    Variables start
==========================*/
:root {
    --theme-color: 42, 99, 84;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
}

.theme-color-1 {
    --theme-color: 35, 51, 83;
    --theme-color2: 52, 77, 84;
    --gradient: linear-gradient(147.23deg, rgba(var(--theme-color), 1) 10.7%, rgba(var(--theme-color2), 1) 85.56%);
    --title: 22, 65, 80;
    --yellow: 255, 206, 31;
    --orange: 245, 162, 0;
    --content: 157, 172, 177;
}

// $black: #000000;
// $white: #ffffff;
$title-color: #222222;

// Content Color
$main-content: #afafaf;
$light-gray: #ECECEC;
$dark-green: #164150;
$border-color: #efefef;


// Fonts
$montserrat: 'Montserrat',
sans-serif;
$inter: 'Inter',
sans-serif;