@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -20px;
    }
}

@keyframes blink {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.1;
    }
}

@keyframes plane-animation {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}