{% extends 'base/base-furniture.html' %}
{% load static %}
{% load sass_tags %}

{% block components %}


<!-- Loader div Start -->
<div class='loader-wrapper' id="loaderWrapper">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<!-- Loader div End -->

{% include 'components/header/furniture-header.html' %}
{% include 'components/mobile-fix-menu/mobile-fix-menu-2.html' %}
{% include 'components/slidebar-section/furniture-slidebar-section.html' %}
{% include 'components/banner-section/furniture-banner-image.html' %}
{% include 'components/new-arrival-section/furniture-new-arrival-section.html' %}
{% include 'components/deal-of-the-day/furniture-deal-of-the-day.html' %}
{% include 'components/product-section/furniture-product-slider-section.html' %}
{% include 'components/product-section/furniture-product-section.html' %}
{% include 'components/banner-section/furniture-tab-banner-section.html' %}
{% include 'components/instagram-shop-section/furniture-instagram-shop-section.html' %}
{% include 'components/service-section/service-section-1.html' %}
{% include 'components/footer/footer-1.html' %}

{% endblock components %}
