/**=====================
    footer css start
==========================**/
footer {
    margin-top: $section-spacing;
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-down(xl) {
        margin-top: 70px;
    }

    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }

    a {
        color: rgba(var(--dropdown-item-text-color), 1);
        text-transform: capitalize;

        &:hover {
            color: $primary;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    .footer-main {
        padding: $section-spacing 0;

        @include media-breakpoint-down(xl) {
            padding: 70px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 50px 0;
        }

        .row {
            >div {
                &:first-child {
                    @include media-breakpoint-down(lg) {
                        order: -1;
                    }
                }

                &:last-child {
                    @include media-breakpoint-down(lg) {
                        order: -1;
                    }
                }
            }
        }
    }

    .contact-details {
        p {
            margin-top: 30px;

            @include media-breakpoint-down(md) {
                margin-top: 15px;
            }
        }
    }

    .footer-link-container {
        padding-left: 40px;
        margin-bottom: -5px;

        @include media-breakpoint-down(xl) {
            padding-left: 0;
        }

        h4 {
            display: inline-block;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 25px;

            @include media-breakpoint-down(md) {
                margin-bottom: 10px;
                padding-bottom: 16px;
            }

            &::before,
            &::after {
                position: absolute;
                content: "";
                background-color: rgba(var(--title-bottom-border-color), 1);
                height: 1px;
                left: 0;
            }

            &::before {
                width: calc(100% + 10px);
                bottom: 7px;
            }

            &::after {
                width: calc(100% - 30px);
                bottom: 0;
            }
        }

        .footer-lists {
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    .form-footer {
        position: relative;

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            padding: 6px 20px;
        }

        input {
            padding-right: 90px;
        }
    }

    .sub-footer {
        padding: 15px 0;
        border-top: 1px solid rgba(var(--title-bottom-border-color), 1);

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        ul {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: flex-end;

            @include media-breakpoint-down(md) {
                justify-content: center;
            }

            @include media-breakpoint-down(sm) {
                gap: 10px;
            }
        }
    }
}

/**=====================
    footer css end
==========================**/