.custom-nav-pills {
    flex-wrap: nowrap;
    gap: 48px;

    .nav-item {
        .nav-link {
            color: #8E9CBE;
            font-weight: 500;
            font-size: 20px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 6px;
            padding: 0;
            transition: all .3s ease-in-out;
            border-bottom: 3px solid transparent;
            border-radius: 0;
            padding-bottom: 11px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 3px;
                background-color: #3a6fff;
                transition: width .3s ease-in-out;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 3px;
                left: 0;
                width: 0%;
                height: 10px;
                background: linear-gradient(180deg, rgba(58, 111, 255, 0) 0%, #3A6FFF 178.05%);
                transition: width .3s ease-in-out;
            }

            svg {
                width: 17px;
                height: 17px;
                fill: #8E9CBE;
                transition: all .3s ease-in-out;
            }

            &:hover {
                color: #fff;
                background-color: transparent;

                svg {
                    fill: #fff;
                }
            }

            &.active {
                color: #fff;
                background-color: transparent;

                &::after,
                &::before {
                    width: 100%;
                }

                svg {
                    fill: #fff;
                }
            }
        }
    }
}

.custom-tab-content {
    .bid-tab {
        .bid-list {
            background: #212839;
            box-shadow: inset 0px 2px 4px rgba(165, 185, 231, 0.2);
            border-radius: 5px;
            padding: 40px 30px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            li {
                width: 100%;
                position: relative;

                +li {
                    padding-left: 52px;
                    border-left: 1px solid rgba(142, 156, 190, 0.3);
                }

                .profile-verify {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 10px;

                    .image-box {
                        position: relative;

                        .verify-image {
                            width: 43px;
                            height: 43px;
                            border-radius: 100%;
                            overflow: hidden;

                            .author-image {
                                background: #171F2E;
                                border: double 2px transparent;
                                border-radius: 80px;
                                display: inline-block;

                                background: {
                                    image: linear-gradient(#171F2E, #171F2E),
                                        linear-gradient(180deg, #758CFD 0%, rgba(53, 74, 183, 0) 100%);
                                    origin: border-box;
                                    clip: content-box,
                                        border-box;
                                }
                            }
                        }
                    }

                    .content-box {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 7px;

                        h5 {
                            width: 100%;
                            font-weight: 500;
                            font-size: 16px;
                            margin: 0;
                            color: #8E9CBE;

                            span {
                                color: rgba(var(--white), 1);
                            }
                        }
                    }
                }
            }
        }
    }

    .offer-tab {
        .offer-table {
            border-radius: 0px 0px 5px 5px;
            overflow: hidden;

            thead {
                tr {
                    background-color: #2E374D;
                    box-shadow: inset 0px 2px 4px rgba(165, 185, 231, 0.2);
                    border-radius: 5px;

                    th {
                        color: #fff;
                        font-weight: 500;
                        font-size: 18px;
                        border: none;
                        padding: 16px 40px;
                    }
                }
            }

            tbody {
                tr {
                    background: rgb(33, 40, 57);
                    box-shadow: inset 0px -2px 4px rgba(165, 185, 231, 0.1);
                    border-radius: 0px 0px 5px 5px;

                    td {
                        padding: 16px 40px;
                        color: #8E9CBE;
                        font-weight: 500;
                        font-size: 16px;
                        padding: 16px 40px;
                        border: none;

                        .table-eth {
                            color: #3A6FFF;
                            display: flex;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    .price-chart-box {
        background: #212839;
        box-shadow: inset 0px 2px 4px rgba(165, 185, 231, 0.2);
        border-radius: 5px;
        padding: 26px 30px;

        .top-price-graph {
            display: flex;
            align-items: center;
            margin-bottom: 37px;

            .price-dropdown {
                button {
                    border: 1px solid rgba(142, 156, 190, 0.5);
                    border-radius: 5px;
                    padding: 14px 19px;
                    font-size: 14px;
                    padding-right: 26px;
                    color: #8E9CBE;

                    &::after {
                        margin-left: 11px;
                        color: #8E9CBE;
                    }
                }
            }

            .price-graph {
                margin-left: 18px;

                li {
                    +li {
                        margin-left: 26px;
                    }

                    h5 {
                        font-weight: 500;
                        font-size: 16px;
                        margin-bottom: 7px;
                    }

                    h6 {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0;
                        gap: 6px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #FDBF00;

                        svg {
                            height: 8px;
                            width: 8px;
                            display: block;
                            fill: #FDBF00;
                        }
                    }
                }
            }
        }

        .price-chart {
            position: relative;

            .overview-wrapper {
                z-index: 1;
                position: relative;

                .apexcharts-text {
                    fill: #8E9CBE;
                }
            }

            .back-bar-container {
                position: absolute;
                bottom: 24px;
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0.15;
            }
        }
    }

    .properties-list-box {
        background: #212839;
        box-shadow: inset 0px 2px 4px rgba(166, 186, 232, 0.2);
        border-radius: 5px;
        padding: 40px 30px;
        display: flex;
        align-items: center;

        .properties-list {
            width: 40%;

            &.list-2 {
                li {
                    h5 {
                        .name {
                            width: 90px;
                        }
                    }
                }
            }

            +.properties-list {
                padding-left: 34px;
                margin-left: 34px;
                border-left: 1px solid rgba(142, 156, 190, 0.3);
            }

            li {
                width: 100%;

                +li {
                    margin-top: 18px;
                }

                h5 {
                    font-size: 16px;
                    color: #8E9CBE;
                    margin: 0;

                    .name {
                        width: 150px;
                        display: inline-block;
                    }

                    .dots {
                        margin-inline: 23px;
                    }

                    .content {
                        color: #3A6FFF;
                    }
                }
            }
        }
    }

    .tab-detail {
        .detail-box {
            background-color: #212839;
            box-shadow: inset 0px 2px 4px rgba(165, 185, 231, 0.2);
            border-radius: 5px;
            padding: 30px;

            .detail-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 25px;
                margin-bottom: 24px;

                &:last-child {
                    margin-bottom: 0;
                }

                li {
                    a {
                        padding: 16px 30px;
                        display: block;
                        border: 1px solid rgba(142, 156, 190, 0.5);
                        border-radius: 5px;
                        text-align: center;

                        h6 {
                            font-size: 14px;
                            color: #8E9CBE;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                        }

                        h5 {
                            font-size: 16px;
                            text-transform: uppercase;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .activities-tab-box {
        padding: 18px 30px 16px;
        background-color: #212839;
        box-shadow: inset 0px 2px 4px rgba(165, 185, 231, 0.2);
        border-radius: 5px 5px 0 0;

        .activities-tab {
            flex-wrap: nowrap;
            gap: 10px;

            .nav-item {
                .nav-link {
                    padding: 11px 19px;
                    border: 1px solid rgba(142, 156, 190, 0.5);
                    border-radius: 5px;
                    color: #8E9CBE;
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    &.active {
                        color: #fff;
                        border-color: transparent;

                        svg {
                            fill: #fff;
                        }
                    }

                    svg {
                        width: 13px;
                        height: 13px;
                        fill: #8E9CBE;
                    }
                }
            }
        }
    }

    .activities-table {
        .activities-table {
            border-radius: 0px 0px 5px 5px;
            overflow: hidden;
            margin-bottom: 0;

            thead {
                tr {
                    background-color: #2E374D;
                    box-shadow: inset 0px 2px 4px rgba(165, 185, 231, 0.2);
                    border-radius: 5px;

                    th {
                        color: #fff;
                        font-weight: 500;
                        font-size: 18px;
                        border: none;
                        padding: 16px 40px;
                    }
                }
            }

            tbody {
                tr {
                    background: rgb(33, 40, 57);
                    box-shadow: inset 0px -2px 4px rgba(165, 185, 231, 0.1);
                    border-radius: 0px 0px 5px 5px;

                    td {
                        padding: 16px 40px;
                        color: #3A6FFF;
                        font-weight: 500;
                        font-size: 16px;
                        padding: 16px 40px;
                        border: none;

                        &:nth-child(2) {
                            color: #FDBF00;
                        }

                        .table-event {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            color: #fff;

                            svg {
                                height: 13px;
                                width: 13px;
                                fill: #fff;
                            }
                        }

                        .date {
                            display: flex;
                            align-items: center;
                            gap: 9px;

                            svg {
                                fill: transparent;
                                stroke: #3A6FFF;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}