.bg-white {
    background-color: rgba(30, 30, 30, 1) !important;
}

h1 {
    color: rgba(255, 255, 255, 1);
}

.chrity-team-section {

    .left-quote,
    .right-quote {
        opacity: 0.1;
    }
}

.title-style-3 {
    img {
        filter: invert(1);
    }
}

.marketing-testimonials-section {

    .swiper-button-next,
    .swiper-button-prev {
        img {
            filter: brightness(0) invert(1);
        }
    }
}

.design-team-section,
.design-testimonials-section,
.event-testimonials-section,
.event-blog-section,
.portfolio-blog-section,
.portfolio-testimonial-section {

    .swiper-button-next,
    .swiper-button-prev {
        &::after {
            filter: brightness(0) invert(1);
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    img {
        filter: invert(1);
    }

    &::after {
        filter: invert(1);
    }
}

.charity-service {
    .service-list {
        .service-item {
            .service-item-img {
                box-shadow: 0px 4px 20px 0px #292727;
            }
        }
    }
}

.about-img {
    line {
        span {
            background: #1c1c1c;
        }
    }
}

.consultancy-testimonials-section {
    .swiper-slide-active {
        border-right-color: #353535;
    }
}

.design-testimonials-section {
    .testimonials-box {
        box-shadow: 0px 4px 15px 0px rgb(47 47 47 / 8%),
            0px -4px 12px 0px rgb(0 0 0 / 6%);

        &::after {
            filter: invert(0.9);
        }
    }
}

.design-form {
    .form-control {
        border: 1px solid rgba(var(--border-color), 0.1);
    }
}

.event-vision-section {
    .vision-box {
        background: #212122;
    }
}

.event-tab-section {
    .schedule-list {
        .schedule-item {
            background: #212122 !important;
        }
    }
}

.event-price-section {
    .price-box {
        background: #212122;

        &.active {
            background: rgba(var(--theme-color), 1);
        }
    }
}

.event-form {
    background: #181818;

    .contact-info {

        .form-control,
        .form-select {
            background: #1e1e1e;
        }
    }
}

.marketing-feature-section {
    .feature-box {
        .feature-icon img {
            filter: brightness(0) invert(0.5);
        }
    }
}

.marketing-home-section {
    .home-img {
        img {
            filter: brightness(0.3);
        }
    }
}

.marketing-history-section {
    .history-list {
        .history-item {
            box-shadow: 0px 0px 6px 0px rgb(42 42 44) !important;

            .border-box {
                box-shadow: 0px 0px 2px 4px rgb(42 42 44) !important;

                &::after {
                    box-shadow: 0px 0px 2px 4px rgb(42 42 44) !important;
                }

                .history-icon {
                    &::after {
                        background-color: #49494c !important;
                    }

                    img {
                        filter: brightness(0) invert(0.5);
                    }
                }
            }
        }
    }
}

.marketing-blog-section {
    .blog-box {
        box-shadow: 0px 2px 20px 0px #141414;
    }
}

.design-about-section {
    .about-content {
        .about-list {
            li {
                h4 {
                    box-shadow: 0px 4px 16px 0px rgb(24 24 26 / 72%);
                }
            }
        }
    }
}

.marketing-price-section {
    .price-box {
        &.active {
            box-shadow: 0px 2px 20px 0px #121212;
        }
    }
}

.marketing-testimonials-section {
    .testimonials-box {
        box-shadow: 0px 2px 20px 0px #141414;

        .quote-img {
            filter: brightness(0.2);
        }
    }
}

.marketing-contact-section {
    .conatct-box {
        box-shadow: 0px 2px 20px 0px #141414 !important;

        .headphone-box {
            box-shadow: 1px 1px 16px 4px #10101070 !important;
        }

        .call-box {
            box-shadow: 1px 1px 16px 4px #10101070 !important;
        }
    }
}

.portfolio-logo-section {
    .logo-img {
        img {
            filter: invert(1);
        }
    }
}

.portfolio-testimonial-section {
    .testimonials-box {
        background: #272727;
        box-shadow: none;
    }
}

.startup-home-section {
    .home-btn {
        .btn-solid {
            &:hover {
                img {
                    filter: brightness(1) !important;
                }
            }
        }
    }
}

.startup-service {
    .service-box {
        border: 2px solid rgba(var(--border-color), 0.2);
        box-shadow: 4px 4px 40px 0.5px #00000052;

        &:hover {
            .service-icon {
                background: rgba(var(--white), 1);
            }
        }

        .service-icon {
            background: #283737;
        }
    }
}

.design-about-section {
    .about-list {
        li {
            h4 {
                box-shadow: 0px 4px 16px 0px rgb(26 26 26);
            }
        }
    }
}

.startup-testimonials,
.w-home-section,
.w-team-planner {

    .swiper-button-next,
    .swiper-button-prev {
        &::after {
            filter: invert(0);
        }
    }
}

.digital-contact-agency {
    .contact-box {
        background: #3535353b;
    }
}

.digital-contact-agency {
    .contact-box {
        .contact-line {
            filter: invert(0.8);
        }
    }
}

.shop-category-filter {
    .category-filter {
        .dropdown {
            .dropdown-menu {
                background: #323438;
            }
        }
    }
}

.startup-team {
    .team-img {
        box-shadow: 25px 25px 45px 0 #161414;
    }
}

.contact-page-section {
    .contact-list-box {
        box-shadow: 0px 4px 16px 0px rgb(4 4 4 / 23%);
    }
}

.box-line {
    filter: brightness(0.2) !important;
}

.seo-step-section {
    .step-box {
        .step-title {
            img {
                filter: invert(0.2);
            }
        }
    }
}

.seo-testimonials-slider {

    .swiper-button-next,
    .swiper-button-prev {
        &::after {
            filter: invert(0.2);
        }
    }
}

.ad-service-box {
    &:hover {
        background: #9393931a;
    }
}

.consultancy-step-section {
    .step-box {
        &:hover {
            .steps-circle {
                .step-number {
                    background: #3b3b3b;
                }
            }

            .step-content {
                background: #e5e1e11a;
            }
        }
    }
}

.event-logo-section {
    .logo-img {
        img {
            filter: brightness(0.5) invert(0.5);
        }
    }
}

.event-tab-section {
    .schedule-list {
        .schedule-item {
            .host-list {
                border-right-color: #4f4f4f !important;
                border-left-color: #4f4f4f !important;
            }
        }
    }
}

.wedding-story-section {
    .story-line {
        .story-icon {
            background: #1c1c1c;
        }
    }
}