/**=====================
     Variables CSS
==========================**/
// Color
:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --title: 32, 35, 38;
    --content: 94, 98, 120;
    --Icon-Size: 20px;
    --Icon-Color: rgba(var(--title), 1);
    --dark-yellow: 255, 168, 0;
    --light-blue: 242, 243, 248;
    --danger: 255, 75, 85;
}

.demo-color-1 {
    --dark-blue: 19, 25, 33;
    --light-blue-2: 32, 44, 60;
    --blue: 34, 66, 163;
    --theme-color: 255, 153, 0; //Yellow color
    --theme-color-2: 255, 75, 85; // Red color
    --dark-yellow: 255, 168, 0;
    --success: 23, 156, 92;
    --gradient-red: linear-gradient(148.06deg, #FF4545 17.12%, #831515 73.72%);
}

.demo-color-2 {
    --blue: 16, 89, 255;
    --sky-blue: 39, 119, 252;
    --danger: 255, 57, 57;
    --theme-color: 254, 229, 1;
    --success: 70, 147, 71;
    --dark: 21, 21, 21;
    --grey: 217, 217, 217;
}

.demo-color-3 {
    --theme-color: 7, 84, 79;
    --warning: 255, 199, 0;
    --danger: 255, 84, 82;
    --light-success: 244, 250, 249;
    --dark: 21, 21, 21;
    --gradient-color: linear-gradient(274.63deg, rgba(var(--danger), 1) 13.1%, rgba(var(--warning), 1) 174.18%); //warning - danger color
}

.demo-color-4 {
    --theme-color: 34, 66, 163;
    --light-blue: 33, 157, 171;
}

// Font Family List
$br-hendrix: "BR Hendrix";
$dancing-script: 'Dancing Script',
cursive;

// Breakpoints
$min-breakpoints: (lg: 992px,
    xl: 1200px,
    2xl: 1366px,
);

$max-breakpoints: (2xs: 360px,
    xs: 480px,
    sm: 575px,
    md: 767px,
    lg: 991px,
    xl: 1199px,
    2xl: 1366px,
    3xl: 1400px,
    4xl: 1660px,
);




// /*common variables*/
:root {
    --white: 255, 255, 255; //#ffffff
    --black: 0, 0, 0; //#000000
    /*  for demo 1  */
    --base-gray: 242, 243, 248; //#f2f3f8
    --theme-color: 255, 153, 0; //#ff9900
    --theme-color2: 251, 57, 57; //#fb3939
    --theme-green: 70, 147, 71; //469347
    --title-color: 32, 35, 38; //#202326
    --content-color: 94, 98, 120; //5e6278
}

.demo-1 {
    --theme-blue: 32, 44, 60; //#202C3C
    --theme-blue-dark: 19, 25, 33; //#131921
}

/* for demo 2 */
.demo-2 {
    --theme-color: 254, 229, 1; //#FEE501
    --theme-color2: 251, 57, 57; //#fb3939
    --theme-color3: 39, 119, 252; //#2777FC
}

.demo-3 {
    --theme-color: 255, 186, 10; //#FFBA0A
    --theme-color2: 255, 57, 57; //#FF3939
    --theme-color3: 7, 84, 79; //#07544F
}


// .text-theme-color {
//     color: rgba(var(--theme-color), 1) !important;
// }

// .text-theme-color2 {
//     color: rgba(var(--theme-color2), 1) !important;
// }

// .text-theme-red {
//     color: rgba(var(--theme-red), 1) !important;
// }

// .text-theme-green {
//     color: rgba(var(--theme-green), 1) !important;
// }

// .text-theme-title {
//     color: rgba(var(--title-color), 1) !important;
// }

// .text-theme-content {
//     color: rgba(var(--content-color), 1) !important;
// }

.theme-bg-color {
    background-color: rgba(var(--theme-color3), 1) !important;
}