/*=====================
    Variables start
==========================*/
:root {
    --theme-color: 42, 99, 84;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --light-bg: 248, 248, 248;
}

.theme-color-1 {
    --theme-color: 35, 51, 83;
    --theme-color2: 52, 77, 84;
    --gradient: linear-gradient(147.23deg, rgba(var(--theme-color), 1) 10.7%, rgba(var(--theme-color2), 1) 85.56%);
    --title: 22, 65, 80;
    --yellow: 255, 206, 31;
    --orange: 245, 162, 0;
    --content: 157, 172, 177;
    --border-color: 238, 238, 238;
    --danger: 207, 0, 0;
}

.chatting-color {
    --theme-color: 205, 233, 221;
    --grey: 238, 238, 238;
    --title: 56, 72, 73;
    --content: 132, 143, 143;
    --border-color: 132, 143, 143;
}

.cab-booking-color {
    --theme-color: 255, 187, 18;
    --dark: 28, 26, 26;
    --light-gray: 196, 196, 196;
    --title: 62, 62, 62;
    --content: 188, 188, 188;
    --border: 217, 217, 217;
    --gradient: linear-gradient(270deg, rgba(255, 160, 0, 1) -5.38%, rgba(255, 213, 79, 1) 100%);
    --gradient2: linear-gradient(180deg, rgba(35, 37, 38, 1) 0%, rgba(65, 67, 69, 1) 100%);
}

.food-color {
    --yellow: 255, 187, 18;
    --title: 67, 52, 23;
    --content: 188, 188, 188;
    --primary: 254, 175, 24;
}

$title-color: #222222;

// Content Color
$main-content: #afafaf;
$light-gray: #ECECEC;
$dark-green: #164150;
$border-color: #efefef;


// Fonts
$montserrat: 'Montserrat',
sans-serif;
$inter: 'Inter',
sans-serif;
$rubik: 'Rubik',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$lato: 'Lato',
sans-serif;
$oleo: 'Oleo Script Swash Caps',
cursive;
$fontawesome: "Font Awesome 6 Free";

// Drop shadow css
$drop-shadow: 0px 0px 6px rgba(213, 213, 213, 0.19);

// Shadows css
$shadow2: 2px 3px 6px rgba(192, 192, 192, 0.19);
$shadow3: 2px 3px 6px rgba(213, 213, 213, 0.19);

// Breakpoints
$max-breakpoints: (md: 600px);