{% load static %}
{% load sass_tags %}
{% block footer %}
<!-- footer start -->
<footer class="footer-sm-space">
    <div class="main-footer">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-contact">
                        <div class="brand-logo">
                            <a href="{% url 'index_default' %}" class="footer-logo">
                                <svg class="svg-icon">
                                    <use xlink:href="{% static 'assets/svg/icons.svg' %}#logo"></use>
                                </svg>
                                <img loading="lazy" src="{% static 'assets/images/logo.png' %}"
                                    class="img-fluid blur-up lazyload" alt="logo">
                            </a>
                        </div>

                        <ul class="contact-lists">
                            <li>
                                <span>
                                    <b>phone:</b> <span class="font-light"> {{admin.adminContact}}</span>
                                </span>

                            </li>
                            <li>
                                <span>
                                    <b>Address:</b><span class="font-light">{{admin.adminAddress}} </span>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <b>Email:</b><span class="font-light"> {{admin.admin.email}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-links">
                        <div class="footer-title">
                            <h3>About us</h3>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li>
                                    <a href="{% url 'index_default' %}" class="font-dark">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'shop_left_slidebar' %}" class="font-dark">Shop</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact_us' %}" class="font-dark">About Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'listing' %}" class="font-dark">Blog</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact_us' %}" class="font-dark">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-links">
                        <div class="footer-title">
                            <h3>New Categories</h3>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li>
                                    <a href="{% url 'shop_left_slidebar' %}" class="font-dark">Latest Shoes</a>
                                </li>
                                <li>
                                    <a href="{% url 'shop_left_slidebar' %}" class="font-dark">Branded Jeans</a>
                                </li>
                                <li>
                                    <a href="{% url 'shop_left_slidebar' %}" class="font-dark">New Jackets</a>
                                </li>
                                <li>
                                    <a href="{% url 'shop_left_slidebar' %}" class="font-dark">Colorfull Hoodies</a>
                                </li>
                                <li>
                                    <a href="{% url 'shop_left_slidebar' %}" class="font-dark">Shiner Goggles</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-links">
                        <div class="footer-title">
                            <h3>Get Help</h3>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li>
                                    <a href="{% url 'user_dashboard'  %}" class="font-dark">Your Orders</a>
                                </li>
                                <li>
                                    <a href="{% url 'user_dashboard'  %}" class="font-dark">Your Account</a>
                                </li>
                                <li>
                                    <a href="{% url 'user_dashboard' %}" class="font-dark">Track Orders</a>
                                </li>
                                <li>
                                    <a href="{% url 'wishlist_page' %}" class="font-dark">Your Wishlist</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="font-dark">Shopping FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6 d-none d-sm-block">
                    <div class="footer-newsletter">
                        <h3>Got Qustion ? Call Us 24/7</h3>
                        <div class="footer-number">
                            <div class="footer-number-image">
                                <img loading="lazy" src="{% static 'assets/images/shoes/other/headphone.png' %}"
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>

                            <div class="footer-number-container">
                                <h3>+91 98765 43210</h3>
                            </div>
                        </div>

                        <div class="footer-details">
                            <p class="font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ab
                                dolorem nulla
                                impedit saepe esse et? Ea, totam recusandae doloribus ipsa esse voluptate quis nisi?
                                Voluptate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row gy-3">
                <div class="col-md-6">
                    <ul>
                        <li class="font-dark">We accept:</li>
                        <li>
                            <a href="javascript:void(0)">
                                <img loading="lazy" src="{% static 'assets/images/payment-icon/1.jpg' %}"
                                    class="img-fluid blur-up lazyload" alt="payment icon"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img loading="lazy" src="{% static 'assets/images/payment-icon/2.jpg' %}"
                                    class="img-fluid blur-up lazyload" alt="payment icon"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img loading="lazy" src="{% static 'assets/images/payment-icon/3.jpg' %}"
                                    class="img-fluid blur-up lazyload" alt="payment icon"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img loading="lazy" src="{% static 'assets/images/payment-icon/4.jpg' %}"
                                    class="img-fluid blur-up lazyload" alt="payment icon"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p class="mb-0 font-dark">© 2021, Voxo Theme. Made with heart by Pixelstrap</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
{% endblock footer %}