/*Datepicker */
#ui-datepicker-div {
    border: 1px solid #999;
    margin: 5px;
    padding: 10px;
    background-color: $white;
    box-shadow: -4px 6px 33px -9px rgba(0, 0, 0, 0.75);
    display: none;

    .ui-datepicker-next {
        float: right;
    }

    .i-datepicker-header {
        padding-bottom: 10px;

        a {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .ui-state-default {
        padding: 2px;
        margin: 2px;
        text-align: center;
    }

    a {
        &.ui-state-default {
            color: #e74c3c;
            text-decoration: underline;
            font-weight: 800;
        }
    }
}