/**=====================
     modal css start
==========================**/
.theme-modal {
    .modal-dialog {
        .modal-content {
            border: none;

            .modal-header {
                border-bottom: none;
                padding: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));

                .modal-title {
                    font-weight: 600;
                    font-size: 20px;
                }

                .btn-close {
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    background-color: var(--theme-color);
                    opacity: 1;
                    background-image: none;
                    border-radius: 4px;
                    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
                    color: $white;
                    margin: 0;
                    padding: 8px;
                    z-index: 1;

                    @include mq-max(sm) {
                        top: 0;
                        right: 0;
                    }
                }
            }

            .modal-footer {
                border: none;
                padding-top: 0;
                padding: 0 calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320))) calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}

.view-modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                padding: 40px;

                .right-sidebar-modal {
                    .title-name {
                        font-weight: 600;
                        margin-bottom: 20px;
                        font-size: 20px;
                    }

                    .brand-list {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 9px;
                        margin-top: 24px;

                        li {
                            width: 100%;

                            .brand-box {
                                display: flex;
                                align-items: center;

                                h5 {
                                    width: 125px;
                                    font-size: 14px;
                                    color: $content-color;
                                }
                            }
                        }
                    }

                    .price-box {
                        margin-top: 28px;

                        h4 {
                            font-weight: 700;
                            margin-bottom: 10px;
                            font-size: 19px;
                        }

                        p {
                            font-size: 15px;
                            line-height: 1.6;
                            margin: 0;
                            color: $content-color;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            overflow: hidden;
                        }
                    }

                    .select-product {
                        margin-top: 30px;

                        h4 {
                            font-size: 20px;
                            font-weight: 700;
                            margin-bottom: 10px;
                        }
                    }

                    .select-wight {
                        margin-top: 40px;

                        .stoke-box {
                            // display: flex;
                            // align-items: center;
                            // justify-content: flex-end;
                            @include flex_common ($dis: flex, $align: center, $justify: flex-end);
                            height: 100%;
                            flex-wrap: wrap;
                            gap: 6px;

                            .feather {
                                color: #61b33e;
                                width: 19px;
                                height: auto;
                            }

                            h6 {
                                font-size: 16px;
                                letter-spacing: 0.9px;
                                color: $content-color;
                            }
                        }
                    }

                    .add-cart-button {
                        background-color: $title-color;
                        color: $white;
                        width: 100%;
                        font-weight: 600;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

.location-modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                display: block;
                padding: 30px;
                padding-bottom: 0;

                p {
                    margin-bottom: 0;
                }
            }

            .modal-body {
                padding: 30px;
                // padding-bottom: 0;

                .location-list {
                    .search-input {
                        position: relative;

                        .form-control {
                            padding-left: 45px;

                            [dir="rtl"] & {
                                padding-left: unset;
                                padding-right: 45px;
                            }
                        }

                        i {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            padding: 0 15px;
                            font-size: 17px;
                            color: $content-color;

                            [dir="rtl"] & {
                                left: unset;
                                right: 0;
                            }
                        }
                    }

                    .location-select {
                        min-height: 230px;
                        max-height: 330px;
                        // overflow-x: hidden;
                        // overflow-y: scroll;
                        overflow: hidden scroll;
                        margin-top: 20px;

                        [dir="rtl"] & {
                            padding-left: unset;
                            padding-right: 0;
                        }

                        li {
                            display: block;

                            &.disabled-box {
                                display: flex;
                                align-items: center;
                                padding: 15px 14px;
                                border-bottom: 1px solid #ececec;

                                h6 {
                                    color: $content-color;
                                    transition: all .3s ease-in-out;
                                }

                                span {
                                    margin-left: auto;
                                    // margin-right: 10px;
                                    transition: all .3s ease-in-out;
                                    // color: $content-color;
                                    // font-size: 12px;
                                    // border: 1px solid $border-color;
                                    // padding: 5px 13px;
                                    // border-radius: 50px;
                                    font-size: 10px;
                                    font-weight: 500;
                                    border: 1px solid #e2e2ec;
                                    color: #9b9bb4;
                                    padding: 3px 10px;
                                    border-radius: 30px;

                                    [dir="rtl"] & {
                                        margin-right: auto;
                                        margin-left: unset;
                                    }
                                }
                            }

                            a {
                                display: flex;
                                align-items: center;
                                padding: 15px 14px;
                                border-bottom: 1px solid $border-color;
                                position: relative;
                                transition: all 0.3 ease-in-out;
                                z-index: 0;

                                &::after {
                                    @include pos;
                                    top: 0;
                                    left: 0;
                                    // width: 100%;
                                    // height: 100%;
                                    @include pseudowh;
                                    background-color: var(--theme-color);
                                    opacity: 0;
                                    transition: all 0.3s ease-in-out;
                                    z-index: -1;
                                }

                                &:hover {
                                    &::after {
                                        opacity: .2;
                                    }

                                    h6 {
                                        color: var(--theme-color);
                                    }

                                    span {
                                        border-color: transparent;
                                        background-color: var(--theme-color);
                                        color: $white;
                                    }
                                }

                                h6 {
                                    color: $title-color;
                                    transition: all .3s ease-in-out;
                                }

                                span {
                                    margin-left: auto;
                                    // margin-right: 10px;
                                    transition: all .3s ease-in-out;
                                    // color: $content-color;
                                    // font-size: 12px;
                                    // border: 1px solid $border-color;
                                    // padding: 5px 13px;
                                    // border-radius: 50px;
                                    font-size: 10px;
                                    font-weight: 500;
                                    border: 1px solid #e2e2ec;
                                    color: #9b9bb4;
                                    padding: 3px 10px;
                                    border-radius: 30px;

                                    [dir="rtl"] & {
                                        margin-right: auto;
                                        margin-left: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Remove Profile Modal Start
.remove-profile {
    .modal-dialog {
        .modal-content {
            .modal-header {
                justify-content: center;
                padding-bottom: 0;
            }

            .modal-body {
                .remove-box {
                    p {
                        // width: 80%;
                        text-align: center;
                        // font-size: 16px;
                        line-height: 1.6;
                        margin: 0;
                        color: $content-color;
                    }
                }
            }
        }
    }
}

// Remove Profile Modal End

// Offcanvas Modal Start
.pickup-offcanvas {
    .offcanvas-header {
        border-bottom: 1px solid $border-color;
        align-items: flex-start;

        .offcanvas-title {
            font-weight: 600;

            span {
                display: block;
                color: $content-color;
                font-size: 14px;
                font-weight: 400;
                margin-top: 4px;
            }
        }
    }

    .offcanvas-body {
        .check-box {
            margin-top: 10px;

            h6 {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 10px);
                align-items: center;
                // display: flex;
                // flex-wrap: wrap;
                // gap: 10px;
                font-size: 15px;
                color: $content-color;

                i {
                    font-size: 20px;
                }
            }
        }

        .address-box {
            margin-top: 18px;

            ul {
                li {
                    display: block;
                    font-size: 13px;
                    color: $content-color;
                }
            }
        }
    }
}

.categories-canvas {
    .offcanvas-header {
        padding: 24px;
        padding-bottom: 0;

        .offcanvas-title {
            font-size: 24px;
            font-weight: 700;
        }

        .close-button {
            border: none;
            font-size: 17px;
            padding: 0;
            // margin-right: 12px;
            background-color: #ddd;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            @include flex_common;
        }
    }

    .offcanvas-body {
        padding: 24px;
        margin-top: 13px;

        .categories-list {
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 25px;

                [dir="rtl"] & {
                    padding-left: unset;
                    padding-right: 0;
                }

                li {
                    display: block;
                    width: 100%;

                    a {
                        display: flex;
                        align-items: center;
                        color: $content-color;

                        h6 {
                            font-size: 17px;
                            font-weight: 500;
                        }

                        i {
                            margin-left: auto;

                            [dir="rtl"] & {
                                margin-left: unset;
                                margin-right: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}