/**=====================
     modal css start
==========================**/
.theme-modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                border-bottom: none;
                padding-bottom: 0;

                .modal-title {
                    font-weight: 600;
                    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                }

                .btn-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: var(--theme-color);
                    opacity: 1;
                    background-image: none;
                    border-radius: 4px;
                    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
                    color: $white;
                }
            }

            .modal-footer {
                border: none;
                padding-top: 0;
            }
        }
    }
}

// Offcanvas Modal Start
.pickup-offcanvas {
    .offcanvas-header {
        border-bottom: 1px solid $border-color;
        align-items: flex-start;

        .offcanvas-title {
            font-weight: 600;

            span {
                display: block;
                color: $content-color;
                font-size: 14px;
                font-weight: 400;
                margin-top: 4px;
            }
        }
    }

    .offcanvas-body {
        .check-box {
            margin-top: 10px;

            h6 {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 10px);
                // display: flex;
                align-items: center;
                // flex-wrap: wrap;
                // gap: 10px;
                font-size: 15px;
                color: $content-color;

                i {
                    font-size: 20px;
                }
            }
        }

        .address-box {
            margin-top: 18px;

            ul {
                li {
                    display: block;
                    font-size: 13px;
                    color: $content-color;
                }
            }
        }
    }
}