/**=====================
     Nav-tabs css start
==========================**/
.custom-nav {
    padding-left: 10px;
    gap: 10px;
    flex-wrap: wrap;

    .nav-item {
        .nav-link {
            background-color: $border-color;
            color: $content-color;
            // font-size: 20px;
            font-weight: 600;

            &.active {
                color: $title-color;
                background-color: $white;
            }
        }
    }
}


// Offer Table Section
.offer-table {
    margin-bottom: 0;
    border: 1px solid $border-color;
    table-layout: fixed;
    display: inherit;
    border-radius: 6px;

    tbody {
        tr {

            th,
            td {
                padding: 12px 16px;
            }

            th {
                width: 7%;
            }

            td {
                vertical-align: middle;

                &.offer-name {
                    width: 20%;
                }
            }
        }
    }
}

.custom-tab {
    padding-top: 30px;

    .nav-desh {
        margin-bottom: 30px;

        h4 {
            margin-bottom: 20px;
            font-weight: 600;
        }
    }

    .product-detail {
        .detail-title {
            h5 {
                font-weight: 600;
                color: $content-color;
                font-size: 17px;
                margin-bottom: 10px;
            }
        }

        .detail-list {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            li {
                display: flex;
                align-items: flex-start;
                color: $content-color;
                width: 100%;

                i {

                    font-size: 6px;
                    color: $content-color;
                    margin-right: 6px;
                    margin-top: 6px;
                }
            }
        }
    }

    .tab-pane {
        .product-description {
            p {
                margin-bottom: 20px;
                color: $content-color;
                line-height: 1.7;
            }
        }
    }

    .information-box {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 7px;

            li {
                color: $content-color;
                width: 100%;
                display: list-item;
                list-style-type: circle;
                margin-left: 35px;
            }
        }
    }

    .review-box {
        .review-title {
            margin-bottom: 18px;
        }

        .review-people {
            .review-list {
                flex-wrap: wrap;
                display: flex;
                gap: 26px;

                li {
                    display: block;

                    &.people-reply {
                        margin-left: 40px;
                    }

                    .people-box {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        border-radius: 10px;
                        border: 1px solid $border-color;
                        padding: 20px 26px;

                        &:hover {
                            .people-image {
                                img {
                                    border-radius: 8px;
                                }
                            }

                            .reply {
                                a {
                                    opacity: 1;
                                }
                            }
                        }

                        .people-image {
                            width: 70px;
                            height: 70px;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 100%;
                                object-fit: cover;
                                transition: all .3s ease-in-out;
                            }
                        }

                        .name {
                            display: block;
                            text-align: center;
                            margin-top: 10px;
                            font-weight: 600;
                            font-size: 15px;
                        }

                        .people-comment {
                            padding-left: 15px;
                            width: calc(100% - 70px);

                            .date-time {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;

                                h6 {
                                    font-size: 13px;
                                    color: #777;
                                }
                            }
                        }

                        .reply {
                            margin: 16px 0 0;
                            line-height: 1.6;
                            color: $content-color;

                            a {
                                opacity: 0;
                                margin-left: 8px;
                                font-weight: 600;
                                transition: all .3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}