.news-letter {
    .modal-dialog {
        .modal-content {
            // background-image: url(../images/news-letter-2.png);
            // background-position: center center;
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-color: #f7f6f4;
            background: linear-gradient(149.8deg, #F6F5F2 17.21%, #FBFAF9 79.21%);

            &.bg-background {
                background: linear-gradient(136.8deg, #F8F8F8 17.01%, #F6F6F6 93.97%);
            }

            .modal-body {
                padding: 0;
                border-radius: 8px;
                overflow: hidden;

                .news-letter-box {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;

                    .newsletter-contain {
                        // padding: 30px 0;
                        // display: flex;
                        // align-items: center;
                        padding: 30px;
                        text-align: center;

                        // text-align: center;
                        // justify-content: center;
                        // height: 100%;
                        h2 {
                            font-weight: 700;
                            margin-bottom: 9px;
                        }

                        .newsletter-detail {
                            margin-bottom: 22px;
                            font-size: 16px;
                            line-height: 1.6;
                            color: $content-color;
                        }

                        .news-input-box {
                            .sub-button {
                                color: $white;
                                background-color: $title-color;
                                margin-top: 0;
                                font-weight: 700;
                            }
                        }

                        .third-party-box {
                            margin-top: 17px;
                            font-size: 15px;
                            color: $content-color;
                        }
                    }
                }
            }
        }
    }
}