/**=====================
     ratio css start
==========================**/
.ratio_20 {
    .bg-size {
        &:before {
            content: "";
            padding-top: 20%;
            display: block;
        }
    }
}

.ratio_30 {
    .bg-size {
        &:before {
            content: "";
            padding-top: 30%;
            display: block;
        }
    }
}

.ratio_35 {
    .bg-size {
        &:before {
            content: "";
            padding-top: 35%;
            display: block;
        }
    }
}

.ratio_50 {
    .bg-size {
        &:before {
            content: "";
            padding-top: 50%;
            display: block;
        }
    }
}

.ratio_60 {
    .bg-size {
        &:before {
            content: "";
            padding-top: 60%;
            display: block;
        }
    }
}

.ratio_65 {
    .bg-size {
        &:before {
            content: "";
            padding-top: 65%;
            display: block;
        }
    }
}

.ratio_87 {
    .bg-size {
        &:before {
            content: "";
            padding-top: 87%;
            display: block;
        }
    }
}

.ratio_110 {
    .bg-size {
        &::before {
            content: "";
            padding-top: 110%;
            display: block;
        }
    }
}

.ratio_128 {
    .bg-size {
        &::before {
            content: "";
            padding-top: 128%;
            display: block;
        }
    }
}

.ratio_156 {
    .bg-size {
        &:before {
            content: "";
            padding-top: 156%;
            display: block;
        }
    }
}

.ratio_asos {
    .bg-size {
        &:before {
            content: "";
            padding-top: 127.7777778%;
            display: block;
        }
    }
}

.ratio_landscape {
    .bg-size {
        &:before {
            content: "";
            padding-top: 75%;
            display: block;
        }
    }
}

.ratio_medium {
    .bg-size {
        &:before {
            content: "";
            padding-top: 134%;
            display: block;
        }
    }
}