/**=====================
     footer css start
==========================**/
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
    background-color: var(--theme-color);
    padding: 0;
    // @include flex_common;
    border-radius: 5px;

    @include mq-max(md) {
        bottom: 76px;
    }

    a {
        @include flex_common;
        width: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320)));
        height: calc(42px + (50 - 42) * ((100vw - 320px) / (1920 - 320)));

        i {
            color: $white;
        }
    }
}