/**=====================
     title css start
==========================**/
.title-leaf {
    width: 140px;
    text-align: center;
    margin-top: 7px;
    position: relative;

    &::before {
        @include pos;
        @include center(vertical);
        left: 0;
        background-color: var(--theme-color);
        width: 100%;
        height: 1px;
        z-index: -1;
    }

    svg {
        background-color: $white;
        width: 45px;
        z-index: 1;
    }
}

.title {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    display: inline-block;
    position: relative;

    h2 {
        font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 700;
        color: $title-color;
        position: relative;

        // &::before {
        //     @include pos;
        //     bottom: -18px;
        //     left: 0;
        //     width: 70%;
        //     height: 1px;
        //     background-color: var(--theme-color);
        // }
    }

    p {
        margin: 10px 0 0;
        font-size: 16px;
        color: $content-color;
    }

    &-flex {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .timing {
            @include flex_common;
            background-color: $danger-color;
            color: $white;
            padding: 12px 11px;
            border-radius: 5px;

            i {
                -webkit-text-stroke: 1px $white;
                color: transparent;
                margin-right: 9px;
            }

            .name {
                font-weight: 600;
                margin-right: 8px;
            }

            .time {
                ul {
                    display: flex;
                    align-items: center;

                    // @include mq-max(2xs) {
                    //     justify-content: space-between;
                    // }

                    // @include mq-max(sm) {
                    //     margin-top: 12px;
                    //     justify-content: center;
                    // }

                    li {
                        position: relative;
                        // width: 20px;
                        // height: 50px;
                        // background-color: $border-color;
                        // padding: 8px;
                        @include flex_common;
                        // border-radius: 5px;

                        // @include mq-max(sm) {
                        //     width: 40px;
                        //     height: 40px;
                        // }

                        +li {
                            margin-left: 15px;

                            &::after {
                                content: ":";
                                font-weight: bolder;
                                position: absolute;
                                @include center(vertical);
                                left: -10px;
                            }
                        }

                        .counter {
                            h6 {
                                font-weight: 600;

                                // @include mq-max(sm) {
                                //     font-size: 15px;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
}