/**=====================
     alert css start
==========================**/
.alert-info {
    .btn-close {
        font-size: 10px;
    }

    @include mq-max(sm) {
        top: 0 !important;
        right: 0 !important;
        margin: 20px !important;
        width: calc(100% - 20px - 20px) !important;
    }
}

.progress-bar-info {
    background-color: $dark-green;
}

[data-notify="progressbar"] {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

.alert {
    .btn-close {
        [dir="rtl"] & {
            right: unset;
            left: 10px;
        }
    }
}