/* abstracts */
@import "abstracts/mixins";
@import "abstracts/variables";

/* base */
@import "base/reset";
@import "base/typography";

/* layout */
@import "layout/team";
@import "layout/navigation";
@import "layout/pricing";
@import "layout/counter";
@import "layout/testimonals";
@import "layout/form";
@import "layout/blog";
@import "layout/service";
@import "layout/portfolio";

/* components */
@import "components/buttons";
@import "components/ratio";
@import "components/tap-to-top";
@import "components/title";
@import "components/animate";
@import "components/slider";
@import "components/quote";
@import "components/breadcrumb";

/*  Pages */
@import "pages/blog";
@import "pages/portfolio";
@import "pages/shop";
@import "pages/checkout";
@import "pages/contact";
@import "pages/cart";
@import "pages/wishlist";
@import "pages/product";
@import "pages/about";
@import "pages/rtl";

.dark {
    // @import "themes/";

    --white: 30, 30, 30;
    --black: 255, 255, 255;
    --title-color: 232, 232, 232;
    --sec-bg-color: 39, 39, 39;
    --after-color: 173, 173, 173;
    --border-color: 65, 65, 65;

    &.ad-color {
        --bg-color: 30, 30, 30;
    }

    &.consultancy-color {
        --bg-color: 39, 39, 39;
    }

    &.design-agency-color {
        --bg-color: 39, 39, 39;
    }

    &.marketing-color {
        --bg-color: 39, 39, 39;
    }

    &.my-wedding-color {
        --bg-color: 39, 39, 39;
    }

    &.seo-color {
        --bg-color: 39, 39, 39;
        --title-color: 73, 73, 73;
    }

    &.startup-color {
        --bg-color: 39, 39, 39;
    }

    &.digital-agency-color {
        --bg-color: 39, 39, 39;
        --border-color: 51, 51, 51;
    }

    &.w-planner-color {
        --bg-color: 39, 39, 39;
    }
}