@import "style";

/**=====================
  digital_agency Typography SCSS Start
==========================**/
body {
    font-family: $poppins;
}

li {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
}

h1 {
    font-size: calc(25px + (60 - 25) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    margin-bottom: 0;
}

h2 {
    font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin-bottom: 0;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
}

h5 {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    margin-bottom: 0;
}

h6 {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    margin-bottom: 0;
}

p {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.6;
}

/**=====================
 reset SCSS Start
==========================**/
.section-bg-color {
    background: rgba(var(--sec-bg-color), 1);
}

.btn-borders {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
}

/**=====================
 digital-agency SCSS Start
==========================**/
.digital-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(12px + (100 - 12) * ((100vw - 320px) / (1920 - 320)));
    border-bottom: 1px solid rgba(var(--content-color), 0.06);

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}

.digital-home-section {
    padding-top: calc(65px + (80 - 65) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    background-color: rgba(var(--theme-color-2), 1);
    padding-inline-start: calc(0px + (100 - 0) * ((100vw - 320px) / (1920 - 320)));
    overflow: hidden;
    z-index: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/digital_agency/bg-effect/home-bg-effect.png);
        background-repeat: no-repeat;
        z-index: -1;
    }

    @media (max-width:768px) {
        padding-inline: 12px;

        [dir="rtl"] & {
            padding-inline: 12px;
        }
    }

    .side-header {
        writing-mode: vertical-lr;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 105px;
        left: 0;
        height: calc(100% - 105px);
        padding-inline: 70px 40px;
        border-left: 1px solid rgba(255, 255, 255, 0.06);
        transform: scale(-1);

        [dir="rtl"] & {
            left: unset;
            right: 0;
            transform: scale(1);
        }

        @media (max-width:1700px) {
            display: none;
        }

        a {
            color: rgba(255, 255, 255, 0.95);

            h6 {
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }

    .home-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: calc(0px + (40 - 0) * ((100vw - 320px) / (1920 - 320)));

        [dir="rtl"] & {
            padding-right: calc(0px + (40 - 0) * ((100vw - 320px) / (1920 - 320)));
            padding-left: 0;
        }

        @media (max-width:768px) {
            text-align: center;
            padding-top: 15px;

        }

        h1 {
            color: rgba(255, 255, 255, 0.95);
            font-family: $fahkwang;
        }

        p {
            color: rgba(var(--content-color), 1);
            margin-block: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320))) calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
            width: 70%;

            @media (max-width:1200px) {
                width: 85%;
            }

            @media (max-width:768px) {
                width: 100%;
            }
        }

        .fade-down-animation {
            display: inline-flex;
            align-items: center;
            position: relative;

            span {
                background: linear-gradient(to right, rgba(var(--theme-color), 1), rgba(var(--theme-color-1), 1));
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                /* animation: fade-down-text 0.2s ease-in 0.5s infinite alternate; */
            }
        }

        .book-button {
            background: linear-gradient(166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
            color: rgba(var(--title-color), 1);
            margin-bottom: calc(5px + (95 - 5) * ((100vw - 320px) / (1920 - 320)));

            &::after {
                border-image-source: linear-gradient(112deg, rgba(var(--theme-color), 1), rgba(var(--theme-color-1), 1));
                border-image-slice: 1;
                border-color: transparent;
            }
        }
    }

    .home-img-box {
        position: relative;
        padding-top: calc(10px + (70 - 10) * ((100vw - 320px) / (1920 - 320)));
        z-index: 0;
        padding-right: calc(0px + (100 - 0) * ((100vw - 320px) / (1920 - 320)));

        .home-border-effect {

            .border-home-bottom,
            .border-home-top {
                border-image-slice: 1;
                display: inline-block;
                position: absolute;
                width: 140px;
                height: 140px;

                @media (max-width:1200px) {
                    display: none;
                }

                &::after {
                    content: "";
                    position: absolute;
                    border-image-slice: 1;
                    width: 100%;
                    height: 100%;
                    opacity: 0.3;
                }
            }

            .border-home-top {
                border-top: 1px solid;
                border-image-source: linear-gradient(to top, rgba(var(--theme-color), 0.7) 30%, rgba(var(--theme-color-1), 0.7) 50%);
                border-left: 1px solid;
                top: 35px;
                left: 23%;

                @media (max-width:1400px) {
                    top: 25px;
                }

                &::after {
                    top: 4px;
                    left: -4px;
                    border-top: 1px solid;
                    border-left: 1px solid;
                    border-image-source: linear-gradient(to top, rgba(var(--theme-color), 1) 30%, rgba(var(--theme-color-1), 1) 50%);
                }
            }

            .border-home-bottom {
                border-bottom: 1px solid;
                border-right: 1px solid;
                border-image-source: linear-gradient(to bottom, rgba(var(--theme-color), 0.7) 30%, rgba(var(--theme-color-1), 0.7) 50%);
                bottom: -30px;
                right: 75px;

                @media (max-width:1600px) {
                    bottom: -35px;
                    right: 55px;
                }

                @media (max-width:1400px) {
                    right: 45px;
                }

                &::after {
                    bottom: 4px;
                    right: -4px;
                    border-bottom: 1px solid;
                    border-right: 1px solid;
                    border-image-source: linear-gradient(to bottom, rgba(var(--theme-color), 1) 30%, rgba(var(--theme-color-1), 1) 50%);
                }
            }
        }

        .home-img {
            clip-path: polygon(0 0%, 50% -22%, 108% 30%, 100% 70%, 100% 100%, 22% 100%, 0 76%, 0 50%);
            width: 70%;
            margin-left: auto;
            position: relative;

            @media (max-width:1200px) {
                width: 90%;
            }

            @media (max-width:768px) {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }

        .top-bg-box {
            position: absolute;
            top: 20px;
            right: 50px;
            z-index: -1;

            @media (max-width:768px) {
                width: 30%;
                top: 0;
                right: 0;
            }

        }

        .bottom-bg-box {
            position: absolute;
            bottom: -20px;
            left: 80px;
            z-index: -1;

            @media (max-width:1400px) {
                width: 40%;
            }

            @media (max-width:768px) {
                bottom: 0;
                left: 0;
            }
        }
    }
}

.digital-about-section {
    .about-main {
        position: relative;
        padding-bottom: 40px;

        .about-main-left-box {
            padding: 1px;
            clip-path: polygon(0 0, 100% 0, 100% 83%, 79% 100%, 0 100%, 0% 50%);
            position: relative;

            [dir="rtl"] & {
                clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 18% 100%, 0 80%);
            }

            &::after {
                z-index: -1;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border: 2px solid transparent;
                width: 100%;
                height: 100%;
                background: linear-gradient(166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);

                [dir="rtl"] & {
                    left: unset;
                    right: 0;
                    background: linear-gradient(-166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
                }
            }
        }

        .about-left-img {
            clip-path: polygon(0 0, 100% 0, 100% 83%, 79% 100%, 0 100%, 0% 50%);

            [dir="rtl"] & {
                clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 18% 100%, 0 80%);
            }

            img {
                width: 100%;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: -40px;
            width: 80%;
            height: 80%;
            background: linear-gradient(166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
            bottom: 0;

            [dir="rtl"] & {
                left: unset;
                right: -40px;
                background: linear-gradient(-166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
            }
        }
    }

    .about-content {
        p {
            color: rgba(var(--content-color), 1);
            margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
        }

        ul {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: calc(15px + (50 - 15) * ((100vw - 320px) / (1920 - 320)));
            grid-row-gap: calc(15px + (30 - 15) * ((100vw - 576px) / (1920 - 576)));

            @media (max-width:576px) {
                display: block;
            }

            li {
                display: flex;
                align-items: center;
                gap: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));

                @media (max-width:576px) {
                    +li {
                        padding-top: calc(15px + (20 - 15) * ((100vw - 320px) / (576 - 320)));
                    }
                }

                img {
                    [dir="rtl"] & {
                        transform: scaleX(-1);
                    }
                }

                h5 {
                    font-weight: 400;
                }
            }
        }
    }

    .about-img-box {
        position: relative;

        @media (max-width:1400px) {
            display: none;
        }

        .about-img-right-box {
            padding: 1px;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 18% 100%, 0 81%);
            position: relative;

            .about-right-img {
                clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 18% 100%, 0 81%);
            }

            &::after {
                z-index: -1;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border: 2px solid transparent;
                width: 100%;
                height: 100%;
                background: linear-gradient(166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
            }
        }

        .img-object-top {
            position: absolute;
            top: -40px;
            right: -40px;
        }

        .img-object-bottom {
            position: absolute;
            bottom: -70px;
            left: -70px;
            z-index: -1;
        }
    }
}

.horizontal-title {
    display: flex;
    margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));

    @media (max-width:400px) {
        text-align: center;
        display: block;
    }

    .arrow-flex {
        @media (max-width:400px) {
            display: none !important;
        }
    }
}

.left-container {
    margin-inline-start: calc(0px + (260 - 0) * ((100vw - 320px) / (1920 - 320)));

    @media (max-width:1200px) {
        padding-inline: 12px;
    }
}

.digital-progress-section {
    background: rgba(var(--title-color), 1);

    .title-style-12 {
        h2 {
            background: linear-gradient(to right, rgba(var(--theme-color), 1), rgba(var(--theme-color-1), 1));
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            display: inline-block;
        }
    }

    .progress-box {
        background: rgba(var(--white), 0.06);
        padding: 50px;

        .progress-content {
            p {
                color: rgba(var(--white), 0.80);
                padding-bottom: 40px;

                &::before {
                    content: "";
                    position: relative;
                    width: 50px;
                    height: 2px;
                    background: linear-gradient(166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
                    display: block;
                    margin-bottom: 8px;
                }
            }

            .progressbar-box {
                background: rgba(var(--white), 0.06);
                padding: 30px;

                .custome-progress {
                    border-radius: 5px;
                    background: rgba(var(--theme-color), 0.06);

                    .progress-count {
                        color: rgba(var(--white), 0.95);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

.digital-contact-agency {
    .contact-box {
        padding: calc(15px + (62 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (50 - 15) * ((100vw - 320px) / (1920 - 320)));
        position: relative;
        border: 2px dashed rgba(var(--border-color), 1);
        background: rgba(var(--bg-color), 1);
        border-right: none;
        height: 100%;

        [dir="rtl"] & {
            border-right: 2px dashed rgba(var(--border-color), 1);
            border-left: none;
        }

        @media (max-width:992px) {
            border-right: 2px dashed rgba(var(--border-color), 1);

            [dir="rtl"] & {
                border-left: 2px dashed rgba(var(--border-color), 1);
                border-right: none;
            }
        }

        p {
            color: rgba(var(--content-color), 1);
            margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
            width: 95%;

            @media (max-width:992px) {
                width: 100%;
                text-align: center;
            }
        }

        .contact-line {
            position: absolute;
            top: 0;
            right: -10px;
            height: 100%;

            [dir="rtl"] & {
                left: -10px;
                right: unset;
                transform: scaleX(-1);
            }

            @media (max-width:992px) {
                display: none;
            }
        }

        .contact-list {
            li {
                display: flex;
                align-items: center;
                gap: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
                font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));

                +li {
                    padding-top: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
                }
            }

            .contact-icon {
                content: "";
                display: inline-block;
                border-radius: 3px;
                border: 2px dashed rgba(var(--white), 1);
                background:
                    linear-gradient(rgba(var(--white), 1) 0 0) padding-box,
                    linear-gradient(212deg, rgba(var(--theme-color), 1), rgba(var(--theme-color-1), 1)) border-box;
            }

            .conatct-img {
                width: calc(50px + (72 - 50) * ((100vw - 320px) / (1920 - 320)));
                height: calc(50px + (72 - 50) * ((100vw - 320px) / (1920 - 320)));
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(var(--white), 1);
                clip-path: polygon(0 0, 100% 0, 100% 82%, 79% 100%, 0 100%, 0% 50%);

                img {
                    width: calc(30px + (38 - 30) * ((100vw - 320px) / (1920 - 320)));
                    height: calc(30px + (38 - 30) * ((100vw - 320px) / (1920 - 320)));
                    object-fit: contain;
                }
            }

            .contact-info {
                width: calc(100% - calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) - calc(50px + (70 - 50) * ((100vw - 320px) / (1920 - 320))));

                h6 {
                    background: linear-gradient(164deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    display: inline-block;

                    &::after {
                        content: "";
                        position: relative;
                        display: block;
                        width: 22px;
                        height: 1px;
                        background: linear-gradient(166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
                        margin-block: 5px calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
                    }
                }

                span {
                    display: block;
                    color: rgba(var(--title-color), 1);
                }
            }
        }
    }
}

.digital-footer-section {
    padding-top: calc(35px + (60 - 35) * ((100vw - 320px) / (1920 - 320)));
    background: #141802;

    .footer-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        justify-content: space-between;
        margin-bottom: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));

        @media (max-width:1200px) {
            display: block;
            border-bottom: none;
        }

        .social-list {
            display: flex;
            align-items: center;
            gap: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));

            li {
                font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1920 - 320)));

                +li {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    &::before {
                        content: "";
                        position: relative;
                        display: inline-block;
                        width: calc(6px + (8 - 6) * ((100vw - 320px) / (1920 - 320)));
                        height: calc(6px + (8 - 6) * ((100vw - 320px) / (1920 - 320)));
                        background: rgba(255, 255, 255, 0.95);
                        border-radius: 100%;
                    }
                }

                a {
                    background: linear-gradient(166deg, #159F36 0%, #CBDA1B 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        p {
            color: rgba(var(--content-color), 1);
            border-inline: 1px solid rgba(255, 255, 255, 0.15);
            padding-inline: 100px;
            width: 58%;
            text-align: center;
            padding-bottom: 14px;

            @media (max-width:1200px) {
                padding: 10px 0;
                width: 100%;
                border-inline: none;
                text-align: start;
            }

        }
    }



    .footer-content {
        padding-inline-start: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));

        p {
            color: rgba(var(--content-color), 1);
        }

        form {
            .form-control {
                border: 1px solid rgba(255, 255, 255, 0.15);
                background: transparent;
                color: rgba(var(--content-color), 1);
                font-size: 16px;
                font-weight: 300;
                padding: 12px 15px;
                margin-block: 10px;

                &::placeholder {
                    font-size: 16px;
                    font-weight: 300;
                    color: rgba(var(--content-color), 1);
                }
            }

            .btn-borders {
                -webkit-text-fill-color: rgba(var(--title-color), 1);
                border: 1px solid transparent;
                border-image-source: linear-gradient(85deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
                border-image-slice: 1;
                margin-top: 30px;
                padding: 6px 25px;
                text-transform: uppercase;
                font-weight: 500;
                margin-top: 0;

                &::before {
                    background: linear-gradient(154deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
                    height: 100%;
                }

                &:hover {
                    background: linear-gradient(85deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;

                    &::before {
                        height: 0%;
                    }
                }
            }

        }
    }

    .footer-title {
        display: flex;
        align-items: center;
        gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
        padding-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));

        img {
            width: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)));
            height: 22px;
            object-fit: contain;

            [dir="rtl"] & {
                transform: scalex(-1);
            }
        }

        h5 {
            background: linear-gradient(166deg, rgba(var(--theme-color), 1) 0%, rgba(var(--theme-color-1), 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            width: calc(100% - calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320))) - calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))));
            font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
        }
    }

    .footer-link {
        li {
            display: block;

            +li {
                padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
            }

            a {
                color: rgba(255, 255, 255, 0.95);
            }
        }
    }

    .digital-copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 20px 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        gap: 10px;
        margin-top: calc(35px + (60 - 35) * ((100vw - 320px) / (1920 - 320)));
        flex-wrap: wrap;

        @media (max-width:768px) {
            justify-content: center;
            text-align: center;
        }

        p {
            color: rgba(255, 255, 255, 0.95);
        }
    }
}

.offcanvas {
    .offcanvas-header {
        margin-left: auto;
    }

    .offcanvas-body {
        nav {
            ul {
                gap: 15px;
                display: flex;
                flex-direction: column;

                li {
                    display: block;

                    a {
                        color: rgba(var(--theme-color), 1);
                    }
                }
            }
        }
    }
}