/**=====================
     Shop Page Scss
==========================**/
.custom-padding {
     padding-right: 10px;
}

.col-custom-3 {
     width: 22%;

     @media (max-width: 1399px) {
          width: 25%;
     }

     @media (max-width: 1199px) {
          width: 30%;
     }

     @include mq-max(lg) {
          width: 0;
     }
}

.col-custom-9 {
     width: 78%;

     @media (max-width: 1399px) {
          width: 75%;
     }

     @media (max-width: 1199px) {
          width: 70%;
     }

     @include mq-max(lg) {
          width: 100%;
     }
}

.custom-height {
     max-height: 190px;
     overflow-y: auto;
     height: 100%;

     &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: rgba($color: #555, $alpha: .14);
     }

     &::-webkit-scrollbar {
          width: 4px;
          background-color: #f5f5f5;
          border-radius: 50px;
     }

     &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: rgba($color: #555, $alpha: .5);
     }
}

.shop-banner-contain {
     position: relative;
     border-radius: 8px;

     .shop-banner-details {
          padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320))) calc(25px + (80 - 25) * ((100vw - 320px) / (1920 - 320)));
          width: 50%;

          @include mq-max(3xl) {
               width: 60%;
          }

          @include mq-max(lg) {
               width: 70%;
          }

          @include mq-max(md) {
               width: 80%;
               // background: var(--white);
               background: linear-gradient(90deg, rgba(var(--white), 0.4) 0%, rgba(246, 246, 246, 0) 100%);
          }

          @include mq-max(xs) {
               width: 100%;
          }

          h5 {
               font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1920 - 320)));
               letter-spacing: 1.5px;
          }

          h2 {
               font-size: calc(24px + (58 - 24) * ((100vw - 320px) / (1920 - 320)));
               margin: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) 0;
               line-height: 1.2;
               font-weight: 700;
          }
     }
}

.banner-description {
     margin-top: 28px;

     p {
          margin-bottom: 0;
          font-size: 15px;
          line-height: 1.6;
     }
}

.category-title {
     h3 {
          display: inline-block;
          padding-bottom: 4px;
          margin-bottom: 18px;
          font-weight: 600;
          font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
          color: rgba(var(--theme-color), 1);
     }
}

.category-list {
     @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 12px);

     [dir="rtl"] & {
          padding-right: 0;
     }

     li {
          display: block;
          width: 100%;

          .category-list-box {
               display: flex;
               align-items: center;
               gap: 16px;

               input {
                    width: 17px;
                    height: 17px;
                    margin: 0;
                    margin-top: -5px;
               }

               .form-check-label {
                    @include flex_common ($dis: flex, $align: center, $justify: space-between);
                    width: calc(100% - 17px - 16px);
                    line-height: 1;

                    .name {
                         font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                         color: rgba(var(--title-color), 1);
                         @include line;
                    }

                    .number {
                         color: rgba(var(--content-color), 1);
                         font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
                    }
               }

               .rating {
                    li {
                         i {
                              font-size: 17px;
                         }
                    }
               }
          }
     }
}

// ========== Price Range Slider =============
.wrapper {
     .price-input {
          width: 100%;
          display: flex;
          margin-top: 17px;
     }

     .price-input .field {
          width: 100%;
          display: flex;
          align-items: center;
     }

     .field input {
          width: inherit;
          font-size: 17px;
          text-align: center;
          border: none;
          border-bottom: 1px solid rgba(var(--content-color), 0.3);
          background-color: transparent;
          outline: none;

          // &:focus-visible {
          // }
     }

     input[type="number"]::-webkit-outer-spin-button,
     input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
     }

     .price-input .separator {
          width: 70px;
          font-size: 16px;
          @include flex_common;
     }

     .slider {
          height: 3px;
          position: relative;
          background-color: rgba(var(--content-color), 0.3);
     }

     .slider .progress {
          height: 100%;
          left: 25%;
          right: 25%;
          position: absolute;
          border-radius: 5px;
          background: #17a2b8;
     }

     .range-input {
          position: relative;
     }

     .range-input input {
          position: absolute;
          width: 100%;
          height: 5px;
          top: -5px;
          background: none;
          pointer-events: none;
          -webkit-appearance: none;
          -moz-appearance: none;
     }

     input[type="range"]::-webkit-slider-thumb {
          height: 17px;
          width: 17px;
          border-radius: 50%;
          background: #17a2b8;
          pointer-events: auto;
          -webkit-appearance: none;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
     }

     input[type="range"]::-moz-range-thumb {
          height: 17px;
          width: 17px;
          border: none;
          border-radius: 50%;
          background: #17a2b8;
          pointer-events: auto;
          -moz-appearance: none;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
     }
}

// ========== Price Range Slider =============
.shop-section {
     .left-box {
          position: sticky;
          top: 0;
          // border-right: 1px solid rgba(var(--content-color), 0.3);

          // [dir="rtl"] & {
          //      border-right: unset;
          //      border-left: 1px solid rgba(var(--content-color), 0.3);
          // }

          @include mq-max(lg) {
               @include pseudowh($width: 300px, $height: 100%);
               border-right: unset;
               position: fixed;
               top: 0;
               left: -350px;
               background-color: var(--white);
               z-index: 1041;
               transition: all 0.5s ease;
               overflow-x: scroll;
               overflow-y: auto;
               transition: all 0.3s ease-in-out;

               [dir="rtl"] & {
                    border-right: unset;
                    border-left: unset;
                    left: unset;
                    right: -350px;
               }
          }

          &.right-box {
               border-right: unset;
               border-left: 1px solid rgba(var(--content-color), 0.3);

               [dir="rtl"] & {
                    border-left: unset;
                    border-right: 1px solid rgba(var(--content-color), 0.3);
               }

               @include mq-max(lg) {
                    border-left: unset;
                    left: unset;
                    right: -350px;

                    [dir="rtl"] & {
                         left: -350px;
                         right: unset;
                    }
               }

               &.show {
                    left: unset;
                    right: 0;

                    [dir="rtl"] & {
                         right: unset;
                         left: 0;
                    }
               }
          }

          &.show {
               left: 0;

               [dir="rtl"] & {
                    right: 0;
                    left: unset;
               }
          }

          .shop-left-sidebar {
               // padding-right: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));

               // [dir="rtl"] & {
               //      padding-right: unset;
               //      padding-left: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
               // }

               // @include mq-max(lg) {
               //      padding: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));

               //      [dir="rtl"] & {
               //           padding: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
               //      }
               // }

               &.shop-right-sidebar {
                    padding-left: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
                    padding-right: unset;

                    [dir="rtl"] & {
                         padding-left: unset;
                         padding-right: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
                    }

                    @include mq-max(lg) {
                         padding: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));

                         [dir="rtl"] & {
                              padding: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
                         }
                    }

                    .back-button {
                         h3 {
                              i {
                                   margin-right: auto;
                                   margin-left: 0;

                                   [dir="rtl"] & {
                                        margin-right: 0;
                                        margin-left: auto;
                                   }
                              }
                         }
                    }
               }

               .back-button {
                    display: none;

                    @include mq-max(lg) {
                         display: block;
                         margin-bottom: 26px;
                    }

                    h3 {
                         display: flex;
                         align-items: center;
                         font-weight: 600;

                         i {
                              margin-right: 10px;

                              [dir="rtl"] & {
                                   margin-left: 10px;
                                   margin-right: unset;
                              }
                         }
                    }
               }

               .search-box {
                    position: relative;
                    margin-bottom: 20px;

                    .search-button {
                         position: absolute;
                         top: 50%;
                         transform: translateY(-50%);
                         right: 0;
                         border-left: 1px solid rgba(var(--content-color), 0.3);
                         font-size: 15px;
                         padding: 0 10px;
                         height: 60%;
                         display: flex;
                         align-items: center;
                         color: rgba(var(--content-color), 1);

                         [dir="rtl"] & {
                              right: unset;
                              left: 0;
                              border-left: unset;
                              border-right: 1px solid rgba(var(--content-color), 0.3);
                         }
                    }

                    .form-control {
                         border: none;
                         padding: 11px 46px 11px 0;
                         border-bottom: 1px solid rgba(var(--content-color), 0.3);
                         border-radius: 0;
                         background-color: transparent;
                    }
               }

               .filter-category {
                    margin-bottom: 25px;

                    .filter-title {
                         display: flex;
                         justify-content: space-between;
                         margin-bottom: 0;
                         padding: 0 0 8px 0;

                         h2 {
                              font-size: 18px;
                              padding: 0 0 8px 0;
                              font-weight: 600;
                              border-bottom: 1px solid rgba(var(--theme-color), 1);
                         }

                         a {
                              display: block;

                              &:hover {
                                   color: rgba(var(--theme-color), 1);
                              }
                         }
                    }

                    ul {
                         @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))));
                         padding-top: 16px;

                         [dir="rtl"] & {
                              padding-right: 0;
                         }

                         li {
                              padding: 9px 34px 9px 11px;
                              background-color: #f5f6f9;
                              position: relative;
                              border-radius: 4px;

                              &:before {
                                   @include pos($pos: absolute, $content: "\eb99");
                                   @include center(vertical);
                                   @include font;
                                   right: 13px;
                                   color: rgba(var(--content-color), 1);
                                   cursor: pointer;
                              }

                              a {
                                   color: rgba(var(--content-color), 1);
                              }
                         }
                    }
               }

               .custom-accordion {
                    @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 22px);

                    .accordion-item {
                         background-color: #F5F6F9;
                         border: none;
                         width: 100%;
                         border-radius: 0;
                         padding: 17px 21px;

                         .accordion-header {
                              .accordion-button {
                                   font-size: 18px;
                                   // padding: 0 0 8px 0;
                                   padding: 0;
                                   font-weight: 600;
                                   // margin-bottom: 9px;
                                   margin: 0;
                                   background-color: transparent;
                                   justify-content: space-between;

                                   &.collapsed {
                                        &::before {
                                             content: "\f1af";
                                             transform: rotate(180deg);
                                        }
                                   }

                                   &:focus {
                                        border-color: unset;
                                        box-shadow: none;
                                   }

                                   &::after {
                                        content: none;
                                   }

                                   &::before {
                                        @include pos($pos: relative, $content: "\ea13");
                                        inset: unset;
                                        order: 1;
                                        @include font;
                                        @include pseudowh($width: 26px, $height: 26px);
                                        @include flex_common;
                                        // top: 0;
                                        // right: 5px;
                                        background-color: rgba(var(--white), 1);
                                        font-size: 15px;
                                        border-radius: 100%;
                                        transition: all .3s ease-in-out;

                                        [dir="rtl"] & {
                                             right: unset;
                                             left: 5px;
                                        }
                                   }

                                   &:not(.collapsed) {
                                        color: rgba(var(--title-color), 1);
                                        background-color: transparent;
                                        box-shadow: none;
                                   }

                                   // span {
                                   //      position: relative;

                                   //      &::before {
                                   //           @include pos;
                                   //           @include pseudowh($width: 100%, $height: 1px);
                                   //           bottom: -8px;
                                   //           left: 0;
                                   //           background-color: rgba(var(--theme-color), 1);
                                   //      }
                                   // }
                              }
                         }

                         .accordion-collapse {
                              .accordion-body {
                                   padding: 16px 0 0;
                              }
                         }
                    }
               }

               .left-title {
                    margin-bottom: 20px;
                    margin-top: 32px;

                    h3 {
                         font-weight: 700;
                    }
               }

               .custom-nav-tab {
                    gap: calc(11px + (20 - 11) * ((100vw - 320px) / (1920 - 320)));

                    .nav-item {
                         @include pseudowh($width: 100%, $height: 60px);
                         background-color: #f7f6f3;
                         border-radius: 6px;
                         display: flex;
                         overflow: hidden;

                         .nav-link {
                              width: 100%;
                              text-align: left;
                              font-size: 18px;
                              font-weight: 500;
                              color: rgba(var(--title-color), 1);
                              border-radius: unset;
                              position: relative;
                              @include rtl(text-align, left, right);

                              &:hover(not) {
                                   img {
                                        @include pseudowh($width: 75px, $height: 75px);
                                        transform: translateY(-50%) rotate(-4deg);
                                        right: -12px;
                                        opacity: 0.45;
                                   }
                              }

                              &:hover {
                                   img {
                                        @include pseudowh($width: 75px, $height: 75px);
                                        transform: translateY(-50%) rotate(-4deg);
                                        right: -12px;
                                        opacity: 0.29;
                                   }
                              }

                              &.active {
                                   color: rgba(var(--white), 1);
                                   background: linear-gradient(90.56deg, rgba(var(--theme-color1), 1) 8.46%, rgba(var(--theme-color), 1) 62.97%);
                                   font-size: 19px;
                                   font-weight: 600;

                                   img {
                                        @include center(vertical);
                                        @include pseudowh($width: 90px, $height: 90px);
                                        position: absolute;
                                        right: -10px;
                                        filter: invert(1);
                                        opacity: 0.4;

                                        [dir="rtl"] & {
                                             right: unset;
                                             left: -10px;
                                        }
                                   }
                              }

                              img {
                                   @include center(vertical);
                                   @include pseudowh($width: 70px, $height: 70px);
                                   position: absolute;
                                   right: -10px;
                                   opacity: 0.1;
                                   transition: all 0.3s ease-in-out;

                                   [dir="rtl"] & {
                                        right: unset;
                                        left: -10px;
                                   }
                              }
                         }
                    }
               }
          }
     }

     .show-button {
          margin-bottom: 14px;

          .filter-button {
               display: block;
               color: rgba(var(--white), 1);

               a {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 600;
                    padding: calc(6px + (8 - 6) * ((100vw - 320px) / (1920 - 320))) calc(9px + (12 - 9) * ((100vw - 320px) / (1920 - 320)));
                    background-color: rgba(var(--theme-color), 1);
                    border-radius: 5px;
                    display: inline-block;
               }
          }

          .filter-button-group {
               display: flex;
               align-items: center;
               margin-top: 30px;

               .sort-by-button {
                    color: rgba(var(--white), 1);
                    margin-left: auto;

                    a {
                         font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                         font-weight: 600;
                         padding: calc(6px + (8 - 6) * ((100vw - 320px) / (1920 - 320))) calc(9px + (12 - 9) * ((100vw - 320px) / (1920 - 320)));
                         background-color: rgba(var(--theme-color), 1);
                         border-radius: 5px;
                         display: inline-block;
                    }
               }
          }

          .filter-dropdown {
               @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);
               align-items: center;
          }

          .top-filter-menu-2 {
               display: flex;
               align-items: center;

               .sidebar-filter-menu {
                    a {
                         border: none;
                         background-color: #f5f6f9;
                         font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                         padding: calc(9px + (10 - 9) * ((100vw - 320px) / (1920 - 320))) 15px;
                         border-radius: 5px;
                         color: rgba(var(--content-color), 1);
                    }
               }

               .category-dropdown {
                    display: flex;
                    align-items: center;

                    h5 {
                         @include mq-max(md) {
                              display: none;
                         }
                    }

                    .dropdown {
                         margin-left: 10px;

                         [dir="rtl"] & {
                              margin-right: 10px;
                              margin-left: unset;
                         }

                         .dropdown-toggle {
                              @include flex_common;
                              border: none;
                              background-color: #f5f6f9;
                              font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                              padding: calc(9px + (10 - 9) * ((100vw - 320px) / (1920 - 320))) 15px;
                              border-radius: 5px;
                              color: rgba(var(--content-color), 1);
                              flex-wrap: wrap;
                              gap: 10px;

                              &::after {
                                   content: none;
                              }

                              i {
                                   margin-top: 2px;
                              }
                         }

                         .dropdown-menu {
                              li {
                                   display: block;
                              }
                         }
                    }
               }

               .grid-option {
                    margin-left: auto;

                    &-2 {
                         margin-left: 0;

                         @include mq-max(md) {
                              display: none;
                         }

                         ul {
                              li {
                                   &.active {
                                        background: rgba(var(--theme-color), 1);

                                        img {
                                             filter: invert(1) brightness(100);
                                        }
                                   }
                              }
                         }
                    }

                    ul {
                         @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(5px + (12 - 5) * ((100vw - 320px) / (1920 - 320))));
                         align-items: center;

                         [dir="rtl"] & {
                              padding-right: 0;
                         }

                         li {
                              @include pseudowh($width: 35px, $height: 35px);
                              border-radius: 5px;
                              background: linear-gradient(149.8deg, #f5f6f9 17.21%, #FBFAF9 79.21%);

                              a {
                                   @include flex_common;
                                   @include pseudowh;
                              }

                         }
                    }
               }
          }

          .top-filter-menu {
               display: flex;
               align-items: center;

               @include mq-max(lg) {
                    margin-top: 18px;
               }

               .category-dropdown {
                    display: flex;
                    align-items: center;

                    h5 {
                         @include mq-max(2xs) {
                              display: none;
                         }
                    }

                    .dropdown {
                         margin-left: 10px;

                         [dir="rtl"] & {
                              margin-left: unset;
                              margin-right: 10px;
                         }

                         @include mq-max(2xs) {
                              margin-left: 0;
                         }

                         .dropdown-toggle {
                              @include flex_common;
                              border: none;
                              background-color: #f5f6f9;
                              font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                              padding: calc(9px + (10 - 9) * ((100vw - 320px) / (1920 - 320))) 15px;
                              border-radius: 5px;
                              color: rgba(var(--content-color), 1);
                              flex-wrap: wrap;
                              gap: 10px;

                              &::after {
                                   content: none;
                              }

                              i {
                                   margin-top: -3px;
                                   line-height: 1;
                              }
                         }

                         .dropdown-menu {
                              background-color: #f5f6f9;
                              border: none;

                              li {
                                   display: block;

                                   a {
                                        font-size: 14px;

                                        &:hover,
                                        &:focus {
                                             background-color: transparent;
                                        }
                                   }
                              }
                         }
                    }
               }

               .grid-option {
                    margin-left: auto;

                    [dir="rtl"] & {
                         margin-left: unset;
                         margin-right: auto;
                    }

                    ul {
                         @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))));
                         align-items: center;

                         [dir="rtl"] & {
                              padding-right: 0;
                         }

                         li {
                              @include pseudowh($width: 35px, $height: 35px);
                              border-radius: 5px;
                              background: linear-gradient(149.8deg, #f5f6f9 17.21%, #FBFAF9 79.21%);

                              a {
                                   @include flex_common;
                                   @include pseudowh;

                                   svg {
                                        width: 17px;
                                        height: 17px;
                                   }
                              }

                              &.active {
                                   background: rgba(var(--theme-color), 1);

                                   img {
                                        filter: invert(1) brightness(100);
                                   }
                              }
                         }
                    }
               }
          }

          .filter-category {
               margin-bottom: 25px;

               ul {
                    @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(6px + (15 - 6) * ((100vw - 320px) / (1920 - 320))));
                    padding-top: 16px;

                    li {
                         padding: calc(6px + (9 - 6) * ((100vw - 320px) / (1920 - 320))) calc(28px + (34 - 28) * ((100vw - 320px) / (1920 - 320))) calc(6px + (9 - 6) * ((100vw - 320px) / (1920 - 320))) calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320)));
                         background-color: #f5f6f9;
                         position: relative;
                         border-radius: 4px;

                         &:before {
                              @include pos($pos: absolute, $content: "\f00d");
                              @include center(vertical);
                              @include font;
                              right: 13px;
                              color: rgba(var(--content-color), 1);
                              cursor: pointer;
                         }

                         a {
                              color: rgba(var(--content-color), 1);
                         }
                    }
               }
          }
     }

     .top-filter-category {
          @include pseudowh($width: 100%, $height: 0);
          padding: 0 24px;
          background-color: rgba(var(--white), 1);
          box-shadow: 0 2px 9px rgba(var(--title-color), 0.07);
          border-radius: 6px;
          margin-bottom: 0;
          overflow: hidden;
          transition: all 0.3s ease-in-out;

          &.show {
               padding: 24px;
               height: auto;
               margin-bottom: 22px;
          }

          >.row {
               >div {
                    border-right: 1px solid #ececec;

                    [dir="rtl"] & {
                         border-right: unset;
                         border-left: 1px solid #ececec;
                    }

                    &:last-child {
                         border: none;
                    }

                    @include mq-max(xl) {
                         &:nth-child(4n-2) {
                              border-right: none;

                              [dir="rtl"] & {
                                   border-right: unset;
                                   border-left: none;
                              }
                         }
                    }

                    @include mq-max(md) {
                         border: none;
                    }
               }
          }
     }
}

.category-slider-section {
     .category-contain {
          .category-contain-image {
               background: linear-gradient(149.8deg, #f5f6f9 17.21%, #FBFAF9 79.21%);
               padding: 22px;
               border-radius: 8px;

               img {
                    @include pseudowh($width: 150px, $height: 150px);
                    object-fit: contain;
                    margin: 0 auto;
               }
          }

          .category-contain-name {
               margin-top: 12px;
               text-align: center;

               h5 {
                    color: #4a5568;
                    font-weight: 500;
               }
          }
     }
}


.product-list-section {
     .product-box-4 .product-content {
          .product-details {
               line-height: 1.5;
               @include line($line: 2);
               display: none;
          }
     }

     &.list-style {
          >div {
               width: 100%;

               .product-box-4-main {
                    // display: flex;
                    // align-items: center;
                    // padding: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));

                    .product-box-4 {
                         display: flex;
                         align-items: center;
                         gap: 22px;

                         .product-image {
                              width: 200px;
                         }

                         .product-content {
                              margin: 0;
                              width: calc(100% - 200px - 22px);
                              position: relative;

                              .product-details {
                                   display: block;
                              }

                              .option-box {
                                   padding: 0;
                                   bottom: -37px;
                                   box-shadow: unset;
                                   max-width: 240px;
                              }
                         }
                    }
               }
          }
     }
}