{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}


  <div class="search-full">
    <div class="input-group">
      <span class="input-group-text"> 
        <i data-feather="search" class="font-light"></i>
      </span>
      <input type="text" class="form-control search-type" id="search-input" placeholder="Search here.." oninput="searchValue()">
      <span class="input-group-text close-search">
        <i data-feather="x" class="font-light"></i>
      </span>
    </div>
    <div id="search_results"></div>

    <div class="search-suggestion" id="searchData">
      <ul class="custom-scroll" id="realData">
      </ul>
    </div>
  </div>



<script>

  let query
    async function searchValue() {
      query = document.getElementById("search-input").value;
      document.getElementById("search-input").innerHTML = "you search :" + query;



      const response = await fetch(`/search_products/?q=${query}&category={{theme}}`);

      const productData = await response.json();
      displayProductData(productData);
    }

      function displayProductData(productData) {
      $("#realData").empty();

      if(productData.data.length === 0){
        $('#realData').append('<li class="no-results"> No products found! </li>');
        return;
      }
      
      productData.data.map(value => {
        let ratingHtml = '';
        if (parseInt(value.rating) < 5) {
          for (let i = 0; i < parseInt(value.rating); i++) {
            ratingHtml += '<li><a class="fas fa-star theme-color" id="productOfStar" href="/product-detail/' + value.id + '"></a></li>';
          }
          let emptyStars = 5 - parseInt(value.rating);
          for (let i = 0; i < emptyStars; i++) {
            ratingHtml += '<li><i class="fas fa-star"></i></li>';
          }
        } else {
          for (let i = 0; i < 5; i++) {
            ratingHtml += '<li><a class="fas fa-star theme-color" id="productOfStar" href="/product-detail/' + value.id + '"></a></li>';
          }
        }
        $("#realData").append(`<li>
          <div class="product-cart media">
            <a href="/product-detail/${value.id}">
              <img
                src="${value.image_url}"
                href="/product-detail/${value.id}"
                class="img-fluid blur-up lazyload"
                alt=""
              />
            </a>

            <div class="media-body">
              <a href="/product-detail/${value.id}">
                <h6 class="mb-1">${value.name}</h6>
              </a>
              <ul class="rating p-0">
                ${ratingHtml}
              </ul>
              <a href="/product-detail/${value.id}" class="mb-0 mt-1">$${value.price}</a>
            </div>
          </div>
      </li>`)
      });
    }
</script>