{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}

<!-- product section 2 start -->
<section class="ratio_asos">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h5>Just For You</h5>
                    <h2>VR Collection</h2>
                </div>
                <div class="product-wrapper slide-7 product-style-1">
                    {% for product in electronic_products  %}
                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">
                                        {% if product.productDiscount|to_int == 0 %}
                                        {% else %}
                                        {% if product.productType == "Classified" %}
                                        <span class="label label-theme">{{product.product_discount_range}} </span>
                                        {% else %}
                                        {% comment %} {% if product.product_discount_range.productVariantDiscount|to_int > 0|to_int %} {% endcomment %}
                                        <span class="label label-theme">{{product.product_discount_range}} </span>
                                        {% comment %} {% endif %} {% endcomment %}
                                        {% endif %}
                                        {% endif %}
                                    </span>
                                    <a href="{% url 'add_to_wishlist' product.id|return_first_product_variant %}"><i
                                            class="far fa-heart wishlist"></i></a>
                                </div>
                                <a href="{% url 'left_slidebar' product.id %}" class="text-center">
                                    <img loading="lazy" src="{{product.productImageFront}}"
                                        class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                {% if product.productType == "Simple" %}
                                <h3 class="theme-color">{{""|return_currency_wise_symbol:request}}{{product.product_price_range|return_currency_wise_ammount:request}}</h3>
                                {% else %}
                                <h3 class="theme-color">{{product.product_price_range|return_currency_wise_ammount_range:request}}</h3>
                                {% endif %}
                                    {% comment %} <span class="font-light ml-1">$52.00</span> {% endcomment %}
                                </h3>
                                <a href="{% url 'left_slidebar' product.id %}" class="font-default">
                                    <h5>{{product.cartProduct.variantProduct.productName}}</h5>
                                </a>
                                <ul class="rating">
                                     <!-- ------------------------------------------------------------------- -->
                                     {% if product.productFinalRating|to_int < 5|to_int %} 
                                     {% for x in product.productFinalRating|times %} <li>
                                         <a class="fas fa-star theme-color" id="productOfStar" href="{% url 'left_slidebar' product.id %}"></a>
                                         </li>
                                         {% endfor %}
 
                                         {% with number1=5|to_int number2=product.productFinalRating|to_int %}
                                         {% with number3=number1|sub:number2 %}
 
 
                                         {% for x in number3|times %}
                                         <li>
                                             <i class="fas fa-star"></i>
                                         </li>
                                         {% endfor %}
 
                                         {% endwith %}
                                         {% endwith %}
 
                                         {% else %}
                                         <li>
                                             <i class="fas fa-star theme-color"></i>
                                         </li>
                                         <li>
                                             <i class="fas fa-star theme-color"></i>
                                         </li>
                                         <li>
                                             <i class="fas fa-star theme-color"></i>
                                         </li>
                                         <li>
                                             <i class="fas fa-star theme-color"></i>
                                         </li>
                                         <li>
                                             <i class="fas fa-star theme-color"></i>
                                         </li>
                                         {% endif %}
                                         <!-- ------------------------------------------------------------------- -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section 2 end -->