{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}

<!-- product section 2 start -->
<section class="ratio_asos">
    <div class="container">
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="title title-2 text-center">
                    <h2>New Arrival</h2>
                    <h5 class="text-color">Our collection</h5>
                </div>
                <div class="product-wrapper product-style-2 row g-sm-4 g-3">
                    
                    {% for product in fashion_products|slice:":8" %}    
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="{% url 'left_slidebar' product.id %}">
                                        <img loading="lazy" src="{{product.productImageFront}}"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="{% url 'left_slidebar' product.id %}">
                                        <img loading="lazy" src="{{product.productImageBack}}"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>
                                
                                <div class="label-block">
                                    {% comment %} today =  datetime.now() {% endcomment %}
                                    {% if product.is_past_due %}
                                    <span class="label label-black">Old</span>
                                    {% else %}
                                    <span class="label label-black">New</span>
                                    {% endif %}

                                    {% if product.productDiscount|to_int == 0 %}
                                    {% else %}
                                    {% if product.productType == "Classified" %}
                                    <span class="label label-theme">{{product.product_discount_range}} </span>
                                    {% else %}
                                    {% comment %} {% if product.product_discount_range.productVariantDiscount|to_int > 0|to_int %} {% endcomment %}
                                    <span class="label label-theme">{{product.product_discount_range}} </span>
                                    {% comment %} {% endif %} {% endcomment %}
                                    {% endif %}
                                    {% endif %}
                                </div>
                                
                                <div class="cart-wrap">
                                    <ul>
                                        <li>
                                            <a href="{% url 'add_to_cart' product.id|return_first_product_variant 1 %}" class="addtocart-btn">
                                                <i data-feather="shopping-bag"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a onclick="handleQuickView({'productId':'{{product.id}}','productVariantId':'{{product.id|return_first_product_variant}}'})" data-bs-toggle="modal"
                                                href="#quick-view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'compare_products' product.id|return_first_product_variant %}" class="add-to-compare-list">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'add_to_wishlist' product.id|return_first_product_variant %}" class="wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-details">
                                <div class="rating-details">
                                    <span class="font-light grid-content">{{product.proCategory}}</span>
                                    <ul class="rating mt-0">                                            
                                            <!-- ------------------------------------------------------------------- -->
                                            {% if product.productFinalRating|to_int < 5|to_int %}
                                        
                                            {% for x in product.productFinalRating|times %}
                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            {% endfor %}

                                            {% with number1=5|to_int number2=product.productFinalRating|to_int %}
                                            {% with number3=number1|sub:number2 %}
                                        

                                            {% for x in number3|times %}
                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            {% endfor %}

                                            {% endwith %}
                                            {% endwith %}

                                            {% else %}

                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            {% endif %}
                                            <!-- ------------------------------------------------------------------- -->
                                    </ul>
                                </div>
                                <div class="main-price">
                                    <a href="{% url 'shop_left_slidebar' %}" class="font-default">
                                        <h5>{{product.productName}}</h5>
                                    </a>
                                    <div class="listing-content">
                                        <span class="font-light">Jacket</span>
                                        <p class="font-light">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit. Sit, deserunt? Asperiores aliquam voluptatum culpa aliquid ab
                                            ducimus eaque illum, quibusdam reiciendis id ad consectetur quis, animi
                                            qui, minus quidem eveniet! Dolorum magnam numquam, asperiores
                                            accusantium architecto placeat quam officia, tempore repellendus.</p>
                                    </div>
                                    
                                    {% if product.productType == "Simple" %}
                                    <h3 class="theme-color">{{""|return_currency_wise_symbol:request}}{{product.product_price_range|return_currency_wise_ammount:request}}</h3>
                                    {% else %}
                                    <h3 class="theme-color">{{product.product_price_range|return_currency_wise_ammount_range:request}}</h3>
                                    {% endif %}
                                        
                                    {% comment %} <h3 class="theme-color">{{product.product_price_range|return_currency_wise_ammount_range:request}}.00</h3> {% endcomment %}
                                    <button onclick="location.href = '{% url 'add_to_cart' product.id|return_first_product_variant 1 %}';" class="btn listing-content">Add
                                    To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section 2 end --> 
