/* =====================
    Blog CSS Start 
 ========================== */
.blog-box {
    .blog-image {
        border-radius: 5px;
    }

    .blog-detail {
        margin-top: 15px;

        h6 {
            color: $content-color;
            margin-bottom: 8px;
            font-weight: 500;
        }

        h5 {
            color: $title-color;
            margin-bottom: 8px;
            font-weight: 500;
        }
    }
}