/* =====================
    Slick SLider CSS Start 
 ========================== */
@mixin category_common {
    .category-box {
        background-color: #f8f8f8;
        margin: 0px auto;
        @include flex_common;
        width: 90%;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        position: relative;
        padding: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320))) 8px;

        &::after {
            @include pos;
            top: 0;
            left: 0;
            @include pseudowh;
            background-image: url(../images/vegetable/shape.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: var(--theme-color);
            opacity: 0;
            z-index: -1;
            transition: all .3s ease-in-out;
        }

        &:hover {
            background-color: transparent;

            &::after {
                opacity: 1;
            }

            img {
                filter: invert(1);
            }

            h5 {
                color: $white;
            }
        }

        &-2 {
            &::after {
                background-image: url(../images/cake/bg.jpg);
            }
        }

        img {
            width: calc(38px + (45 - 38) * ((100vw - 320px) / (1920 - 320)));
            height: calc(38px + (45 - 38) * ((100vw - 320px) / (1920 - 320)));
            object-fit: contain;
            margin: 0 auto;
        }

        h5 {
            color: $title-color;
            margin-top: 12px;
            font-weight: 500;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
    }
}