/**=====================
     footer css start
==========================**/
footer {
    background: rgb(248, 248, 248);
    background: linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(246, 246, 246, 1) 100%);
    position: relative;
    z-index: 0;

    &::after {
        @include pos;
        top: 0;
        left: 0;
        // width: 30%;
        // height: 100%;
        @include pseudowh($width: 30%, $height: 100%);
        background-image: url(../images/vegetable/footer-shape.png);
        background-repeat: no-repeat;
        z-index: -1;
    }

    &:before {
        @include pos;
        bottom: 0;
        right: 0;
        // width: 30%;
        // height: 100%;
        @include pseudowh($width: 30%, $height: 100%);
        background-image: url(../images/vegetable/footer-shape-2.png);
        background-repeat: no-repeat;
        z-index: -1;
    }

    .main-footer {
        border-top: 1px dashed rgba($content-color, 0.5);

        .footer-theme {
            .footer-theme-contain {
                margin-top: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));

                p {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: $content-color;
                    line-height: 27px;
                    margin-bottom: 0;
                }

                ul {
                    &.address {
                        margin-top: calc(17px + (30 - 17) * ((100vw - 320px) / (1920 - 320)));

                        li {
                            display: flex;
                            align-items: center;

                            .feather {
                                // width: 18px;
                                // height: 18px;
                                @include pseudowh($width: 18px, $height: 18px);
                                stroke: $content-color;
                            }

                            p {
                                margin-bottom: 0;
                                margin-left: 10px;
                                margin-top: 1px;
                                color: $content-color;
                            }
                        }
                    }

                    li {
                        display: block;
                        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));

                        a {
                            &:hover {
                                color: $content-color;
                            }
                        }

                        +li {
                            margin-top: calc(4px + (15 - 4) * ((100vw - 320px) / (1920 - 320)));
                        }
                    }
                }
            }
        }

        .footer-title {

            // &-2 {
            //     @include mq-max(sm) {
            //         margin-bottom: 0;
            //     }
            // }

            h4 {
                font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 600;
            }
        }

        .footer-contain {
            margin-top: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));

            p {
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                color: $content-color;
                line-height: 27px;
                margin-bottom: 0;
            }

            ul {
                &.address {
                    margin-top: calc(17px + (30 - 17) * ((100vw - 320px) / (1920 - 320)));

                    li {
                        display: flex;
                        align-items: center;

                        .feather {
                            // width: 18px;
                            // height: 18px;
                            @include pseudowh($width: 18px, $height: 18px);
                            stroke: $content-color;
                        }

                        p {
                            margin-bottom: 0;
                            margin-left: 10px;
                            margin-top: 1px;
                            color: $content-color;
                        }
                    }
                }

                li {
                    display: block;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));

                    a {
                        &:hover {
                            color: $content-color;
                        }
                    }

                    +li {
                        margin-top: calc(4px + (15 - 4) * ((100vw - 320px) / (1920 - 320)));
                    }
                }
            }
        }

        .theme-logo {
            display: flex;
            align-items: center;

            a {
                margin-top: -3px;

                img {
                    width: 90px;
                }
            }

            h4 {
                margin-left: 10px;
            }
        }

        .footer-contact {
            margin-top: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));

            ul {
                li {
                    display: block;
                    margin-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
                    position: relative;

                    &::before {
                        @include pos;
                        bottom: -24px;
                        right: 0;
                        width: calc(100% - 33px);
                        border-bottom: 1px dashed $content-color;
                    }

                    .footer-number {
                        display: flex;
                        align-items: flex-start;

                        .feather {
                            // width: 18px;
                            // height: 18px;
                            @include pseudowh($width: 18px, $height: 18px);
                            stroke: $content-color;
                        }

                        .contact-number {
                            padding-left: 12px;

                            h5 {
                                margin-top: 6px;
                                font-weight: 600;
                            }
                        }
                    }

                    &.social-app {
                        margin-bottom: 0;

                        &::before {
                            content: none;
                        }

                        ul {
                            // margin: -4px;
                            // display: flex;
                            align-items: center;
                            // flex-wrap: wrap;
                            // gap: 8px;
                            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);

                            li {
                                // margin: 4px;
                                display: inline-block;

                                &::before {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sub-footer {
        border-top: 1px dashed rgba($content-color, 0.5);
        padding: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320))) 0;
        @include flex_common ($dis: flex, $align: center, $justify: space-between);

        @include mq-max(lg) {
            display: block;
            text-align: center;
        }

        .payment {
            @include mq-max(lg) {
                margin: 6px 0;
            }
        }

        .social-link {
            display: flex;
            align-items: center;

            @include mq-max(lg) {
                justify-content: center;
            }

            h6 {
                margin-right: 10px;
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    i {
                        color: $content-color;
                    }

                    +li {
                        margin-left: 8px;
                    }
                }
            }
        }

        ul {
            margin: -6px;
            @include flex_common ($dis: flex, $align: center, $justify: space-between);

            @include mq-max(lg) {
                display: block;
                text-align: center;
            }

            li {
                margin: 6px;
                display: block;
            }
        }
    }
}