@mixin home_common {
  .home-contain {
    overflow: hidden;
    position: relative;

    .home-detail {
      position: absolute;
      top: 0%;
      left: 0;
      @include pseudowh;
      padding: calc(18px + (60 - 18) * ((100vw - 320px) / (1920 - 320)));

      &.home-p-sm {
        padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) !important;
      }

      &.home-p-medium {
        padding: 50px calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320))) !important;
      }

      h2 {
        font-size: calc(16px + (38 - 16) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(0px + (10 - 0) * ((100vw - 320px) / (1920 - 320)));

        &.poster-1 {
          line-height: calc(23px + (68 - 23) * ((100vw - 320px) / (1920 - 320)));
        }

        .daily {
          color: var(--theme-color);
          font-weight: 800;
        }

        .discount {
          font-size: 16px;
          color: #262834;
          font-weight: 400;
        }
      }

      h3 {
        font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 600;
      }

      h4 {
        font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: 5px;
      }

      h5 {
        font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
        letter-spacing: 1px;
      }

      h6 {
        font-size: 14px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: #4a5568;

        @include mq-max(2xs) {
          margin-bottom: 5px;
        }

        &.home-banner {
          margin-bottom: 10px;
          font-weight: 500;
        }

        span {
          font-weight: 500;
          padding: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320))) calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
          background: $black;
          background: linear-gradient(90deg,
              rgba(255, 114, 114, 0.15) 0%,
              rgba(255, 114, 114, 0) 79%);
          border-radius: 50px;
          color: $danger-color;
          margin-left: calc(2px + (9 - 2) * ((100vw - 320px) / (1920 - 320)));

          @include mq-max(2xs) {
            display: none;
          }
        }
      }

      p {
        // font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: 0;
        color: $content-color;
        letter-spacing: .8px;
        line-height: calc(19px + (27 - 19) * ((100vw - 320px) / (1920 - 320)));
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;

        &.organic {
          width: 70%;
        }
      }

      .shop-button {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        margin-top: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
        display: flex;
        align-items: center;
        color: $title-color;

        &:hover {
          i {
            transform: translateX(4px);
          }
        }

        i {
          transition: .3s ease;
        }

      }
    }
  }

  .price-box {
    position: absolute;
    top: 200px;
    right: 29px;
    text-align: center;

    h6 {
      color: $title-color;
      margin-bottom: 3px;
    }

    h3 {
      font-size: 30px;
      font-weight: 700;
    }
  }
}