/**=====================
     Slider css start
==========================**/
@mixin offer_common {
    .offer-box {
        position: relative;

        .offer-contain {
            position: absolute;
            top: 0;
            left: 0;
            @include flex_common;
            @include pseudowh;

            .offer-detail {
                h2 {
                    text-transform: none;
                    line-height: 43px;
                    font-weight: 400;
                }

                p {
                    font-size: 16px;
                    color: $content-color;
                    margin: 12px 0 0;
                }
            }

            .offer-timing {
                margin-left: 24px;

                .time {
                    ul {
                        li {
                            position: relative;

                            +li {
                                margin-left: 16px;

                                &::before {
                                    content: ":";
                                    position: absolute;
                                    @include center(vertical);
                                    left: -12px;
                                    font-size: 20px;
                                }
                            }

                            .counter {
                                background-color: $danger-color;
                                color: $white;
                                border-radius: 5px;

                                div {
                                    width: 61px;
                                    height: 73px;
                                    @include flex_common;

                                    h2 {
                                        font-size: 24px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}