/**=====================
     alert css start
==========================**/
.service-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .service-box {
        display: flex;
        align-items: center;
        position: relative;

        +.service-box {
            &::before {
                @include pos;
                @include center(vertical);
                left: -104px;
                width: 1px;
                height: 50%;
                border: 1px dashed rgba(74, 85, 104, 0.5);
            }
        }

        .service-detail {
            margin-left: 20px;

            h5 {
                font-weight: 500;
                color: $title-color;
            }
        }
    }
}