/**=====================
     alert css start
==========================**/
.service-contain {
    @include flex_common ($dis: flex, $align: center, $justify: space-between);
    flex-wrap: wrap;

    .service-box {
        display: flex;
        align-items: center;
        position: relative;
        // padding: 8px;

        @include mq-max(2xl) {
            width: 50%;
        }

        @include mq-max(md) {
            width: 100%;
        }

        &:nth-child(3) {
            &::before {
                @include mq-max(2xl) {
                    display: none;
                }
            }
        }

        &::before {
            @include mq-max(md) {
                display: none;
            }
        }

        +.service-box {
            &::before {
                @include pos;
                @include center(vertical);
                left: -104px;
                // width: 1px;
                // height: 50%;
                @include pseudowh($width: 1px, $height: 50%);
                border: 1px dashed rgba($content-color, 0.5);

                [dir="rtl"] & {
                    left: unset;
                    right: -104px;
                }

                @include mq-max(4xl) {
                    left: -70px;

                    [dir="rtl"] & {
                        left: unset;
                        right: -70px;
                    }
                }

                @include mq-max(3xl) {
                    left: -36px;

                    [dir="rtl"] & {
                        left: unset;
                        right: -36px;
                    }
                }

                @include mq-max(2xl) {
                    left: -31px;

                    [dir="rtl"] & {
                        left: unset;
                        right: -31px;
                    }
                }
            }
        }

        .service-image {
            img {
                // width: calc(35px + (40 - 35) * ((100vw - 320px) / (1920 - 320)));
                // height: calc(35px + (40 - 35) * ((100vw - 320px) / (1920 - 320)));
                @include pseudowh($width: calc(35px + (40 - 35) * ((100vw - 320px) / (1920 - 320))), $height: calc(35px + (40 - 35) * ((100vw - 320px) / (1920 - 320))));
                object-fit: contain;
            }
        }

        .service-detail {
            margin-left: 20px;

            [dir="rtl"] & {
                margin-left: unset;
                margin-right: 20px;
            }

            h5 {
                font-weight: 500;
                color: $title-color;
            }
        }
    }
}

.service-contain-2 {
    display: flex;
    align-items: center;
    padding: calc(14px + (25 - 14) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 5px;
    background-color: rgba(#bfbfbf, $alpha: .2);

    svg {
        width: 42px;
        height: 42px;
    }

    .service-detail {
        margin-left: 25px;

        h3 {
            letter-spacing: 0.8px;
            margin-bottom: 5px;
            font-weight: 600;
        }
    }
}