.nft-color {
    [class="dark"] & {
        background-color: #151515;

        .mobile-style-9 ul {
            background-color: #212325;
        }

        .top-collection-list {
            li {
                border-color: #212325;

                &.total-box {
                    border-color: #212325;
                    background-color: #151515;
                }

                .top-collection-box {
                    .collection-content {
                        .next-icon {
                            background-color: #212325;
                        }
                    }
                }
            }
        }

        .nft-checkout-button {
            .checkout-btn {
                border-color: #212325;
            }
        }

        .social-style-2 {
            li {
                a {
                    background-color: #212325;
                }
            }
        }
    }
}

.blog-color {
    background-color: #131519;
}