/**=====================
     Product Page Scss
==========================**/
.product-section {
    .left-slider-image {
        height: 582px;
        overflow-y: auto;
        overflow-x: hidden;

        img {
            // margin-top: 5px;
            cursor: pointer;
            // width: 92%;// height: 92%;
            // margin: 0 auto;
        }
    }

    .right-box-contain {
        position: relative;

        .safe-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 26%;
        }

        .name {
            font-weight: 700;
            margin-bottom: 15px;
        }

        .price-rating {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 12px;

            .price {
                font-weight: 600;
                font-size: 22px;

                del {
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0 2px;
                }

                span {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .custom-rate {
                ul {
                    li {
                        .feather {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .review {
                    font-size: 14px;
                    margin-left: 6px;
                }
            }
        }

        .procuct-contain {
            margin-top: 20px;

            h4 {
                font-weight: 600;
                margin-bottom: 7px;
                letter-spacing: 0.4px;
            }

            p {
                color: $content-color;
                line-height: 1.7;
                margin-bottom: 0;
            }
        }

        .product-packege {
            margin-top: 20px;

            h4 {
                font-weight: 600;
                margin-bottom: 7px;
                letter-spacing: 0.4px;
            }

            .select-packege {
                display: flex;
                flex-wrap: wrap;
                gap: 13px;

                li {
                    a {
                        padding: 6px 11px;
                        border: 1px solid $border-color;
                        border-radius: 6px;
                        display: block;
                        color: $content-color;
                        font-size: 14px;
                    }
                }
            }
        }

        .buy-box {
            margin-top: 30px;
            display: flex;
            align-items: center;

            .product-qty {
                width: 140px;

                button {
                    border: none;
                    border-radius: 100% !important;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--theme-color2);
                    color: #fff;
                }

                input {
                    height: auto;
                    border: none;
                    padding: 0;
                    text-align: center;
                    background-color: transparent;
                }
            }

            .buy-button {
                background: var(--theme-color2);
                border: 2px solid transparent;
                color: $white;
            }

            .add-cart-button {
                border: 2px solid var(--theme-color);
                color: #0f9f83;
            }

            .wishlist-button {
                border: 2px solid var(--theme-color);
                background: $white;
                margin-left: 8px;
                border-radius: 5px;
                width: 50px;
                display: flex;
                height: 50px;
                align-items: center;
                justify-content: center;
                padding: 0;

                .feather {
                    width: 20px;
                    height: 20px;
                    stroke: var(--theme-color);
                }
            }
        }
    }

    // .product-main {
    //     width: 100%;
    //     height: 100%;
    //     display: flex;
    //     align-items: center;

    //     .slider-image {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         background: linear-gradient(149.8deg, #F6F5F2 17.21%, #FBFAF9 79.21%);

    //         // img {
    //         //     width: 75%;
    //         //     height: 75%;
    //         // }
    //     }
    // }
}

// .left-slider-image {
//     .slick-list {
//         .slick-track {
//             .slick-slide {
//                 >div {
//                     margin: 0 5px;
//                 }

//                 &.slick-active {
//                     // .play-icon {
//                     //     .fa-play {
//                     //         filter: grayscale(100%) blur(1px);
//                     //         opacity: 0.5;
//                     //     }

//                     //     &:hover {
//                     //         .fa-play {
//                     //             filter: grayscale(0);
//                     //             opacity: 1;
//                     //         }
//                     //     }
//                     // }

//                     img {
//                         transition: all 0.3s ease-in-out;
//                         filter: grayscale(0) blur(0);
//                     }

//                     &:hover {
//                         img {
//                             filter: grayscale(0);
//                             opacity: 1;
//                         }
//                     }
//                 }

//                 img {
//                     filter: grayscale(20%) blur(1px);
//                     opacity: 0.8;
//                 }

//                 &.slick-center {
//                     img {
//                         filter: grayscale(0);
//                         opacity: 1;
//                     }
//                 }
//             }
//         }
//     }
// }