/**=====================
     Product Page Scss
==========================**/
.pt-25 {
    padding-top: 25px;
}

.product-title {
    margin-top: 20px;

    h4 {
        font-weight: 600;
        margin-bottom: 12px;
        letter-spacing: 0.4px;
        font-size: 16px;
    }
}

.product-category {
    gap: 25px;
    padding: calc(12px + (33 - 12) * ((100vw - 320px) / (1920 - 320)));
}

.product-section {
    .product-left-box {
        position: sticky;
        top: 0;
    }

    .left-slider-image {
        // height: 582px;// overflow-y: auto;
        // overflow-x: hidden;

        .sidebar-image {
            border-radius: 8px;
            overflow: hidden;

            img {
                // margin-top: 5px;
                cursor: pointer;
                width: auto;
                height: auto;
                object-fit: contain;
                // width: 92%;// height: 92%;
                // margin: 0 auto;
            }
        }
    }

    .right-box-contain {
        position: relative;

        .safe-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 26%;
        }

        .offer-top {
            font-weight: 500;
            padding: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320))) calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
            background-color: rgba($danger-color, $alpha: .1);
            border-radius: 5px;
            color: $danger-color;
            display: inline-block;
            margin-bottom: 28px;
        }

        .name {
            font-weight: 700;
            margin-bottom: 15px;
        }

        .price-rating {
            @include flex_common ($dis: flex, $align: center, $justify: space-between);
            // padding-bottom: 12px;

            @include mq-max(3xl) {
                display: block;
            }

            .custom-rate {
                @include mq-max(3xl) {
                    margin-top: 10px;
                }
            }

            .price {
                font-weight: 600;
                font-size: 22px;

                del {
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0 2px;
                }

                span {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .custom-rate {
                ul {
                    li {
                        .feather {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .review {
                    font-size: 13px;
                    margin-left: 12px;
                }
            }
        }

        .procuct-contain {
            // margin-top: 20px;// h4 {
            //     font-weight: 600;
            //     margin-bottom: 7px;
            //     letter-spacing: 0.4px;
            // }

            p {
                color: $content-color;
                line-height: 1.7;
                margin: 20px 0 0;
                font-size: 16px;
            }
        }

        .product-packege {
            // margin-top: 20px;// h4 {
            //     font-weight: 600;
            //     margin-bottom: 7px;
            //     letter-spacing: 0.4px;
            // }

            .select-packege {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 13px);

                li {
                    a {
                        padding: 6px 11px;
                        border: 1px solid $border-color;
                        border-radius: 4px;
                        display: block;
                        color: $content-color;
                        font-size: 14px;
                    }
                }
            }
        }

        .note-box {
            align-items: center;
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 15px);

            .product-qty {
                width: 29%;
                margin-top: 0;

                .input-group {
                    background-color: #f6f5f1;
                }
            }

            // .buy-button {
            //     width: 59%;
            // }
        }

        .buy-box {
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 11px);
            align-items: center;
            margin-top: 20px;

            a {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);
                align-items: center;
                padding-bottom: 16px;
                color: #777;

                .feather {
                    width: 17px;
                    height: auto;
                }
            }

            // .buy-button {
            //     background: var(--theme-color2);
            //     border: 2px solid transparent;
            //     color: $white;
            // }

            // .wishlist-button {
            //     border: 2px solid var(--theme-color);
            //     background: $white;
            //     margin-left: 8px;
            //     border-radius: 5px;
            //     width: 50px;
            //     display: flex;
            //     height: 50px;
            //     align-items: center;
            //     justify-content: center;
            //     padding: 0;

            //     .feather {
            //         width: 20px;
            //         height: 20px;
            //         stroke: var(--theme-color);
            //     }
            // }
        }

        .pickup-box {
            padding-bottom: 20px;

            .pickup-icon {
                i {
                    font-size: 20px;
                    color: var(--theme-color);
                }
            }

            .pickup-detail {
                h4 {
                    font-weight: 400;
                    margin-bottom: 5px;
                    letter-spacing: 0.4px;
                    font-size: 16px;
                }

                h6 {
                    margin-top: 4px;
                }

                a {
                    margin-top: 0;
                    color: var(--theme-color);
                    display: inline-block;
                }
            }
        }

        .paymnet-option {
            ul {
                align-items: center;
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);
            }
        }

        .share-option {
            padding-bottom: 20px;

            ul {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 20px);

                li {
                    display: block;

                    a {
                        display: block;
                        text-align: center;
                        font-size: 17px;
                        color: $content-color;
                    }
                }
            }
        }
    }

    .product-main {
        @include pseudowh;
        display: flex;
        align-items: center;
        background-color: #f6f5f2;
        border-radius: 6px;

        .slider-image {
            img {
                width: 100%;
            }
        }

        // .slider-image {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     background: linear-gradient(149.8deg, #F6F5F2 17.21%, #FBFAF9 79.21%);

        //     // img {
        //     //     width: 75%;
        //     //     height: 75%;
        //     // }
        // }
    }

    .right-sidebar-box {
        position: sticky;
        top: 10px;

        .product-right-sidebar {
            li {
                +li {
                    margin-top: 0;

                    &::after {
                        top: -14px;
                        width: calc(100% - 103px);
                    }
                }
            }
        }
    }
}