/**=====================
     Product Page Scss
==========================**/
.pt-25 {
    padding-top: 25px;
}

.product-load-more {
    .col-grid-box {
        display: none;
    }
}

.product-title {
    margin-top: 20px;

    h4 {
        font-weight: 600;
        margin-bottom: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
        letter-spacing: 0.4px;
        font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    }
}

.vendor-box {
    padding: calc(12px + (33 - 12) * ((100vw - 320px) / (1920 - 320)));
    background-color: #f8f8f8;

    .verndor-contain {
        padding: 7px calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
        background-color: $white;
        align-items: center;
        // display: flex;
        // flex-wrap: wrap;
        // gap: 10px;
        @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 10px);

        .vendor-image {
            // width: 64px;
            // height: 66px;
            @include pseudowh($width: 64px, $height: 66px);

            img {
                // width: 100%;
                // height: 100%;
                @include pseudowh;
                object-fit: contain;
            }
        }

        // .vendor-name {

        // }
    }

    .vendor-list {
        margin-top: calc(13px + (24 - 13) * ((100vw - 320px) / (1920 - 320)));

        ul {
            align-items: center;
            // display: flex;
            // flex-wrap: wrap;
            // gap: calc(9px + (18 - 9) * ((100vw - 320px) / (1920 - 320)));
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(9px + (18 - 9) * ((100vw - 320px) / (1920 - 320))));

            li {
                display: block;

                .address-contact {
                    // display: flex;
                    // align-items: center;
                    // flex-wrap: wrap;
                    // gap: 8px;
                    @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);

                    .feather {
                        // width: 20px;
                        // height: 20px;
                        @include pseudowh($width: 20px, $height: 20px);
                        color: var(--theme-color);
                    }

                    h5 {
                        font-weight: 600;

                        span {
                            font-weight: 400;
                            margin-left: 7px;
                        }
                    }
                }
            }
        }
    }

    .vendor-detail {
        margin: calc(13px + (28 - 13) * ((100vw - 320px) / (1920 - 320))) 0 0;
        line-height: 1.7;
        color: $content-color;
        padding-bottom: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
    }
}

.hot-line-number {
    padding: calc(12px + (33 - 12) * ((100vw - 320px) / (1920 - 320)));
    background-color: #f8f8f8;

    h5 {
        font-weight: 600;
        margin-bottom: 4px;
    }

    h6 {
        color: $content-color;
        margin-bottom: 17px;
    }

    h2 {
        font-weight: 600;
        font-size: 24px;
    }
}

.product-category {
    gap: 25px;
    padding: calc(12px + (33 - 12) * ((100vw - 320px) / (1920 - 320)));
}

.product-section {
    .product-left-box {
        position: sticky;
        top: 0;
    }

    .left-slider-image {
        // height: 582px;// overflow-y: auto;
        // overflow-x: hidden;

        .sidebar-image {
            border-radius: 8px;
            overflow: hidden;

            img {
                // margin-top: 5px;
                cursor: pointer;
                // width: auto;
                // height: auto;
                @include pseudowh($width: auto, $height: auto);
                object-fit: contain;
                // width: 92%;// height: 92%;
                // margin: 0 auto;
            }
        }
    }

    .right-box-contain {
        position: relative;

        .safe-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 26%;
        }

        .offer-top {
            font-weight: 500;
            padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
            background-color: rgba($danger-color, $alpha: .1);
            border-radius: 5px;
            color: $danger-color;
            display: inline-block;
            margin-bottom: 20px;
        }

        .name {
            font-weight: 700;
            margin-bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
        }

        .price-rating {
            @include flex_common ($dis: flex, $align: center, $justify: space-between);
            // padding-bottom: 12px;

            @include mq-max(3xl) {
                display: block;
            }

            &-box {
                @include mq-max(3xl) {
                    @include flex_common ($dis: flex, $align: center, $justify: space-between);
                }

                @include mq-max(xs) {
                    display: block;
                }

                .custom-rate {
                    @include mq-max(3xl) {
                        margin-top: 0 !important;
                    }

                    @include mq-max(xs) {
                        margin-top: 10px !important;
                    }
                }
            }

            .custom-rate {
                @include mq-max(3xl) {
                    margin-top: 10px;
                }
            }

            .price {
                font-weight: 600;
                font-size: calc(19px + (22 - 19) * ((100vw - 320px) / (1920 - 320)));

                del {
                    font-weight: 400;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    margin: 0 calc(0px + (2 - 0) * ((100vw - 320px) / (1920 - 320)));
                }

                span {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 500;
                }
            }

            .custom-rate {
                ul {
                    li {
                        .feather {
                            // width: 16px;
                            // height: 16px;
                            @include pseudowh($width: 16px, $height: 16px);
                        }
                    }
                }

                .review {
                    font-size: 13px;
                    margin-left: 12px;
                }
            }
        }

        .procuct-contain {
            // margin-top: 20px;// h4 {
            //     font-weight: 600;
            //     margin-bottom: 7px;
            //     letter-spacing: 0.4px;
            // }

            p {
                color: $content-color;
                line-height: 1.7;
                margin: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))) 0 0;
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            }
        }

        .product-packege {
            // margin-top: 20px;// h4 {
            //     font-weight: 600;
            //     margin-bottom: 7px;
            //     letter-spacing: 0.4px;
            // }

            .select-packege {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(5px + (13 - 5) * ((100vw - 320px) / (1920 - 320))));

                li {
                    a {
                        padding: 6px 11px;
                        border: 1px solid $border-color;
                        border-radius: 4px;
                        display: block;
                        color: $content-color;
                        font-size: 14px;
                    }
                }
            }
        }

        .note-box {
            align-items: center;
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(7px + (15 - 7) * ((100vw - 320px) / (1920 - 320))));

            .product-qty {
                width: 180px;
                margin-top: 0;

                @include mq-max(2xs) {
                    width: 160px;
                }

                // @include mq-max(xl) {
                //     width: 25%;
                // }

                .input-group {
                    background: linear-gradient(187.77deg, #fafafa 5.52%, #f8f8f8 94%);
                }

                button {
                    // width: calc(30px + (35 - 30) * ((100vw - 320px) / (1920 - 320)));
                    // height: calc(30px + (35 - 30) * ((100vw - 320px) / (1920 - 320)));
                    @include pseudowh($width: calc(30px + (35 - 30) * ((100vw - 320px) / (1920 - 320))), $height: calc(30px + (35 - 30) * ((100vw - 320px) / (1920 - 320))));
                }
            }

            // .buy-button {
            //     width: 59%;
            // }
        }

        .buy-box {
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 11px);
            align-items: center;
            margin-top: 20px;
            padding-bottom: 16px;

            a {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320))));
                align-items: center;
                color: #777;

                .feather {
                    // width: 17px;
                    // height: auto;
                    @include pseudowh($width: 17px, $height: auto);
                }
            }

            // .buy-button {
            //     background: var(--theme-color2);
            //     border: 2px solid transparent;
            //     color: $white;
            // }

            // .wishlist-button {
            //     border: 2px solid var(--theme-color);
            //     background: $white;
            //     margin-left: 8px;
            //     border-radius: 5px;
            //     width: 50px;
            //     display: flex;
            //     height: 50px;
            //     align-items: center;
            //     justify-content: center;
            //     padding: 0;

            //     .feather {
            //         width: 20px;
            //         height: 20px;
            //         stroke: var(--theme-color);
            //     }
            // }
        }

        .pickup-box {
            padding-bottom: 20px;

            .pickup-icon {
                i {
                    font-size: 20px;
                    color: var(--theme-color);
                }
            }

            .pickup-detail {
                h4 {
                    font-weight: 400;
                    margin-bottom: 5px;
                    // letter-spacing: 0.4px;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                }

                h6 {
                    margin-top: 4px;
                }

                a {
                    margin-top: 0;
                    color: var(--theme-color);
                    display: inline-block;
                }
            }
        }

        .paymnet-option {
            ul {
                align-items: center;
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320))));
            }
        }

        .share-option {
            padding-bottom: 20px;

            ul {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 20px);

                li {
                    display: block;

                    a {
                        display: block;
                        text-align: center;
                        font-size: 17px;
                        color: $content-color;
                    }
                }
            }
        }
    }

    .product-main {
        // @include pseudowh;// display: flex;
        // align-items: center;
        // background-color: #f6f5f2;
        // border-radius: 6px;

        .slider-image {
            img {
                width: 100%;
            }
        }

        // .slider-image {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     background: linear-gradient(149.8deg, #F6F5F2 17.21%, #FBFAF9 79.21%);

        //     // img {
        //     //     width: 75%;
        //     //     height: 75%;
        //     // }
        // }
    }

    .right-sidebar-box {
        position: sticky;
        top: 10px;

        .product-right-sidebar {
            li {
                +li {
                    margin-top: 0;

                    &::after {
                        top: -14px;
                        width: calc(100% - 103px);
                    }
                }
            }
        }
    }
}