/**=====================
     Counter css start
==========================**/
.counter {
    display: flex;
    align-items: center;

    .up,
    .down {
        border: 1px solid $border-color;
        font-size: 18px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 20px;
        line-height: 24px;
        user-select: none;
        @include flex_common;
        width: 35px;
        height: 35px;
        border-radius: 0;

        &:hover {
            color: darken(#74b816, 40%);
        }
    }

    input {
        border: 1px solid $border-color;
        appearance: none;
        border: 0;
        text-align: center;
        width: 45px;
        height: 35px;
        font-size: 14px;
        font-weight: 500;
        background-color: rgba($black, .06);
    }
}