/**=====================
     modal css start
==========================**/
.theme-modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                border-bottom: none;
                padding-bottom: 0;

                .modal-title {
                    font-weight: 600;
                    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                }

                .btn-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: var(--theme-color);
                    opacity: 1;
                    background-image: none;
                    border-radius: 4px;
                    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
                    color: $white;
                }
            }

            .modal-footer {
                border: none;
                padding-top: 0;
            }
        }
    }
}