/**=====================
     ratio css start
==========================**/
.ratio_30 {
    .bg-size {
        &:before {
            padding-top: 30%;
            content: "";
            display: block;
        }
    }
}

.ratio_35 {
    .bg-size {
        &:before {
            padding-top: 35%;
            content: "";
            display: block;
        }
    }
}

.ratio_50 {
    .bg-size {
        &:before {
            padding-top: 50%;
            content: "";
            display: block;
        }
    }
}

.ratio_65 {
    .bg-size {
        &:before {
            padding-top: 65%;
            content: "";
            display: block;
        }
    }
}

.ratio_87 {
    .bg-size {
        &:before {
            padding-top: 87%;
            content: "";
            display: block;
        }
    }
}

.ratio_128 {
    .bg-size {
        &::before {
            padding-top: 128%;
            content: "";
            display: block;
        }
    }
}

.ratio_156 {
    .bg-size {
        &:before {
            padding-top: 156%;
            content: "";
            display: block;
        }
    }
}

.ratio_asos {
    .bg-size {
        &:before {
            padding-top: 127.7777778%;
            content: "";
            display: block;
        }
    }
}

.ratio_landscape {
    .bg-size {
        &:before {
            padding-top: 75%;
            content: "";
            display: block;
        }
    }
}

.ratio_medium {
    .bg-size {
        &:before {
            padding-top: 134%;
            content: "";
            display: block;
        }
    }
}