/**=====================
     Common scss
==========================**/

/* ======= Display Flex Css Start ======= */
@mixin flex-center ($dis: flex, $align: center, $justify: center) {
    display: $dis;
    align-items: $align;
    justify-content: $justify;
}

@mixin size($size) {
    width: $size;
    height: $size;
}