/**=====================
  Font family
==========================**/
$labre-font: 'Libre Caslon Text',
serif;
$nunito-font: 'Nunito',
sans-serif;
$fahkwang: 'Fahkwang',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;
$poppins: 'Poppins',
sans-serif;
$limelight: 'Limelight',
cursive;
$libreFranklin: 'Libre Franklin',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;
$darker: 'Darker Grotesque',
sans-serif;
$dm-sans: 'DM Sans',
sans-serif;
$sue: 'Sue Ellen Francisco',
cursive;

/**=====================
 Charity CSS Variables
==========================**/
:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --theme-color: 255, 210, 73;
    --title-color: 51, 51, 51;
    --sec-bg-color: 245, 245, 245;
    --after-color: 173, 173, 173;
    --border-color: 238, 238, 238;
}

/**=====================
 Ad CSS Variables
==========================**/
.ad-color {
    --theme-color: 253, 86, 50;
    --title-color: 28, 28, 28;
    --sec-bg-color: 245, 243, 239;
    --after-color: 173, 173, 173;
    --content-color: 133, 133, 133;
    --effect-color: 253, 233, 50;
    --bg-color: 252, 251, 247;
    --tringal: 69, 69, 69;
}

/**=====================
 consultancy CSS Variables
==========================**/
.consultancy-color {
    --theme-color: 112, 96, 254;
    --title-color: 41, 48, 62;
    --content-color: 150, 151, 161;
    --bg-color: 244, 245, 245;
    --green-color: 99, 193, 134;
    --border-color: 171, 172, 179;
    --shadow-color: 26, 32, 44;
}

/**=====================
 wedding-planner CSS Variables
==========================**/
.w-planner-color {
    --theme-color: 97, 57, 26;
    --content-color: 186, 128, 74;
    --bg-color: 248, 242, 237;
}

/**=====================
 seo-agency CSS Variables
==========================**/
.seo-color {
    --theme-color: 205, 252, 101;
    --content-color: 123, 123, 123;
    --bg-color: 244, 244, 244;
    --title-color: 14, 13, 13;
}

/**=====================
 startup CSS Variables
==========================**/

.startup-color {
    --theme-color: 11, 184, 179;
    --title-color: 5, 15, 88;
    --content-color: 130, 135, 172;
    --bg-color: 241, 245, 249;
    --secondary-color: 251, 141, 94;
    --border-color: 238, 238, 238;
}

/**=====================
 event CSS Variables
==========================**/

.event-color {
    --theme-color: 107, 203, 134;
    --title-color: 21, 24, 49;
    --content-color: 155, 157, 167;
    --bg-color: 77, 79, 98;
    --secondary-color: 122, 87, 246;
    --bg-light-color: 30, 34, 68;
}

/**=====================
 design-agency CSS Variables
==========================**/
.design-agency-color {
    --theme-color: 249, 104, 87;
    --title-color: 13, 35, 69;
    --content-color: 131, 142, 159;
    --bg-color: 247, 249, 253;
    --star-color: 255, 203, 68;
    --bg-dark-color: 77, 77, 77;
    --stroke-color: 100, 85, 87;
    --green-color: 99, 193, 134;
}

/**=====================
 marketing CSS Variables
==========================**/
.marketing-color {
    --theme-color: 251, 74, 106;
    --title-color: 9, 30, 136;
    --content-color: 147, 151, 172;
    --bg-color: 244, 245, 247;
    --star-color: 255, 203, 68;
}

/**=====================
 portfolio CSS Variables
==========================**/
.portfolio-color {
    --theme-color: 51, 206, 255;
    --title-color: 31, 33, 37;
    --bg-color: 68, 64, 117;
}

/**=====================
 cafe CSS Variables
==========================**/
.cafe-color {
    --theme-color: 179, 122, 100;
    --content-color: 228, 240, 255;
    --bg-color: 35, 43, 62;
    /* #232b3e */
}

/**=====================
 digital agency CSS Variables
==========================**/
.digital-agency-color {
    --theme-color: 21, 159, 54;
    /* #159F36 */
    --theme-color-1: 203, 218, 27;
    /* #CBDA1B */
    --theme-color-2: 9, 13, 7;
    /* #090D07; */
    --title-color: 20, 24, 2;
    /*  #141802  */
    --content-color: 156, 157, 155;
    /* #9C9D9B */
    --bg-color: 248, 248, 248;
    /* #F8F8F8 */
    --sec-bg-color: 243, 243, 243;
    --border-color: 231, 231, 231;
    /* #E7E7E7 */
}

/**=====================
 my wedding CSS Variables
==========================**/
.my-wedding-color {
    --theme-color: 76, 63, 83;
    /* #4C3F53 */
    --bg-color: 244, 242, 245;
    /* #F4F2F5 */
    --border-color: 240, 240, 240;
    /* #F0F0F0 */
}

/**=====================
 common color class
==========================**/
.theme-color {
    color: rgba(var(--theme-color), 1);
}

.title-color {
    color: rgba(var(--title-color), 1);
}

.content-color {
    color: rgba(var(--content-color), 1);
}

.fill-color {
    color: rgba(var(--star-color), 1) !important;
}