@keyframes grow {

  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes marquee-reverse {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes zoom {

  0%,
  100% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes animate-text {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

@keyframes line {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(200%);
  }
}

@keyframes fade-down-text {
  0% {
    transform: translateY(-100%);
  }

  50% {}
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes heart {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes waves {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    transform: rotateZ(0);
  }

  1% {
    transform: rotateZ(15deg);
  }

  3% {
    transform: rotateZ(-14deg);
  }

  5% {
    transform: rotateZ(17deg);
  }

  7% {
    transform: rotateZ(-16deg);
  }

  9% {
    transform: rotateZ(15deg);
  }

  11% {
    transform: rotateZ(-14deg);
  }

  13% {
    transform: rotateZ(13deg);
  }

  15% {
    transform: rotateZ(-12deg);
  }

  17% {
    transform: rotateZ(12deg);
  }

  19% {
    transform: rotateZ(-10deg);
  }

  21% {
    transform: rotateZ(9deg);
  }

  23% {
    transform: rotateZ(-8deg);
  }

  25% {
    transform: rotateZ(7deg);
  }

  27% {
    transform: rotateZ(-5deg);
  }

  29% {
    transform: rotateZ(5deg);
  }

  31% {
    transform: rotateZ(-4deg);
  }

  33% {
    transform: rotateZ(3deg);
  }

  35% {
    transform: rotateZ(-2deg);
  }

  37% {
    transform: rotateZ(1deg);
  }

  39% {
    transform: rotateZ(-1deg);
  }

  41% {
    transform: rotateZ(1deg);
  }

  43% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(0);
  }
}