/* =====================
    Blog CSS Start 
 ========================== */
@mixin blog_common {
    .blog-section {
        .blog-box {
            padding-bottom: 1px;
            border-radius: 10px;
            border: 1px solid $border-color;
            overflow: hidden;

            .blog-detail {
                padding: 20px;

                label {
                    display: inline-block;
                    padding: 6px 12px;
                    border-radius: 50px;
                    letter-spacing: .2px;
                    font-size: 12px;
                    overflow: hidden;
                    position: relative;
                    color: $dark-yellow;
                    border: 1px solid $dark-yellow;

                    &::before {
                        @include pos;
                        @include pseudowh;
                        top: 0;
                        left: 0;
                        background-color: $dark-yellow;
                        opacity: .1;
                    }
                }

                h2 {
                    line-height: 32px;
                    margin: 10px 0 5px;
                    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 400;
                }

                h5 {
                    font-size: 14px;
                }

                .blog-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        color: $content-color;
                    }

                    .blog-social-icon {
                        position: relative;

                        .icon {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: flex;
                            align-items: center;
                            background-color: $white;
                            transition: all .3s ease-in-out;
                            opacity: 0;

                            li {
                                transition: all .3s ease-in-out;
                                @include flex_common;
                                width: 20px;
                                height: 20px;

                                .fab {
                                    font-size: 14px;
                                    color: $content-color;
                                }

                            }
                        }

                        &:hover {
                            .icon {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}