/**=====================
     Banner css start
==========================**/
@mixin brand_common {
    .brand-section {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--theme-color);
            opacity: 0.05;
            width: 100%;
            height: 100%;
        }

        .brand-image {
            img {
                width: 70%;
                margin: 0 auto;

                @include mq-max(2xs) {
                    width: 60%;
                }
            }
        }
    }
}