/**=====================
   Ratio CSS Start
==========================**/
.ratio_72 {
    .bg-size {
        &:before {
            padding-top: 72.2%;
            content: "";
            display: block;
        }
    }
}

.ratio_88 {
    .bg-size {
        &:before {
            padding-top: 88%;
            content: "";
            display: block;
        }
    }
}