/**=====================
    label css start
==========================**/
.label {
  font-size: 12px;
  padding: 6px 10px;
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  font-weight: 500;

  @include mq-max(sm) {
    padding: 4px 6px;
    font-size: 10px;
  }

  &-block {
    position: absolute;
    padding: 30px;
    top: 0;
    width: 100%;
    z-index: 1;

    @include mq-max(2xl) {
      padding: 20px;
    }

    @include mq-max(sm) {
      padding: 15px;
    }
  }

  &-dark {
    background-color: $black1;
  }

  &-black {
    background-color: $black1;
  }

  &-theme {
    background-color: var(--theme-color);
  }
}

/**=====================
    label css end
==========================**/
