/**=====================
     title css start
==========================**/

.title {
  margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
  h5 {
    margin-bottom: 10px;
    margin-top: -2px;
  }
}

.title-2 {
  h2 {
    margin-top: -2px;
  }
  h5 {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.title-3 {
  margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
  h2 {
    margin-top: -2px;
  }
  h5 {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

/**=====================
     title css end
==========================**/
