.dark-bg-color {
    color: #22282c;
    color: #121418;
}

// ==================================== ul rtl position start ====================================
[dir="rtl"] & {
    padding-left: unset;
    padding-right: 0;
}

// ==================================== ul rtl position end ====================================





// ==================================== rtl position start ====================================
[dir="rtl"] & {
    right: unset;
    left: 10px;
}

// ==================================== rtl position end ====================================