.product-option {
     @include pseudowh;
     @include flex_common ($dis: flex, $align: center, $justify: space-evenly);
     position: absolute;
     top: -90px;
     left: 0;
     background-color: $white;
     opacity: 0;
     transition: all 0.3s ease-in-out;

     li {
          a {
               @include pseudowh($width: 45px, $height: 45px);
               @include flex_common;
               border-radius: 100%;
               border: 1px solid var(--theme-color);
               position: relative;
               z-index: 0;
               overflow: hidden;

               &:hover {
                    color: var(--theme-color);
               }

               &:after {
                    @include pos;
                    @include pseudowh;
                    top: 0;
                    left: 0;
                    background-color: var(--theme-color);
                    opacity: 0.1;
               }

               .feather {
                    @include pseudowh($width: 20px, $height: auto);
               }
          }
     }
}