.avatar-box {
            display: inline-block;
            position: absolute;
            bottom: -20px;
            right: 20px;
            background: var(--author-profile-bg);
            padding: 6px;
            border-radius: 100%;
            transition: all .3s ease-in-out;

            .author-img {
                background: linear-gradient(180deg, #758CFD 0%, rgba(53, 74, 183, 0) 100%);
                border-radius: 100%;
                padding: 1px;
                display: block;
                transition: all .3s ease-in-out;

                img {
                    transition: all .3s ease-in-out;
                    background: var(--product-avatar-bg);
                    border-radius: 100%;
                }
            }
        }