.learning-theme-dropdown {
    .dropdown-toggle {
        background: #F5F7F7;
        border-radius: 4px;
        color: rgba(var(--content), 1);
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;
        padding: 13px 17px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            right: -5px;
            width: 100%;
            height: 100%;
            background: var(--gradient);
            opacity: 0.08;
            border-radius: 4px;
            z-index: -1;
        }

        &:active {
            background-color: #F5F7F7;
            border-color: transparent;
            color: rgba(var(--content), 1);
        }

        i {
            font-size: 22px;
            line-height: 1;
        }

        &::after {
            content: none;
        }
    }

    .dropdown-menu {
        width: 100%;

        li {
            .dropdown-item {

                &:active,
                &.active {
                    background-color: #F5F7F7;
                    color: rgba(var(--title), 1);
                }
            }
        }
    }
}

.chatting-form-select {
    .form-label {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        font-weight: 400;
        font-size: 12px;
        color: rgba(var(--content), 1);
        margin-bottom: 0;
    }

    .form-select {
        background-color: transparent;
        border: none;
        padding: 8px 25px 8px 0;
        font-weight: 400;
        font-size: 16px;
        color: rgba(var(--title), 1);
        background-position: right 5px center;
        border-bottom: 1px solid rgba(var(--content), 1);
        border-radius: 0;

        &:focus {
            box-shadow: none;
        }
    }
}

.chatting-form-control {
    .form-label {
        font-weight: 400;
        font-size: 12px;
        color: rgba(var(--content), 1);
        margin-bottom: 0;
    }

    .form-control {
        background-color: transparent;
        border: none;
        padding: 8px 0;
        font-weight: 400;
        font-size: 16px;
        color: rgba(var(--title), 1);
        background-position: right 5px center;
        border-bottom: 1px solid rgba(var(--content), 1);
        border-radius: 0;

        &:focus {
            box-shadow: none;
        }

        &-border {
            border-bottom-color: rgba(var(--border-color), 0.3);
        }
    }
}

.custome-radio-box {
    display: inline-block;
    margin-right: 10px;

    &-2 {
        .form-check-input {
            width: 20px;
            height: 20px;
        }
    }

    [dir="rtl"] & {
        margin-right: 0;
        margin-left: 10px;
    }

    .form-check-input {
        transition: all 0.3s ease-in-out;
        margin-top: 2px;
        background-color: rgba(var(--white), 1);

        &:checked {
            background-color: rgba(var(--theme-color), 1);
            border-color: rgba(var(--theme-color), 1);
        }

        &:active {
            filter: none;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.chatting-radio-box {
    display: flex;
    align-items: center;
    margin: 0;
    min-height: auto;
    gap: 10px;

    .form-check-input {
        transition: all 0.3s ease-in-out;
        margin-top: -1px;
        background-color: rgba(var(--white), 1);

        &:checked {
            background-color: rgba(var(--title), 1);
            border-color: rgba(var(--title), 1);
        }

        &:active {
            filter: none;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.chatting-form-switch {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-height: auto;

    .form-check-label {
        h5 {
            font-size: 14px;
            color: rgba(var(--title), 1);
            margin-bottom: 3px;
        }

        h6 {
            color: rgba(var(--content), 1);
            font-weight: 400;
        }
    }

    .switch-box {
        input[type="checkbox"] {
            display: none;

            +label {
                transition: all 0.3s ease-in-out;

                .bar {
                    background: rgba(var(--content), 1);
                    height: 15px;
                    width: 15px;
                    border-radius: 100%;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }
            }

            &:checked {
                +label {
                    background-color: rgba(var(--title), 0.4);

                    .bar {
                        background: rgba(var(--title), 1);
                        transform: translateX(25px);
                    }
                }
            }
        }

        label {
            border-radius: 50px;

            .switch {
                background: rgba(var(--border-color), 0.2);
                width: 47px;
                border-radius: 50px;
                padding: 3px;
                position: relative;
            }
        }
    }
}

.theme-color-modal {
    .modal-content {
        .modal-body {
            .delete-list {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                li {
                    width: 100%;
                }
            }
        }
    }
}

.cab-form-control {
    position: relative;

    .form-control {
        background-color: transparent;
        border: 1px solid rgba(var(--border), 1);
        font-weight: 400;
        font-size: 18px;
        padding: 18px 26px;
        border-radius: 22px;
        color: rgba(var(--title), 1);
        margin-bottom: 20px;

        &::placeholder {
            color: rgba(var(--content), 1);
            font-weight: 400;
        }
    }

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        color: rgba(var(--content), 1);
        font-size: 24px;
    }

    &-flex {
        .form-group {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 14px;

            .form-control {
                background-color: transparent;
                border: 1px solid rgba(var(--border), 1);
                font-weight: 400;
                font-size: 18px;
                padding: 18px 26px;
                border-radius: 22px;
                color: rgba(var(--title), 1);
                margin-bottom: 0;
                width: 58px;
                height: 58px;
                padding: 0;
                border-radius: 15px;

                &:focus {
                    background: var(--gradient);
                    color: rgba(var(--white), 1);
                    border-color: transparent;

                    &::placeholder {
                        color: rgba(var(--white), 1);
                    }
                }
            }
        }
    }

    &-bg {
        img {
            width: 31px;
            height: 21px;
            border-radius: 6px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 25px;
        }

        .form-control {
            padding-left: 69px;
            padding-right: 54px;
            background-color: #F8F8F8;
            border: none;
        }
    }
}