/*common variables*/
:root {
    --white: #ffffff;
    --black: #000000;
    /*  for demo 1  */
    --base-gray: #F2F3F8;
    --theme-color: #FF9900;
    --theme-color2: #FB3939;
    --theme-blue: #202C3C;
    --theme-blue-dark: #131921;
}

/* for demo 2 */
.demo-2 {
    --base-gray: #F2F3F8;
    --theme-color: #FF9900;
    --theme-color2: #FB3939;
    --theme-blue: #202C3C;
    --theme-blue-dark: #131921;
}

https://prnt.sc/FSkCRmpslsHr
https://prnt.sc/35CKygLGtuwe
https://prnt.sc/AH34aZU2PT1R
https://prnt.sc/wGHt24Fd11Un





/*1) https://prnt.sc/9eRAJCrVA9Uj ==> change image*/
/*2) https://prnt.sc/lA_9RqHh1uqA ==> change icon & content*/
/*3) https://prnt.sc/jitO4ds2p3js ==> responsive issue*/
/*4) https://prnt.sc/8ahb3Ydlz2Os*/
/*5) https://prnt.sc/iU9b6MhuKfux*/
/*6) https://prnt.sc/875q2-NZaaEp*/
/*7) https://prnt.sc/4Gw6lQcL4j2Z*/
/*8) https://prnt.sc/SagCkncRqe1h*/
/*9) https://prnt.sc/9JwmstyH-xe6 ==>https://themes.pixelstrap.net/multikit/main-landing/*/
/*10) https://prnt.sc/iZGwsXxCE_i8==> https://themes.pixelstrap.net/multikit/main-landing/*/
/*11) check placeholder image*/
/*12) https://prnt.sc/8aECd0zqf-lw ==> hide scroll*/