/*common variables*/
:root {
    --white: #ffffff;
    --black: #000000;
    /*  for demo 1  */
    --base-gray: #F2F3F8;
    --theme-color: #FF9900;
    --theme-color2: #FB3939;
    --theme-blue: #202C3C;
    --theme-blue-dark: #131921;
}

/* for demo 2 */
.demo-2 {
    --base-gray: #F2F3F8;
    --theme-color: #FF9900;
    --theme-color2: #FB3939;
    --theme-blue: #202C3C;
    --theme-blue-dark: #131921;
}

https://prnt.sc/FSkCRmpslsHr
https://prnt.sc/35CKygLGtuwe
https://prnt.sc/AH34aZU2PT1R
https://prnt.sc/wGHt24Fd11Un





/*1) https://prnt.sc/9eRAJCrVA9Uj ==> change image*/
/*2) https://prnt.sc/lA_9RqHh1uqA ==> change icon & content*/
/*3) https://prnt.sc/jitO4ds2p3js ==> responsive issue*/
/*4) https://prnt.sc/8ahb3Ydlz2Os*/
/*5) https://prnt.sc/iU9b6MhuKfux*/
/*6) https://prnt.sc/875q2-NZaaEp*/
/*7) https://prnt.sc/4Gw6lQcL4j2Z*/
/*8) https://prnt.sc/SagCkncRqe1h*/
/*9) https://prnt.sc/9JwmstyH-xe6 ==>https://themes.pixelstrap.net/multikit/main-landing/*/
/*10) https://prnt.sc/iZGwsXxCE_i8==> https://themes.pixelstrap.net/multikit/main-landing/*/
/*11) check placeholder image*/
/*12) https://prnt.sc/8aECd0zqf-lw ==> hide scroll*/

Folder to give archana mam
1) preview image
2) Icon
3) landing image


2) theme
3) content




python manage.py sass app2/static/app2/scss/ app2/static/app2/css/ --watch
python manage.py sass voxoapp/static/assets/scss voxoapp/static/assets/css/ --watch


@media (max-width: 1400px) and (min-width: 1200px){
    .product-border > li:nth-child(1n + 2) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li > div > .product-box {
        border-right: unset;
    }
}



/*---------------------------- Mobile to Tablet ---------------------------------*/
@media (max-width: 720px) and (min-width: 320px){
    .product-border > li:nth-child(1n + 2) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li > div > .product-box {
        border-right: unset;
    }
}


/*---------------------------- Tablet to Desktop ---------------------------------*/
@media (max-width: 1400px) and (min-width: 720px){
    .product-border > li:nth-child(1n + 2) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li > div > .product-box {
        border-right: unset;
    }
}


/*---------------------------- Desktop to Large ---------------------------------*/
@media screen and (min-width: 1400px){
    .product-border > li:nth-child(1n + 2) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li > div > .product-box {
        border-right: unset;
    }
}

@media (max-width: 576px){
    .product-border > li:nth-child(1n + 2) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li > div > .product-box {
        border-right: unset;
    }
}

@media (min-width: 576px){
    .product-border > li:nth-child(1n + 3) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li:nth-child(2n + 2) > div > .product-box {
        border-right: unset;
    }
}


@media (min-width: 768px){
    .product-border > li:nth-child(1n + 4) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li:nth-child(3n + 3) > div > .product-box {
        border-right: unset;
    }
}

@media (min-width: 1200px){
    .product-border > li:nth-child(1n + 5) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li:nth-child(4n + 4) > div > .product-box {
        border-right: unset;
    }
}

@media (min-width: 1400px){
    .product-border > li:nth-child(1n + 7) > div > .product-box {
        border-top: 1px solid rgba(74,85,104,.3);
    }

    .product-border > li:nth-child(6n + 6) > div > .product-box {
        border-right: unset;
    }
}

/*
    https://nimb.ws/XyvdqQ
    https://nimb.ws/apAOyN
    https://nimb.ws/s461qn
*/