/*common variables*/
:root {
    --white: #ffffff;
    --black: #000000;
    /*  for demo 1  */
    --base-gray: #F2F3F8;
    --theme-color: #FF9900;
    --theme-color2: #FB3939;
    --theme-blue: #202C3C;
    --theme-blue-dark: #131921;
}

/* for demo 2 */
.demo-2 {
    --base-gray: #F2F3F8;
    --theme-color: #FF9900;
    --theme-color2: #FB3939;
    --theme-blue: #202C3C;
    --theme-blue-dark: #131921;
}