https://prnt.sc/MGaOxK52LiCi == product sticky page
https://prnt.sc/XzIYPys9oGat == product dynamic page
https://prnt.sc/uphOZ6KkSUpS - https://prnt.sc/f88gs-WSzdSn == check position on product dynamic page