/*=====================
    Header Style start
==========================*/

header {
    padding: 28px 0;
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
