:root {
    --theme-color: 13, 164, 135;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --content-color: 34, 34, 34;
    --secondary-color: 255, 189, 19;
    --light-bg: 248, 248, 248;
    --danger-color: 255, 79, 79;
    --rating-color: 255, 179, 33;
    --border-color: #ececec;
}

// font family
$public-sans: "Public Sans", sans-serif;
$caveat: "Caveat", "cursive";

// Breakepoints
$min-breakpoints: (
    lg: 992px,
    xl: 1200px,
    2xl: 1366px
);

$max-breakpoints: (
    2xs: 360px,
    xs: 480px,
    sm: 575px,
    md: 767px,
    lg: 991px,
    xl: 1199px,
    2xl: 1366px,
    3xl: 1460px,
    4xl: 1660px
);