.back-to-top {
    a {
        i {
            color: #fff;
        }
    }
}

.categories-canvas {
    background-color: #2a2d2d;

    .offcanvas-header {
        .close-button {
            background-color: #1d1d22;
            color: #ddd;
        }
    }
}

.fresh-vegetable-section {
    .delivery-box {
        li {
            .delivery-box {
                .delivery-icon {
                    img {
                        filter: invert(1) brightness(100);
                    }
                }
            }
        }
    }
}

.button-group {
    ul {
        li {
            button {
                &.shopping-button {
                    background-color: #1d1d22;
                }
            }
        }
    }
}

.order-detail {
    .progtrckr {
        li {
            &.progtrckr-done {
                &:before {
                    color: #fff;
                }
            }
        }
    }
}

.product-box {
    .label-tag {
        color: #fff;
    }
}

// .product-box {
//     .progress {
//         background-color: #1d1d22;
//     }
// }

.order-table-section {
    .order-navpills {
        .nav-item {
            .nav-link {
                &.active {
                    color: #fff;
                }
            }
        }
    }

    .order-tab {
        .order-tab-table {
            thead {
                tr {
                    th {
                        background-color: #1d1d22;
                        border-bottom-color: #777;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: #ddd;
                        border-bottom-color: #777;
                    }
                }
            }
        }
    }
}

.form-floating {
    >.form-control {
        border-color: #777;
    }
}

.compare-section {
    .compare-table {
        border-color: #777;

        tr {

            td,
            th {
                border-color: #777;
            }
        }
    }
}

.faq-box-contain {
    .faq-accordion {
        .accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.theme-modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                .btn-close {
                    color: #fff;
                }
            }
        }
    }
}

.summery-box {

    .summery-header,
    .summery-contain,
    .summery-total {
        &.bg-white {
            background-color: #2a2d2d !important;
            border-color: #1d1d22;
        }

        li {
            &:last-child {
                border-color: #1d1d22;
            }
        }
    }
}

.checkout-section {
    .custom-accordion {
        .accordion-item {
            .accordion-header {
                background-color: #2a2d2d;

                .accordion-button {
                    background-color: #2a2d2d;
                }
            }

            .accordion-collapse {
                .accordion-body {
                    background-color: #2a2d2d;
                }
            }
        }
    }

    .delivery-address-box {
        >div {
            .label {
                color: #fff;
            }
        }
    }

    .custom-navtab {
        .nav-item {
            .nav-link {
                border-color: #777;
            }
        }
    }
}

.theme-form-floating {
    >.form-control {

        &:focus,
        &:not(:placeholder-shown) {
            color: #fff;
        }
    }
}

.tooltip {
    .tooltip-inner {
        color: #fff;
    }
}

.theme-form-floating {
    >.form-select {
        background-color: #2a2d2d;
        color: #fff;
    }
}

.cart-table {
    table {
        tbody {
            tr {
                td {
                    border-bottom-color: #2a2d2d;

                    .quantity-price {
                        .cart_qty {
                            button {
                                background-color: #2a2d2d;
                                color: #fff;
                            }

                            input {
                                color: #fff;
                            }
                        }
                    }

                    &.price {
                        h5 {
                            color: #fff;
                        }
                    }

                    &.subtotal {
                        h5 {
                            color: #fff;
                        }
                    }

                    &.product-detail {
                        .product {
                            .product-detail {
                                ul {
                                    li {
                                        &.name {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.summery-box {
    .summery-header {
        border-color: #2a2d2d;
    }

    .summery-contain {
        border-color: #2a2d2d;

        .coupon-cart {
            .coupon-box {
                .btn-apply {
                    color: #fff;
                }
            }
        }
    }
}

.blog-section {
    .left-sidebar-box {
        .left-accordion-box {
            .accordion-item {
                .accordion-collapse {
                    .accordion-body {
                        .category-list-box {
                            ul {
                                li {
                                    a {
                                        .category-name {
                                            span {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .blog-detail-contain {
        .blog-details-quote {
            background-color: #1d1d22;

            h3 {
                color: #fff;
            }
        }
    }

    .blog-detail-image {
        .blog-image-contain {
            .contain-comment-list {
                li {
                    .user-list {
                        color: #ddd;
                    }
                }
            }
        }
    }
}

.custome-pagination {
    .pagination {
        .page-item {
            &.active {
                .page-link {
                    color: #fff;
                }
            }

            .page-link {
                background-color: #1d1d22;
            }
        }
    }
}

.blog-section {
    .blog-box {
        border-color: #777;

        .blog-image {
            label {
                color: #fff;

                i {
                    color: #fff;
                }
            }
        }
    }
}

.product-wrapper {
    .slick-dots {
        li {
            button {
                background-color: #777;
            }
        }
    }
}

.banner-contain {
    .banner-details {
        .coupon-code {
            border: 2px dashed rgba(255, 255, 255, 0.5);
        }
    }
}

.banner-contain {
    .banner-details {
        .banner-box {
            background-color: rgba(255, 255, 255, 0.5);

            h5 {
                color: #222;
            }

            h6 {
                color: #4a5568;
            }
        }

        h3 {
            color: #222;
        }

        p {
            color: #4a5568;
        }
    }
}

.arrow-slider {

    .slick-prev,
    .slick-next {
        background-color: #1d1d22;
    }
}

.btn,
.btn-animation {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.category-menu {
    ul {
        li {
            .category-list {
                img {
                    filter: invert(1);
                }
            }
        }
    }
}

.product-box-arrow {

    .slick-prev,
    .slick-next {
        background-color: #1d1d22;
    }
}

.title-flex {
    .timing-box {
        .name {
            color: #fff;
        }

        .timing {
            color: #fff;

            .feather {
                color: #fff;
            }
        }
    }
}

.category-box {
    img {
        filter: invert(1);
    }
}

.product-box {
    &-bg {
        background: #1d1d22;
    }

    .product-image {
        .product-option {
            background-color: #1d1d22;
        }
    }
}

.home-contain {
    .home-detail {
        h2 {
            color: #222;
        }

        h3 {
            color: #777;
        }

        h6 {
            color: #4a5568;
        }

        p {
            color: #4a5568;
        }

        .social-icon {
            li {
                a {
                    color: #777;
                    border-color: #777;
                }
            }
        }

        .shop-button {
            color: #222;
        }
    }
}

footer {

    &::after,
    &::before {
        filter: invert(1);
    }

    .main-footer {
        .theme-logo {
            a {
                img {
                    filter: invert(1) brightness(100);
                }
            }
        }
    }
}

.service-contain {
    .service-box {
        .service-image {
            img {
                filter: invert(1) brightness(100);
            }
        }
    }
}

.newsletter-section {
    .newsletter-box {
        .newsletter-contain {
            .newsletter-detail {
                h2 {
                    color: #fff;
                }

                .input-box {
                    .sub-btn {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.category-menu {
    &-2 {
        background: #1d1d22;
    }
}

.button-item {
    .item-btn {
        color: #fff;
    }
}

.item-section {
    .close-button {
        color: #fff;
    }

    h6 {
        color: #fff;
    }

    .items-image {
        li {
            background-color: #fff;
        }
    }
}

header {
    .navbar {
        &.navbar-expand-xl {
            .navbar-nav {
                .nav-link {
                    .label-menu {
                        color: #fff;
                    }
                }
            }
        }
    }

    .nav-about {
        &.bg-black-nav {
            background-color: #1d1d22;
        }

        .header-top {
            .about-list {
                li {
                    color: #ddd;

                    +li {
                        &:after {
                            background-color: rgba(221, 221, 221, 0.3);
                        }
                    }

                    .theme-form-select {
                        .dropdown-toggle {
                            color: #ddd;

                            &::before {
                                color: #ddd;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-nav-left {
        .dropdown-category {
            &.black-dropdown {
                background-color: #1d1d22;
                color: #ddd;
            }
        }
    }

    .top-nav {
        .navbar-top {
            .middle-box {
                .search-box {
                    .input-group {
                        button {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.header-2 {
    .top-nav {
        .nav-logo {
            filter: invert(1) brightness(100);
        }
    }

    .right-nav {
        .fire-button {
            .fire {
                .fire-main {
                    .main-fire {
                        background-image: radial-gradient(farthest-corner at 10px 0, #ddd 0%, #fff 95%);
                    }

                    .particle-fire {
                        background-color: #fff;
                    }
                }
            }

            span {
                color: #fff;
            }
        }
    }

    .rightside-menu {
        .dropdown-dollar {
            .dropdown {
                .dropdown-toggle {
                    color: #fff;

                    i {
                        color: #ddd;
                    }
                }
            }
        }

        .option-list {
            ul {
                li {
                    .header-icon {
                        .badge-number {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.cookie-bar-box {
    background: #1d1d22;

    .button-group {
        button {
            &.ok-button {
                color: #ddd;
            }
        }
    }
}

.banner-contain-2 {
    .banner-detail {
        color: #222;

        h3 {
            .brand-name {
                &::before {
                    border-color: #222;
                }
            }
        }

        h6 {
            color: #777;
        }

        p {
            color: #777;
        }
    }
}

.label-flex {
    .discount {
        label {
            color: #fff;
        }
    }
}

.deal-section {
    .deal-box {
        .deal-detail {
            .hot-deal {
                color: #fff;
            }
        }
    }
}

.timer {
    ul {
        li {
            background-color: #1d1d22;
        }
    }
}

.tab-style-color {
    .nav-item {
        .nav-link {
            color: #222;
        }
    }
}

.banner-contain-3 {
    .banner-detail {
        h4 {
            &.text-content {
                color: #777;
            }
        }
    }
}

.category-section-3 {
    .category-box-list {
        .category-name {
            h4 {
                color: #222;
            }

            h6 {
                color: #777;
            }
        }
    }
}

.product-box-4 {
    &.bg-white {
        background-color: #2a2d2d !important;
    }

    .circle-box {
        .shape-text {
            color: #fff;
        }
    }
}

.product-arrow {

    .slick-prev,
    .slick-next {
        background-color: #1d1d22;

        &:hover {
            &:before {
                color: #fff;
            }
        }
    }
}

.product-box-3 {
    .product-footer {
        .product-detail {
            .span-name {
                color: #ddd;
            }

            .unit {
                color: #ddd;
            }

            .price {
                del {
                    color: #ddd;
                }
            }
        }
    }

    .product-header {
        .product-header-top {
            .label-new {
                color: #fff;
            }
        }
    }
}

.product-section {
    .right-box-contain {
        .buy-box {
            a {
                color: #ddd;
            }
        }

        .note-box {
            .product-qty {
                .input-group {
                    background: #1d1d22;
                }
            }
        }
    }
}

.deal-timer {
    &.product-deal-timer {
        ul {
            background: #1d1d22;
        }
    }
}

.product-section-box {
    .custom-nav {
        .nav-item {
            .nav-link {

                &:focus,
                &:hover,
                &.active {
                    background-color: #1d1d22;
                }
            }
        }
    }
}