.back-to-top {
    a {
        i {
            color: #ffffff;
        }
    }
}

.checkbox_animated {
    &::after {
        background-color: #1d1d22;
    }
}

.categories-canvas {
    background-color: #2a2d2d;

    .offcanvas-header {
        .close-button {
            background-color: #1d1d22;
            color: #dddddd;
        }
    }
}

.fresh-vegetable-section {
    .delivery-box {
        li {
            .delivery-box {
                .delivery-icon {
                    img {
                        filter: invert(1) brightness(100);
                    }
                }
            }
        }
    }
}

.button-group {
    ul {
        li {
            button {
                &.shopping-button {
                    background-color: #2a2d2d;
                    color: #ddd !important;
                }
            }
        }
    }
}

.order-detail {
    .progtrckr {
        li {
            &.progtrckr-done {
                &:before {
                    color: #ffffff;
                }
            }
        }
    }
}

.product-box {
    .label-tag {
        color: #ffffff;
    }
}

.order-table-section {
    .order-navpills {
        .nav-item {
            .nav-link {
                &.active {
                    color: #ffffff;
                }
            }
        }
    }

    .order-tab {
        .order-tab-table {
            thead {
                tr {
                    th {
                        background-color: #1d1d22;
                        border-bottom-color: #777777;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: #dddddd;
                        border-bottom-color: #777777;
                    }
                }
            }
        }
    }
}

.form-floating {
    >.form-control {
        border-color: #777777;
    }
}

.compare-section {
    .compare-table {
        border-color: #777777;

        tr {

            td,
            th {
                border-color: #777777;
            }
        }
    }
}

.faq-box-contain {
    .faq-accordion {
        .accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.theme-modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                .btn-close {
                    color: #ffffff;
                }
            }
        }
    }
}

.summery-box {

    .summery-header,
    .summery-contain,
    .summery-total {
        &.bg-white {
            background-color: #2a2d2d !important;
            border-color: #1d1d22;
        }

        li {
            &:last-child {
                border-color: #1d1d22;
            }
        }
    }
}

.checkout-section {
    .custom-accordion {
        .accordion-item {
            .accordion-header {
                background-color: #2a2d2d;

                .accordion-button {
                    background-color: #2a2d2d;
                }
            }

            .accordion-collapse {
                .accordion-body {
                    background-color: #2a2d2d;
                }
            }
        }
    }

    .delivery-address-box {
        >div {
            .label {
                color: #ffffff;
            }
        }
    }

    .custom-navtab {
        .nav-item {
            .nav-link {
                border-color: #777777;
            }
        }
    }
}

.theme-form-floating {
    >.form-control {

        &:focus,
        &:not(:placeholder-shown) {
            color: #ffffff;
        }
    }
}

.tooltip {
    .tooltip-inner {
        color: #ffffff;
    }
}

.theme-form-floating {
    >.form-select {
        background-color: #2a2d2d;
        color: #ffffff;
    }
}

.cart-table {
    table {
        tbody {
            tr {
                td {
                    border-bottom-color: #2a2d2d;

                    .quantity-price {
                        .cart_qty {
                            button {
                                background-color: #2a2d2d;
                                color: #ffffff;
                            }

                            input {
                                color: #ffffff;
                            }
                        }
                    }

                    &.price {
                        h5 {
                            color: #ffffff;
                        }
                    }

                    &.subtotal {
                        h5 {
                            color: #ffffff;
                        }
                    }

                    &.product-detail {
                        .product {
                            .product-detail {
                                ul {
                                    li {
                                        &.name {
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.summery-box {
    .summery-header {
        border-color: #2a2d2d;
    }

    .summery-contain {
        border-color: #2a2d2d;

        .coupon-cart {
            .coupon-box {
                .btn-apply {
                    color: #ffffff;
                }
            }
        }
    }
}

.blog-section {
    .left-sidebar-box {
        .left-accordion-box {
            .accordion-item {
                .accordion-collapse {
                    .accordion-body {
                        .category-list-box {
                            ul {
                                li {
                                    a {
                                        .category-name {
                                            span {
                                                color: #ffffff;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .product-tags-box {
                            ul {
                                li {
                                    &:hover {
                                        a {
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .blog-detail-contain {
        .blog-details-quote {
            background-color: #1d1d22;

            h3 {
                color: #ffffff;
            }
        }
    }

    .blog-detail-image {
        .blog-image-contain {
            .contain-comment-list {
                li {
                    .user-list {
                        color: #dddddd;
                    }
                }
            }
        }
    }
}

.custome-pagination {
    .pagination {
        .page-item {
            &.active {
                .page-link {
                    color: #ffffff;
                }
            }

            .page-link {
                background-color: #1d1d22;
            }
        }
    }
}

.blog-section {
    .blog-box {
        border-color: #777777;

        .blog-image {
            label {
                color: #ffffff;

                i {
                    color: #ffffff;
                }
            }
        }
    }
}

.product-wrapper {
    .slick-dots {
        li {
            button {
                background-color: #777777;
            }
        }
    }
}

.banner-contain {
    .banner-details {
        .coupon-code {
            border: 2px dashed rgba(255, 255, 255, 0.5);
        }
    }
}

.banner-contain {
    .banner-details {
        .banner-box {
            background-color: rgba(255, 255, 255, 0.5);

            h5 {
                color: #222222;
            }

            h6 {
                color: #4a5568;
            }
        }

        h3 {
            color: #222222;
        }

        p {
            color: #4a5568;
        }
    }
}

.arrow-slider {

    .slick-prev,
    .slick-next {
        background-color: #1d1d22;
    }
}

.btn,
.btn-animation {
    color: #ffffff;

    &:hover {
        color: #ffffff;
    }
}

.category-menu {
    ul {
        li {
            .category-list {
                img {
                    filter: invert(1);
                }
            }
        }
    }
}

.product-box-arrow {

    .slick-prev,
    .slick-next {
        background-color: #1d1d22;
    }
}

.title-flex {
    .timing-box {
        .name {
            color: #ffffff;
        }

        .timing {
            color: #ffffff;

            .feather {
                color: #ffffff;
            }
        }
    }
}

.category-box {
    img {
        filter: invert(1);
    }
}

.product-box {
    &-bg {
        background: #1d1d22;
    }

    .product-image {
        .product-option {
            background-color: #1d1d22;
        }
    }
}

.home-contain {
    .home-detail {
        h2 {
            color: #222222;
        }

        h3 {
            color: #777777;

            &.text-uppercase,
            &.fw-light {
                color: #222222;
            }
        }

        h6 {
            color: #4a5568;
        }

        p {
            color: #4a5568;
        }

        .social-icon {
            li {
                a {
                    color: #777777;
                    border-color: #777777;
                }
            }
        }

        .shop-button {
            color: #222222;
        }
    }
}

footer {

    &::after,
    &::before {
        filter: invert(1);
    }

    .main-footer {
        .theme-logo {
            a {
                img {
                    filter: invert(1) brightness(100);
                }
            }
        }
    }
}

.service-contain {
    .service-box {
        .service-image {
            img {
                filter: invert(1) brightness(100);
            }
        }
    }
}

.newsletter-section {
    .newsletter-box {
        .newsletter-contain {
            .newsletter-detail {
                h2 {
                    color: #ffffff;
                }

                .input-box {
                    .sub-btn {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.category-menu {
    &-2 {
        background: #1d1d22;
    }
}

.button-item {
    .item-btn {
        color: #ffffff;
    }
}

.item-section {
    .close-button {
        color: #ffffff;
    }

    h6 {
        color: #ffffff;
    }

    .items-image {
        li {
            background-color: #ffffff;
        }
    }
}

header {
    .navbar {
        &.navbar-expand-xl {
            .navbar-nav {
                .nav-link {
                    .label-menu {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .nav-about {
        &.bg-black-nav {
            background-color: #1d1d22;
        }

        .header-top {
            .about-list {
                li {
                    color: #dddddd;

                    +li {
                        &:after {
                            background-color: rgba(221, 221, 221, 0.3);
                        }
                    }

                    .theme-form-select {
                        .dropdown-toggle {
                            color: #dddddd;

                            &::before {
                                color: #dddddd;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-nav-left {
        .dropdown-category {
            &.black-dropdown {
                background-color: #1d1d22;
                color: #dddddd;
            }
        }
    }

    .top-nav {
        .navbar-top {
            .middle-box {
                .search-box {
                    .input-group {
                        button {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

.header-2 {
    .top-nav {
        .nav-logo {
            filter: invert(1) brightness(100);
        }
    }

    .right-nav {
        .fire-button {
            .fire {
                .fire-main {
                    .main-fire {
                        background-image: radial-gradient(farthest-corner at 10px 0, #ddd 0%, #ffffff 95%);
                    }

                    .particle-fire {
                        background-color: #ffffff;
                    }
                }
            }

            span {
                color: #ffffff;
            }
        }
    }

    .rightside-menu {
        .dropdown-dollar {
            .dropdown {
                .dropdown-toggle {
                    color: #ffffff;

                    i {
                        color: #dddddd;
                    }
                }
            }
        }

        .option-list {
            ul {
                li {
                    .header-icon {
                        .badge-number {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

.cookie-bar-box {
    background: #1d1d22;

    .button-group {
        button {
            &.ok-button {
                color: #dddddd;
            }
        }
    }
}

.banner-contain-2 {
    .banner-detail {
        color: #222222;

        h3 {
            .brand-name {
                &::before {
                    border-color: #222222;
                }
            }
        }

        h6 {
            color: #777777;
        }

        p {
            color: #777777;
        }
    }
}

.label-flex {
    .discount {
        label {
            color: #ffffff;
        }
    }
}

.deal-section {
    .deal-box {
        .deal-detail {
            .hot-deal {
                color: #ffffff;
            }
        }
    }
}

.timer {
    ul {
        li {
            background-color: #1d1d22;
        }
    }
}

.tab-style-color {
    .nav-item {
        .nav-link {
            color: #222222;
        }
    }
}

.banner-contain-3 {
    .banner-detail {
        h4 {
            &.text-content {
                color: #777777;
            }
        }
    }
}

.category-section-3 {
    .category-box-list {
        .category-name {
            h4 {
                color: #222222;
            }

            h6 {
                color: #777777;
            }
        }
    }
}

.product-box-4 {
    &.bg-white {
        background-color: #2a2d2d !important;
    }

    .circle-box {
        .shape-text {
            color: #ffffff;
        }
    }
}

.product-arrow {

    .slick-prev,
    .slick-next {
        background-color: #1d1d22;

        &:hover {
            &:before {
                color: #ffffff;
            }
        }
    }
}

.product-box-3 {
    .product-footer {
        .product-detail {
            .span-name {
                color: #dddddd;
            }

            .unit {
                color: #dddddd;
            }

            .price {
                del {
                    color: #dddddd;
                }
            }
        }
    }

    .product-header {
        .product-header-top {
            .label-new {
                color: #ffffff;
            }
        }
    }
}

.product-section {
    .right-box-contain {
        .buy-box {
            a {
                color: #dddddd;
            }
        }

        .note-box {
            .product-qty {
                .input-group {
                    background: #1d1d22;
                }
            }
        }
    }
}

.deal-timer {
    &.product-deal-timer {
        ul {
            background: #1d1d22;
        }
    }
}

.product-section-box {
    .custom-nav {
        .nav-item {
            .nav-link {

                &:focus,
                &:hover,
                &.active {
                    background-color: #1d1d22;
                }
            }
        }
    }
}

.category-box {
    &:hover {
        h5 {
            color: #ffffff;
        }
    }
}

.shop-category-box {
    border-color: #777777;

    .shop-category-image {
        background-color: #2a2d2d;

        img {
            filter: invert(1) brightness(100);
        }
    }

    .category-box-name {
        background: #2a2d2d;
    }
}

.shop-section {
    .left-box {
        border-color: #777777;

        &.right-box {
            border-left-color: #777777;
        }

        .shop-left-sidebar {
            .search-box {
                &::after {
                    border-color: #777777;
                }
            }

            .custome-accordion {
                .accordion-item {
                    background-color: #2a2d2d;

                    .accordion-header {
                        .accordion-button {
                            background-color: #2a2d2d;
                            color: #ffffff;

                            &::before {
                                background-color: #1d1d22;
                                color: #dddddd;
                            }
                        }
                    }
                }
            }

            .filter-category {
                ul {
                    li {
                        background-color: #1d1d22;

                        &::before {
                            color: #dddddd;
                        }

                        a {
                            color: #dddddd;
                        }
                    }
                }
            }

            .custom-nav-tab {
                .nav-item {
                    background-color: #1d1d22;

                    .nav-link {
                        &.active {
                            color: #ffffff;
                        }

                        img {
                            filter: invert(1) brightness(100);
                        }
                    }
                }
            }
        }
    }

    .show-button {
        .filter-category {
            ul {
                li {
                    background-color: #1d1d22;

                    &::before {
                        color: #dddddd;
                    }

                    a {
                        color: #dddddd;
                    }
                }
            }
        }

        .top-filter-menu {
            .category-dropdown {
                .dropdown {
                    .dropdown-toggle {
                        background-color: #1d1d22;
                        color: #dddddd;
                    }

                    .dropdown-menu {
                        background-color: #1d1d22;

                        li {
                            a {
                                color: #dddddd;

                                &:hover {
                                    background-color: #2a2d2d;
                                }
                            }
                        }
                    }
                }
            }

            .grid-option {
                ul {
                    li {
                        a {
                            background-color: #1d1d22;

                            img {
                                filter: invert(1) brightness(100);
                            }
                        }
                    }
                }
            }
        }

        .top-filter-menu-2 {
            .sidebar-filter-menu {
                a {
                    color: #dddddd;
                    background-color: #1d1d22;
                }
            }

            .category-dropdown {
                .dropdown {
                    .dropdown-toggle {
                        color: #dddddd;
                        background-color: #1d1d22;
                    }
                }
            }

            .grid-option {
                ul {
                    li {
                        background: #1d1d22;

                        a {
                            img {
                                filter: invert(1) brightness(100);
                            }
                        }
                    }
                }
            }
        }
    }
}

.custom-height {
    &::-webkit-scrollbar {
        background-color: #1d1d22;
    }
}

.irs {

    .irs-to,
    .irs-from {
        color: #ffffff;
    }

    .irs-max,
    .irs-min {
        color: #dddddd;
    }

    .irs-line {
        background-color: #1d1d22;
    }
}

.js-range-slider {
    border-color: #777777;
    color: #dddddd;
    background-color: #2a2d2d;
}

.shop-banner-contain {
    .shop-banner-details {

        h2 {
            color: #222222;
        }

        h5 {
            color: #777777;
        }
    }
}

.user-dashboard-section {
    .dashboard-left-sidebar {
        .profile-box {
            .profile-contain {
                .profile-name {
                    border-bottom-color: #777777;
                }
            }
        }
    }

    .dashboard-right-sidebar {
        .dashboard-home {
            .dashboard-contant-title {
                border-bottom-color: #777777;
            }
        }

        .dashboard-order {
            .order-contain {
                .order-box {
                    .order-container {
                        .order-detail {
                            h4 {
                                span {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .dashboard-card {
            .payment-card-detail {
                .card-details {
                    .valid-detail {
                        .date {
                            h3 {
                                color: #ffffff;
                            }
                        }

                        .title {
                            span {
                                color: rgba(255, 255, 255, .7);
                            }
                        }
                    }

                    .card-number {
                        h4 {
                            color: #ffffff;
                        }
                    }
                }

                .card-details {
                    .name-detail {
                        .name {
                            h5 {
                                color: #ffffff;
                            }
                        }
                    }
                }

                .edit-card {
                    background-color: rgba(42, 45, 45, .8);

                    a {
                        color: #ffffff;
                    }
                }
            }
        }

        .dashboard-address {
            .address-box {
                >div {
                    .label {
                        color: #ffffff;
                    }

                    .address-table {
                        table {
                            tr {
                                td {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .dashboard-profile {
            .profile-detail {
                .profile-name-detail {
                    h3 {
                        span {
                            color: #ffffff;
                        }
                    }
                }
            }

            .profile-about {
                .table {
                    tbody {
                        tr {
                            td {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.compare-section {
    .compare-table {
        tr {
            td {
                .summary {
                    color: #dddddd;
                }
            }
        }
    }
}

.contact-box-section {
    .left-sidebar-box {
        .contact-detail {
            .contact-detail-box {
                .contact-icon {
                    color: #ffffff;
                }
            }
        }
    }
}

.arrow-slider {

    .slick-prev,
    .slick-next {
        &:hover {
            &::before {
                color: #ffffff;
            }
        }
    }
}

.newsletter-form {
    .form-control {
        color: #ffffff;

        &::placeholder {
            color: #ffffff;
        }
    }
}

.theme-modal {
    .modal-dialog {
        .modal-content {
            background-color: #2a2d2d;
        }
    }
}

.location-modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .location-list {
                    .search-input {
                        i {
                            color: #dddddd;
                        }

                        .form-control {
                            border-color: #777777;
                        }
                    }

                    .location-select {
                        li {
                            &.disabled-box {
                                border-color: #777777;

                                span {
                                    border-color: #dddddd;
                                    color: #dddddd;
                                }
                            }

                            a {
                                &:hover {
                                    span {
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-section-2 {
    .home-contain {
        .home-detail {
            p {
                color: #777777;
            }
        }
    }
}

.banner-contain {
    .banner-details {
        h3 {
            &.offer-text {
                color: #ffffff;
            }
        }
    }
}