/**=====================
   Reset css start
==========================**/
.text-gradient-1 {
    background: linear-gradient(90deg, #3A6FFF 11.38%, #FF003D 35.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
    background: linear-gradient(90deg, #3A6FFF 1%, #FF3465 70%, #FFA50A 98.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// custom font css
@font-face {
    font-family: Larsseit;
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Larsseit-Bold.otf)format('opentype'),
        url('../fonts/Larsseit-Bold.woff') format('woff');
}

@font-face {
    font-family: Larsseit;
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Larsseit-Medium.otf) format('opentype'),
        url('../fonts/Larsseit-Medium.woff') format('woff');
}

@font-face {
    font-family: Larsseit;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Larsseit-Light.otf) format('opentype'),
        url('../fonts/Larsseit-Light.woff') format('woff');
}

.cursive {
    font-family: 'Caveat', cursive;
    font-weight: 700;
}

.font-light {
    color: rgba(var(--text-light-color), 1);
    opacity: 0.8;
}

.section-title {
    margin-bottom: 50px;

    @include media-breakpoint-down(xl) {
        margin-bottom: 40px;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 25px;
    }

    &.calc-title {
        margin-bottom: calc(50px - 12px);
    }

    h2 {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 0;
        margin-top: -9px;
        text-transform: capitalize;

        span {
            color: $primary;
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            height: 1px;
            left: 0;
            background-color: rgba(var(--title-bottom-border-color), 1);
        }

        &::before {
            bottom: 7px;
            width: 320px;

            @include media-breakpoint-down(xl) {
                width: 280px;
            }
        }

        &::after {
            bottom: 0;
            width: 274px;

            @include media-breakpoint-down(xl) {
                width: 240px;
            }
        }
    }

    &-small {
        margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));

        h4 {
            position: relative;
            padding-bottom: 14px;
            margin-bottom: 0;

            &::before,
            &::after {
                position: absolute;
                content: "";
                height: 1px;
                left: 0;
                background-color: rgba(var(--title-bottom-border-color), 1);
            }

            &::before {
                bottom: 5px;
                width: 100px;
            }

            &::after {
                bottom: 0;
                width: 87px;
            }
        }
    }

    &-2 {
        margin-bottom: calc(17px + (26 - 17) * ((100vw - 320px) / (1920 - 320)));
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
            display: block;
        }

        h2 {
            font-size: calc(21px + (34 - 21) * ((100vw - 320px) / (1920 - 320)));
            padding-bottom: 13px;

            &::before {
                bottom: 5px;
            }
        }

        .button-group {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 10px;

            @include media-breakpoint-down(sm) {
                margin-top: 9px;
            }

            button {
                background: rgba(var(--author-profile-bg), 1);
                box-shadow: 0px 4px 20px rgba(var(--black), 0.1),
                    inset 0px 2px 4px rgba(165, 185, 231, 0.2);
                border-radius: 5px;
                color: rgba(var(--dropdown-item-text-color), 1);
                font-weight: 500;
                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                display: flex;
                align-items: center;
                gap: 5px;
                padding-inline: 17px;

                &.dropdown-button {
                    padding-block: 9px;
                }

                svg {
                    width: 18px;
                    height: 18px;
                    fill: rgba(var(--dropdown-item-text-color), 1);
                }

                span {
                    line-height: 1.3;
                }
            }
        }
    }

    &-center {
        h2 {

            &::before,
            &::after {
                left: 50% !important;
                transform: translateX(-50%);
            }
        }

        p {
            font-weight: 500;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            margin: 13px auto 0;
            width: 45%;
            line-height: 159%;
            color: rgb(142, 156, 190);

            @media (max-width: 1600px) {
                width: 54%;
            }

            @include media-breakpoint-down(xl) {
                width: 70%;
            }

            @include media-breakpoint-down(lg) {
                width: 84%;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}

.author-title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .section-title {
        width: 100%;
        margin-bottom: 0;
    }

    .author-dropdown-box {
        display: flex;
        align-items: center;
        gap: 14px;

        @include media-breakpoint-down(md) {
            display: none;
        }

        h5 {
            font-weight: 500;
            font-size: 18px;
            color: rgba(var(--text-light-color), 1);
            white-space: nowrap;
        }

        .author-dropdown {
            border: 1px solid transparent;
            font-weight: 500;
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            border: 2px solid;
            border-image-source: linear-gradient(180deg, #4360FF -26.92%, rgba(var(--black), 0) 43.7%, #4360FF 126.09%);
            background-color: rgb(27, 32, 44);
            color: rgba(var(--white), 1);
            padding: calc(7px + (12 - 7) * ((100vw - 320px) / (1920 - 320))) calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
            border-radius: 3px;
            border-image-slice: 1;

            &::after {
                margin-left: 15px;
                background-size: 13px;
                width: 13px;
                height: 13px;
            }
        }

        .dropdown-menu {
            border: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(180deg, #7C8BCA -26.92%, rgba(30, 31, 36, 0) 50.06%, #7C8BCA 126.09%);
            background-color: #222126;
            box-shadow: 0px 14px 30px rgba(var(--black), 0.2);
            margin-top: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320))) !important;
        }
    }
}

.title {
    h5 {
        padding-bottom: 13px;
        position: relative;
        font-size: 16px;
        display: inline-block;
        margin-bottom: 26px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 74%;
            height: 1px;
            background-color: rgba(var(--title-bottom-border-color), 1);
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(var(--title-bottom-border-color), 1);
        }
    }
}

.text-secondary {
    color: $secondary-2;
}

.common-card {
    padding: 12px;
    background: rgba(var(--author-profile-bg), 1);
    box-shadow: 0px 4px 20px rgba(var(--black), 0.1),
        inset 0px 4px 4px rgba(165, 185, 231, 0.2);
    border-radius: 10px;

    h3 {
        font-size: 20px;
        line-height: 1.5;

        @include media-breakpoint-down(lg) {
            font-size: 18px;
        }
    }
}

@media (max-width: 1660px) and (min-width:1400px) {
    .row-cols-6>* {
        width: 20%;
    }
}

@media (max-width: 480px) {
    .row-cols-2>* {
        width: 100%;
    }
}

.bg-overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(var(--black), 0.2);
    position: fixed;
    z-index: 3;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    &.show {
        visibility: visible;
        opacity: 1;
    }
}

/**=====================
   Reset css end
==========================**/