/*=====================
    Reset CSS start
==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section,
.section-t-space {
  padding-top: 20px;
}

.section-b-space {
  padding-bottom: 20px;
}
.section-lg-t-space {
  padding-top: 40px;
}
.section-lg-b-space {
  padding-bottom: 45px;
}

.custom-container {
  padding: 0 20px;
}

.form-control {
  &:focus {
    color: rgba(var(--white), 1);
    box-shadow: none;
  }
}
.success-color {
  color: rgba(var(--succes-color), 1) !important;
}

.danger-color {
  color: rgba(var(--danger-color), 1) !important;
}

.font-color {
  color: rgba(var(--font-color), 1) !important;
}
