/**=====================
     reset css start
==========================**/
.col-xxl-3-1 {
  width: 20%;

  @include mq-max(4xl) {
    display: none;
  }
}

.col-xxl-9-1 {
  width: 80%;

  @include mq-max(4xl) {
    width: 100%;
  }
}

.fw-300 {
  font-weight: 300;
}

.section-small-space {
  padding: calc(18px + (42 - 18) * ((100vw - 320px) / (1920 - 320))) 0;
}

.section-big-space {
  padding: calc(20px + (160 - 20) * ((100vw - 320px) / (1920 - 320))) 0;
}

section,
.section-t-space {
  padding-top: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
}

.section-b-space {
  padding-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
}

.container-fluid-lg {
  padding: 0 calc(12px + (160 - 12) * ((100vw - 320px) / (1920 - 320)));
}

// Position Top
.p-top-left {
  display: flex;
  justify-content: flex-start;
}

.p-top-center {
  display: flex;
  justify-content: center;
}

.p-top-right {
  display: flex;
  justify-content: flex-end;
}

// Position Center
.p-center-left {
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  @include flex_common ($dis: flex, $align: center, $justify: flex-start);
}

.p-center {
  @include flex_common;
  text-align: center;
}

.p-center-right {
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  @include flex_common ($dis: flex, $align: center, $justify: flex-end);
}

// Position Bottom
.p-bottom-left {
  // display: flex;
  // align-items: flex-end;
  // justify-content: flex-start;
  @include flex_common ($dis: flex, $align: flex-end, $justify: flex-start);
}

.p-bottom-center {
  // display: flex;
  // align-items: flex-end;
  // justify-content: center;
  @include flex_common ($dis: flex, $align: flex-end, $justify: center);
}

.p-bottom-right {
  // display: flex;
  // align-items: flex-end;
  // justify-content: flex-end;
  @include flex_common ($dis: flex, $align: flex-end, $justify: flex-end);
}

.ls-expanded {
  letter-spacing: 12px;
}

.ls-resize-expanded {
  letter-spacing: calc(4px + (10 - 4) * ((100vw - 320px) / (1920 - 320)));
}

.g-8 {
  margin: -8px;

  >div {
    padding: 8px;
  }
}

// Svg Width
.icon-width {
  // width: 25px;
  // height: 25px;
  @include pseudowh($width: 25px, $height: 25px);
}

// Rating
.rating {
  display: flex;

  @include mq-max(2xs) {
    display: flex;
    align-items: center;

    li {
      +li {
        margin-left: 1px;
      }
    }
  }

  li {
    .feather {
      stroke: $rating-color;
      width: 16px;

      &.fill {
        fill: $rating-color;
      }
    }
  }
}

// colors
.text-theme {
  color: var(--theme-color);
}

.text-title {
  color: $title-color;
}

.text-content {
  color: $content-color;
}

.text-light {
  color: $light-color !important;
}

.text-dark-yellow {
  color: $dark-yellow !important;
}