/*=====================
    Button CSS start
==========================*/
.btn-solid {
  padding: 12px 64px;
  background: var(--button-background);
  color: rgba(var(--font-color), 1);
  border: none;
  border-radius: 8px;
  &:hover {
    color: rgba(var(--white), 1) !important;
  }
}
.btn-section {
  margin-top: 25px;
  .btn {
    padding: 14px;
    background-color: rgba(var(--light-bg), 0.06);
    color: rgba(var(--font-color), 1);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 8px;
    margin-top: 15px;
    width: 100%;
    &:focus {
      box-shadow: none;
    }
  }
}
.filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  .btn-primary {
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(var(--theme-color), 1);
    h5 {
      margin-left: 10px;
    }
  }
}
