/*=====================
    Dropdown CSS start
==========================*/
.edit-menu {
  .btn {
    &:focus {
      box-shadow: none;
    }
  }
  .dropdown-menu {
    background-color: rgba(var(--canvas-bg), 1);
    border-radius: 8px;
    padding: 0 20px;
    li {
      width: 100%;
      .dropdown-item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgba(var(--font-color), 1);
        padding: 20px 0;
      }
    }
    li + li {
      border-top: 1px solid rgba(var(--white), 0.1);
    }
  }
}
