/*=====================
    form CSS start
==========================*/

.auth-form {
  position: relative;
  .form-label {
    margin-top: 25px;
    color: rgba(var(--font-color), 1);
  }
  .category-select {
    padding: 15px !important;
  }
  .form-control {
    padding: 15px 15px 15px 55px;
    background-color: rgba(var(--light-bg), 0.06);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    border: none;
    color: rgba(var(--white), 1);
    option {
      background: rgba(var(--light-bg), 1);
      color: rgba(var(--black), 1);
    }

    &::after {
      backdrop-filter: blur(2px);
    }
    i {
      position: absolute;
      bottom: 15px;
      left: 15px;
    }
    &::placeholder {
      color: rgba(var(--content-color), 1);
    }
  }
  .form-group {
    position: relative;

    .form-input {
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: rgba(var(--content-color), 1);
        border-right: 1px solid;
        padding-right: 10px;
      }
    }
  }
  .forgot {
    margin-top: 10px;
    text-align: right;
    a {
      color: rgba(var(--content-color), 1);
    }
  }
  .submit {
    text-align: center;
    margin-top: 40px;
  }
  .division {
    position: relative;
    margin-top: 25px;
    text-align: center;
    span {
      background-color: rgba(11, 10, 13, 1);
      color: rgba(var(--content-color), 1);
      padding: 0 10px;
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: " ";
      width: 100%;
      background: linear-gradient(270deg, rgba(77, 77, 77, 0) -2.05%, #4d4d4d 50.93%, rgba(77, 77, 77, 0) 101.74%);
      z-index: -1;
      height: 2px;
    }
  }

  h5 {
    text-align: center;
    color: rgba(var(--content-color), 1);
    margin-top: 20px;
    span {
      color: rgba(var(--theme-color), 1);
      display: flex;
    }
  }
}
.otp-form {
  .form-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 40px;
    gap: calc(15px + (24 - 15) * ((100vw - 320px) / (767 - 320)));

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .form-control {
    padding: calc(5px + (15 - 5) * ((100vw - 320px) / (767 - 320)));
    text-align: center;
  }
  .submit {
    margin-top: 40px;
    text-align: center;
  }
}

.offer-form {
  .offer-lable {
    display: flex;
    justify-content: space-between;
    .balance {
      color: rgba(var(--content-color), 1);
    }
  }
  .form-select {
    background-color: rgba(var(--white), 0.06);
    color: rgba(var(--content-color), 1);
    background-image: url("../images/svg/icons/arrow-down.svg");
    border: none;
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    background-size: 25px;
    padding: 15px;

    &:focus {
      box-shadow: none;
    }
    .item-manu {
      background-color: rgba(var(--black), 1);
      padding: 12px;
    }
  }
  .form-control {
    padding: 15px;
    color: rgba(var(--content-color), 1);
  }
  h5 {
    color: rgba(var(--content-color), 1);
  }
  .submit {
    margin-top: 260px;
  }
}
