.video-modal {
    .modal-content {
        border: none;
        background-color: transparent;

        .modal-header {
            padding: 0;
            border: none;

            .btn-close {
                margin: 0;
                padding: 0;
                position: absolute;
                top: -27px;
                right: -27px;
                background-image: none;
                opacity: 1;

                svg {
                    display: block;
                    fill: #fff;
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .modal-body {
            padding: 0;

            iframe {
                width: 100%;
                height: 550px;
            }
        }
    }
}