/*=====================
    offcanvas CSS start
==========================*/

.theme-offcanvas {
  height: 45%;
  background-color: rgba(var(--canvas-bg), 1);
  h4 {
    margin-bottom: 10px;
  }
  .offcanvas-body {
    .submit {
      margin-top: 80px;
      text-align: center;
      border: rgba(var(--button-background), 1);
      a {
        &:hover {
          color: rgba(var(--white), 1);
        }
      }
    }
  }
}

.share-offcanvas {
  border-radius: 20px 20px 0 0;
  h5 {
    text-align: center;
  }
  .social-row {
    border-top: 1px solid rgba(var(--white), 0.1);
    .social-media {
      .icons {
        height: 35px;
        width: 35px;
        padding: 5px;
        background: rgba(var(--white), 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
      }
      h5 {
        margin-top: 10px;
      }
    }
  }
}
