.theme-pagination {
    margin-top: calc(29px + (50 - 29) * ((100vw - 320px) / (1920 - 320)));

    .pagination {
        border: 1px solid rgba(var(--text-light-color), 0.3);
        border-radius: 5px;
        width: fit-content;
        margin: 0 auto;
        padding: 6px;
        gap: 7px;

        .page-item {
            .page-link {
                padding: calc(8px + (11 - 8) * ((100vw - 320px) / (1920 - 320))) calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
                background: rgba(var(--author-profile-bg), 0.5);
                border-radius: 3px;
                border: none;
                color: rgba(var(--white), 1);
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 400;

                &.active {
                    background-color: #3A6FFF;
                }
            }
        }
    }
}