{% extends 'pages/shop/shop-base.html' %}
{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}
{% block components %}


<!-- Blog Section Start -->
<section class="left-sidebar-section masonary-blog-section section-b-space">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 ratio3_2">
                <div class="row g-4">
                    {% include 'pages/blog/single-blog.html' %}
                </div>
                {% if page_obj.has_other_pages %}
                <div class="page-section">
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="previous">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <span class="current-page">{{ num }}</span>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?page={{ num }}" class="page">{{ num }}</a>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="next">Next</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>


                {% comment %} <div class="col-12">
                    <nav class="page-section">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <span>
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link">
                                    <span>
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->



{% endblock components %}