/*===================== 
    Category Scss
==========================*/
.category-section {
    .category-list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        padding: 2px 0;

        li {
            // white-space: nowrap;
            // padding: 10px 21px;
            // box-shadow: 0px 0px 6px rgba(var(--black), 0.06);
            // position: relative;
            border-radius: 50px;

            &.active {
                font-weight: 600;
                background-image: url(../images/learning/header-bg.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                a {
                    white-space: nowrap;
                    color: rgba(var(--white), 1.0);
                }
            }

            a {
                white-space: nowrap;
                padding: 10px 21px;
                border-radius: 50px;
                box-shadow: 0px 0px 6px rgba(var(--black), 0.06);
                position: relative;
                color: rgba(var(--title), 1.0);
                display: block;
            }
        }
    }
}