/*=====================
    Art page CSS start
==========================*/
.creator-details {
  .creator-info {
    display: flex;

    img {
      width: 65px;
      height: 65px;
      position: relative;
      border-radius: 6px;
      margin-top: -40px;
      border: 1px solid rgba(var(--theme-color), 1);
    }
    h3 {
      position: relative;
      display: flex;
      align-items: flex-end;
      margin-left: 10px;
      color: rgba(var(--font-color), 1);
    }
    h6 {
      margin-left: auto;
      margin-top: 10px;
      color: rgba(var(--content-color), 1);
    }
  }
  .creator-data {
    display: flex;
    gap: 30px;
    li {
      margin-top: 15px;
      color: rgba(var(--font-color), 1);
    }
  }
  p {
    position: relative;
    margin-top: 15px;
    line-height: 19px;
    font-size: 13px;
    color: rgba(var(--content-color), 1);
    &::after {
      position: absolute;
      content: " ";
      width: 100%;
      background: rgba(var(--white), 0.1);
      height: 2px;
      left: 0px;
      bottom: -20px;
    }
  }
}
