/*=============================
    Notifiation Page CSS start
===============================*/
.empty-tab {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h3 {
    margin-top: 30px;
    font-weight: 600;
    color: rgba(var(--white), 1);
  }
  h4 {
    margin-top: 10px;
    color: rgba(var(--content-color), 1);
  }
}

.notification-listing {
  margin-top: 20px;
  display: block;
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0;
    .notification-details {
      display: flex;
      .icon {
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(var(--white), 0.07);
        backdrop-filter: blur(2px);
        padding: 8px;
      }
      .notification-content {
        margin-left: 10px;
        h4 {
          margin: 0;
          color: rgba(var(--white), 1);
        }
        h6 {
          text-align: start;
          margin-top: 10px;
          color: rgba(var(--content-color), 1);
        }
      }
    }
    .timeing {
      color: rgba(var(--content-color), 1);
      padding-top: 5px;
    }
  }
  li + li {
    border-top: 1px solid rgba(var(--border-color), 1);
    width: 100%;
  }
}

.product-listing {
  margin-top: 20px;
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0;
    .product-details {
      display: flex;
      .product-img {
        width: 43px;
        height: 43px;
        border-radius: 6px;
      }
      .product-content {
        margin-left: 10px;
        h4 {
          margin: 0;
          color: rgba(var(--white), 1);
        }
        h6 {
          text-align: start;
          margin-top: 10px;
          color: rgba(var(--content-color), 1);
        }
      }
    }
    .right-penal {
      .counter {
        display: flex;
      }
      .timeing {
        color: rgba(var(--content-color), 1);
        padding-top: 5px;
      }
    }
  }
  li + li {
    border-top: 1px solid rgba(var(--border-color), 1);
    width: 100%;
  }
}
