.custom-container {
    padding-inline: calc(15px + (160 - 15) * ((100vw - 320px) / (1920 - 320)));
}

.danger-text {
    color: rgba(var(--theme-color-2), 1);
}

.warning-text {
    color: rgba(var(--dark-yellow), 1);
}

.content-color {
    color: rgba(var(--content), 1);
}

.theme-color-2 {
    color: rgba(var(--theme-color-2), 1);
}

.danger-bg-color {
    background-color: rgba(var(--theme-color-2), 1);
    color: rgba(var(--white), 1);
}

.success-bg-color {
    background-color: rgba(var(--success), 1);
}

.mt-20 {
    margin-top: 20px;
}

.section-t-space {
    padding-top: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
}

.section-b-space {
    padding-bottom: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
}

.light-bg-color {
    padding: calc(13px + (25 - 13) * ((100vw - 320px) / (1920 - 320)));
    background-color: rgba(var(--white), 1);
    height: 100%;
}

.title-color {
    color: rgba(var(--title), 1) !important;
}

.col-xxl-3-1 {
    @media (min-width: 1400px) {
        width: 25.65%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }
}

.custom-col-1 {
    @media (min-width: 1200px) {
        width: 19.53%;
        flex: 0 0 auto;
    }

    @media (min-width: 991px) {
        width: 22%;
        flex: 0 0 auto;
    }

    @include mq-max(lg) {
        display: none;
    }
}

.custom-col-2 {
    @media (min-width: 1200px) {
        width: 55.563%;
        flex: 0 0 auto;
    }

    @media (min-width: 991px) {
        width: 56%;
        flex: 0 0 auto;
    }

    @include mq-max(lg) {
        width: 100%;
        flex: 0 0 auto;
    }
}

.custom-col-3 {
    @media (min-width: 1200px) {
        width: 24.9%;
        flex: 0 0 auto;
    }

    @media (min-width: 991px) {
        width: 22%;
        flex: 0 0 auto;
    }

    @include mq-max(lg) {
        display: none;
    }
}

.custom-row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;

    @include mq-max(xl) {
        margin-left: -5px;
        margin-right: -5px;
    }

    >* {
        padding-left: 10px;
        padding-right: 10px;

        @include mq-max(xl) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.pt-20 {
    padding-top: 20px;

    @include mq-max(xl) {
        padding-top: 5px;
    }
}

.col-xxl-8-1 {
    @media (min-width: 1400px) {
        width: 74.35%;
    }

    @media (min-width: 1200px) {
        width: 70%;
    }
}

.hover-effect {
    position: relative;
    overflow: hidden;

    &::before {
        @include pos;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        width: 50%;
        height: 100%;
        background: linear-gradient(-90deg, rgba(var(--white), 0) 0%, rgba(var(--white), 0.035) 50%, rgba(var(--white), 0) 100%);
        transform: skewX(-25deg);
        border-radius: 0;
    }

    &:hover {
        &::before {
            animation: shine 1s;
        }
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.p-center {
    @include flex_common;
}