body {
    font-family: $br-hendrix;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: rgba(var(--title), 1);
    margin: 0;
    background-color: rgba(var(--white), 1);
    transition: all 0.5s ease-in-out;

    &.demo-color-1,
    &.demo-color-2 {
        background-color: rgba(var(--light-blue), 1);
    }
}

ol,
ul {
    margin-bottom: 0;
    padding-left: 0;
}

li {
    display: inline-block;
}

a {
    color: rgba(var(--title), 1);
    text-decoration: none;
    display: block;
}

p {
    margin-bottom: 0;
}

.form-control,
.form-select {
    &:focus {
        border-color: rgba(var(--white), 1);
        box-shadow: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
}

h5 {
    font-weight: 400;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

h6 {
    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
}