.code-section {
  //   background-image: url(../images/vegetable/percentage.jpg);
  background-image: url(../images/vegetable/852.png);
  background-position: center;
  //   background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  //   padding: 80px 0;

  .overlay-color {
    // background-color: #51973b;
    // opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    .code-contain {
      display: flex;
      align-items: center;
      color: $white;
      height: 100%;

      img {
        width: 40px;
        margin-right: 20px;
      }

      h6 {
        span {
          font-weight: bolder;
        }
      }
    }
  }
}
