/**=====================
     home section css start
==========================**/

@mixin home_common {
  .home-section {
    .home-slider {
      width: 100%;
      height: 736px;

      @include mq-max(xl) {
        height: 600px;
      }

      @include mq-max(lg) {
        background-position: left !important;
      }

      @include mq-max(sm) {
        height: 370px;
      }

      @include mq-max(2xs) {
        height: 300px;
      }
    }

    .home-wrap {
      height: 100%;

      h4 {
        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
        @include mq-max(xl) {
          font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1199 - 320)));
        }
      }

      p {
        font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1.5;

        @include mq-max(4xl) {
          max-width: 90%;
        }

        @include mq-max(2xl) {
          max-width: 80%;
        }

        @include mq-max(lg) {
          max-width: 89%;
        }
      }

      .discover-block {
        margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));

        @include mq-max(xs) {
          margin-top: 10px;
        }

        .d-flex {
          align-items: center;
        }

        .play-icon {
          width: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
          height: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          position: relative;
          z-index: 1;

          &::before {
            @include pos;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            background-color: var(--theme-color);
            border-radius: 100%;
            opacity: 0.1;
            left: -5px;
            top: -5px;
            z-index: -1;
          }

          i {
            margin-left: 3px;

            [dir="rtl"] & {
              margin-right: 3px;
              margin-left: unset;
            }
          }
        }

        .discover-content {
          margin-left: 20px;

          [dir="rtl"] & {
            margin-right: 20px;
            margin-left: unset;
          }
        }
      }
    }

    .home-social {
      position: absolute;

      ul {
        display: flex;
        align-items: center;

        li {
          a {
            font-size: calc(
              14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))
            );
          }

          img {
            margin-right: 5px;

            [dir="rtl"] {
              margin-right: unset;
              margin-left: 5px;
            }
          }

          span {
            vertical-align: -2px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@mixin home_1 {
  .home-section {
    padding: 0 100px;

    @include mq-max(3xl) {
      padding: 0 50px;
    }

    @include mq-max(2xl) {
      padding: 0 20px;
    }

    @include mq-max(xl) {
      padding: 0;
    }

    .home-wrap {
      padding: 50px 100px;
      position: relative;
      display: flex;

      @include mq-max(4xl) {
        padding: 40px 50px;
      }

      @include mq-max(2xl) {
        padding: 30px 40px;
      }

      @include mq-max(sm) {
        padding: 30px;
        align-items: center;
      }

      .left-content {
        .offer-wrap {
          margin-bottom: calc(
            30px + (90 - 30) * ((100vw - 320px) / (1920 - 320))
          );

          @include mq-max(xl) {
            margin-bottom: 20px;
          }
        }

        .home-content {
          h1 {
            @include mq-max(sm) {
              font-size: 26px;
            }
          }

          h2 {
            font-size: calc(
              32px + (40 - 32) * ((100vw - 320px) / (1920 - 320))
            );
            font-weight: 400;
          }

          h3 {
            font-size: calc(
              32px + (40 - 32) * ((100vw - 320px) / (1920 - 320))
            );
            font-weight: 500;

            @include mq-max(xl) {
              font-size: calc(
                28px + (30 - 28) * ((100vw - 320px) / (1199 - 320))
              );
            }

            @include mq-max(sm) {
              font-size: 20px;
            }
          }

          .text-decoration-line-through {
            font-size: calc(
              20px + (24 - 20) * ((100vw - 320px) / (1920 - 320))
            );

            @include mq-max(xl) {
              font-size: calc(
                16px + (18 - 16) * ((100vw - 320px) / (1199 - 320))
              );
            }

            @include mq-max(sm) {
              font-size: 14px;
            }
          }
        }
      }

      .right-content {
        display: flex;
        align-items: center;

        .product-img {
          margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));

          ul {
            li {
              a {
                img {
                  @include mq-max(4xl) {
                    height: 80px;
                  }
                }
              }

              + li {
                margin-left: calc(
                  10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))
                );

                [dir="rtl"] & {
                  margin-right: calc(
                    10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))
                  );
                  margin-left: unset;
                }
              }
            }
          }
        }
      }
    }

    .home-social {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      position: absolute;
      right: 70px;

      [dir="rtl"] & {
        right: unset !important;
        left: 70px;
      }
      @include center(vertical);

      @include mq-max(4xl) {
        right: 50px;
        [dir="rtl"] & {
          left: 50px;
        }
      }

      @include mq-max(3xl) {
        right: 40px;
        [dir="rtl"] & {
          left: 40px;
        }
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          margin-bottom: calc(
            10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))
          );

          img {
            margin-right: 0;
            margin-bottom: 5px;
            transform: rotate(90deg);
          }

          span {
            vertical-align: 3px;
          }

          a {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .group-btn {
      position: absolute;
      bottom: 0;

      .btn {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)))
          calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
      }
    }
  }
}

@mixin home_2 {
  .home-style-2 {
    position: relative;

    .selection-wrap {
      margin: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320))) 0;

      li {
        .dark-select {
          position: relative;

          .form-select {
            border-radius: 0;
            border: 1px solid $dark-color;
            background: $dark-color;
            color: $white;
            min-width: 75px;
            appearance: none;
          }

          i {
            position: absolute;
            font-size: 11px;
            right: 15px;
            @include center(vertical);
          }
        }

        + li {
          margin-left: calc(
            10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))
          );

          [dir="rtl"] & {
            margin-left: unset !important;
            margin-right: calc(
              10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))
            );
          }

          @include mq-max(4xl) {
            margin-left: 10px;

            [dir="rtl"] & {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .add-btn {
      margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));

      .btn {
        padding-top: 8px;
        padding-bottom: 8px;

        i {
          vertical-align: middle;
        }
      }

      .btn-solid-default {
        padding: 8px 10px;

        &:hover {
          background-color: $white;
          color: $white;
        }
      }
    }
    .share-icons {
      display: flex;
      align-items: center;

      span {
        text-transform: capitalize;
      }

      ul {
        margin-left: 10px;
        background-color: $dark-color;
        padding: 0 10px;

        li {
          padding: 10px;
        }
      }
    }

    .home-left-wrapper {
      background-color: $theme-font-color;
      @include flex_common;
      height: 100%;
      color: $white;
      padding: 0 calc(20px + (80 - 20) * ((100vw - 320px) / (1920 - 320)));

      @include mq-max(4xl) {
        padding: 0 calc(20px + (60 - 20) * ((100vw - 320px) / (1660 - 320)));
      }

      @include mq-max(3xl) {
        padding: 0 calc(15px + (40 - 15) * ((100vw - 320px) / (1460 - 320)));
      }

      h2 {
        font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1.4;
        margin-bottom: calc(
          20px + (40 - 20) * ((100vw - 320px) / (1920 - 320))
        );
      }

      .rating {
        display: inline-block;
        padding-left: 15px;

        [dir="rtl"] & {
          padding-left: unset;
          padding-right: 15px;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.9;
        color: rgba($white, 0.3);
        margin: 20px 0 30px;
      }

      h3 {
        font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));

        span {
          font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }

    .home-slider {
      height: 870px;

      @include mq-max(4xl) {
        height: calc(400px + (750 - 400) * ((100vw - 320px) / (1660 - 320)));
      }

      @include mq-max(lg) {
        height: calc(440px + (680 - 440) * ((100vw - 320px) / (991 - 320)));
      }

      @include mq-max(xs) {
        height: calc(360px + (470 - 360) * ((100vw - 320px) / (480 - 320)));
      }
    }

    .left-content {
      .home-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        padding: 0 calc(20px + (80 - 20) * ((100vw - 320px) / (1920 - 320)));

        @include mq-max(4xl) {
          padding: 0 calc(20px + (60 - 20) * ((100vw - 320px) / (1660 - 320)));
        }

        @include mq-max(3xl) {
          padding: 0 calc(15px + (40 - 15) * ((100vw - 320px) / (1460 - 320)));
        }

        h3 {
          margin-bottom: calc(
            20px + (40 - 20) * ((100vw - 320px) / (1920 - 320))
          );

          @include mq-max(xs) {
            margin-bottom: 10px;
          }
        }

        h1 {
          line-height: 1;
          margin-bottom: 20px;
          @include mq-max(sm) {
            font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (575 - 320)));
          }
        }

        > div {
          > h6 {
            letter-spacing: 8px;
            line-height: 25px;
            font-weight: 700;

            @include mq-max(4xl) {
              letter-spacing: 5px;
            }

            @include mq-max(xs) {
              font-size: 10px;
              letter-spacing: 2px;
              margin-bottom: 0 !important;
            }
          }
        }
      }

      @include mq-max(2xl) {
        background-position: left !important;
      }
    }

    .slick-2 {
      .slick-list {
        margin: 0;

        .slick-slide {
          > div {
            margin: 0;
          }
        }
      }
    }

    .home-wrap {
      p {
        @include mq-max(4xl) {
          max-width: 100%;
        }
      }
    }
  }
}

@mixin home_3 {
  .slider-arrow {
    position: absolute;
    right: 185px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-arrow,
    .right-arrow {
      .btn {
        padding: 0;
        background: unset;
        text-transform: uppercase;
      }
    }

    .left-arrow {
      border-right: 2px solid rgba($black1, 0.1);
      padding-right: 30px;

      .btn {
        color: $elec2;
        i {
          padding-right: 15px;
        }
      }
    }

    .right-arrow {
      padding-left: 30px;

      .btn {
        color: $black1;

        i {
          padding-left: 15px;
        }
      }
    }
  }

  .slider-arrow-2 {
    .left-arrow,
    .right-arrow {
      width: calc(22px + (50 - 22) * ((100vw - 320px) / (1920 - 320)));
      height: calc(100px + (160 - 100) * ((100vw - 320px) / (1920 - 320)));
      background-color: $white;
      position: absolute;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .btn {
        background: none;
        color: $black1;

        i {
          font-size: 26px;
        }
      }
    }

    .left-arrow {
      left: 0;
      top: 50%;

      .btn {
        i {
          margin-right: -50px;
        }
      }
    }

    .right-arrow {
      right: 0;
      top: 50%;
      justify-content: flex-start;

      .btn {
        i {
          margin-left: -50px;
        }
      }
    }
  }

  .slider-arrow-3 {
    position: absolute;
    right: 100px;
    bottom: 60px;
    display: flex;
    align-items: center;

    .left-arrow,
    .right-arrow {
      .btn {
        display: flex;
        align-items: center;
        background: none;
        color: $black1;
        padding: 0;
      }
    }

    .left-arrow {
      .btn {
        font-weight: 700;
        font-size: 36px;
        padding-right: 15px;

        i {
          width: 28px;
          height: 28px;
          background-color: #731fda;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: $white;
          font-size: 18px;
          margin-right: 15px;
        }
      }
    }

    .right-arrow {
      .btn {
        font-weight: 500;
        color: $pink;
        padding-left: 15px;
        border-left: 3px solid $pink;
      }
    }
  }

  .slider-dot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 70px;

    .dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $black1;
      margin-bottom: 5px;
      &.active {
        background-color: $fashion1;
      }
    }
  }

  .change-color {
    display: flex;
    align-items: center;

    h5 {
      font-weight: 700;
      padding: 0;
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    }

    .dot-1,
    .dot-2,
    .dot-3 {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .in-dot-1,
      .in-dot-2,
      .in-dot-3 {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }

    .dot-1 {
      margin-left: 20px;
      background: $orange1;

      .in-dot-1 {
        background: $white;
      }
    }

    .dot-2 {
      margin-left: 10px;
      background: rgba($black1, 0.15);
      .in-dot-2 {
        background: $black1;
      }
    }

    .dot-3 {
      margin-left: 10px;
      background: rgba($pink1, 0.2);
      .in-dot-3 {
        background: $pink;
      }
    }
  }

  .banner-poster {
    height: 850px;
    background-color: $elec3;
    display: flex !important;
    justify-content: center !important;
    position: relative;
    overflow: hidden;

    @include mq-max(md) {
      height: auto;
      display: block !important;
    }

    @include mq-max(2xs) {
      height: auto;
      width: 100%;
      display: inline-block !important;
    }

    .slider-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;

      @include mq-max(md) {
        width: 100%;
        position: relative;
        margin-top: 10px;
      }

      .bg-text {
        span {
          font-size: calc(42px + (240 - 42) * ((100vw - 320px) / (1920 - 320)));
          font-family: "Montserrat", sans-serif;
          font-weight: 900;
        }
      }

      .bg-circle {
        width: calc(100px + (600 - 100) * ((100vw - 320px) / (1920 - 320)));
        height: calc(100px + (600 - 100) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 50%;
        background: $pink-gradient;
        position: absolute;
        animation: rounded 15s infinite linear;

        &.gradient-blue {
          background: $blue-gradient;
        }

        &.red-gradient {
          background: $red-gradient;
        }
      }

      .shoes-1 {
        width: calc(150px + (800 - 150) * ((100vw - 320px) / (1920 - 320)));
        position: absolute;
        animation: run-shoes 15s infinite linear;
      }
    }

    .sugestion-product {
      position: absolute;
      width: 20%;
      top: 60px;
      left: 100px;
      padding: 15px 15px 0 15px;

      h3 {
        font-weight: 900;
        font-size: 30px;
        color: $theme-color;
      }

      h6 {
        font-size: 20px;
      }

      .slider-shoes-image {
        width: fit-content;
        margin-top: 25px;
        background-color: $white;
        padding: 10px;

        .relative-shoes {
          display: flex;
          align-items: center;

          img {
            width: 40%;
            margin-right: 30px;
            padding: 10px;
          }

          .shoes-price {
            color: $theme-color;

            h5 {
              font-size: calc(
                13px + (18 - 13) * ((100vw - 320px) / (1920 - 320))
              );
              margin-bottom: 0.25rem;
            }

            h6 {
              color: $black;
            }

            .rating-star {
              li {
                .feather {
                  fill: $theme-color;
                  width: 18px;
                }
                &:nth-child(5) {
                  .feather {
                    fill: transparent;
                  }
                }
              }
            }
          }
        }
      }
    }

    .price-number {
      position: absolute;
      bottom: 60px;
      left: 100px;
      width: 25%;

      @include mq-max(xl) {
        left: 50px;
        width: 50%;
      }

      @include mq-max(md) {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 0 15px;
        width: 100%;
        margin: 80px 0 30px;
      }

      @include mq-max(2xs) {
        width: 100%;
        left: 0;
        padding: 0 15px;
        position: relative;
        display: inline-block;
        margin-top: 65px;
      }

      h2 {
        font-size: calc(22px + (45 - 22) * ((100vw - 320px) / (1920 - 320)));

        span {
          font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (1920 - 320)));
          color: $theme-color;
          margin-left: 10px;
          font-weight: 500;
        }
      }

      h6 {
        color: $light-text;
      }

      .color-change {
        font-weight: 600;
        font-size: 22px;
        margin-top: 10px;
        display: flex;
        align-items: center;

        h3 {
          font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
          margin-right: 10px;
        }

        li {
          background-color: $red-40;
          width: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
          height: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
          border-radius: 50%;
          position: relative;
          margin-right: 10px;

          &::after {
            content: "";
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
            height: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
            position: absolute;
            background-color: $red;
          }

          &:nth-child(3) {
            background-color: $theme-color;

            &::after {
              background-color: $white;
            }
          }
        }
      }

      h6 {
        margin-top: 10px;
        font-weight: 400;
        line-height: 1.5;
      }
    }

    .slider-right-detail {
      position: absolute;
      top: 60px;
      right: 100px;
      text-align: right;

      @include mq-max(md) {
        text-align: left;
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
        padding: 25px 15px 50px;
        display: inline-block;
      }

      .labels {
        .label-15 {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;

          @include mq-max(lg) {
            justify-content: start;
          }

          li {
            margin-right: 30px;

            @include mq-max(lg) {
              margin-right: 5px;
            }

            &:last-child {
              margin-right: 0;
            }

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              color: $black;

              img {
                margin-right: 10px;
              }

              h5 {
                font-weight: 400;
              }
            }
          }
        }
      }

      h4 {
        font-weight: 700;
        margin-top: 25px;
        font-size: 25px;

        @include mq-max(lg) {
          margin-top: 10px;
        }
      }

      .offer-box {
        text-transform: uppercase;
        width: 90px;
        height: 30px;
        background-color: $pink;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        margin-top: 5px;
        margin-left: auto;
        border-radius: 0.25rem;

        @include mq-max(lg) {
          margin-right: auto;
          margin-left: 0;
        }

        h6 {
          color: $white;
          margin-bottom: -1px;
        }
      }
    }
  }
}

@mixin home_4 {
  .poster-section {
    height: 850px;
    background-image: url(../images/furniture-images/poster/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .poster-image {
      background-color: transparent !important;

      img {
        margin: 0 auto;
        margin-top: 4%;
        height: 1000px;
        object-fit: cover;
      }
    }

    .slider-nav {
      position: absolute;
      top: 50%;
      right: 40px;
      transform: translateY(-50%);
      text-align: right;
      background-color: transparent;
      display: inline-block;

      img {
        display: inline-block;
      }
    }
  }
}

/**=====================
     home section css end
==========================**/
