/**=====================
    Subsribe Section SCSS Start
==========================**/

.subscribe-section {
  background-color: $light-theme-color;

  &-light {
    background-color: $light-demo-6;
  }

  .subscribe-details {
    height: 100%;
    // background-color: red;

    h2 {
      font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
    }

    h6 {
      font-size: 15px;
      font-weight: normal;
    }
  }

  .subsribe-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .input-group {
      .form-control {
        &:focus {
          border-color: $light-text;
        }
      }
    }
  }
}

/**=====================
    Subsribe Section SCSS End
==========================**/
