<!-- header start -->
<header>
  <div class="custom-container">
    <div class="header-content">
      <a href="" class="brand-logo"><img src="assets/images/logo.svg" class="img-fluid" alt="logo"></a>
      <nav class="header-nav-middle">
        <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
          <a href="javascript:void(0)" class="d-xl-none d-inline-block mobile-menu"><i class="ri-menu-line"></i></a>
          <div class="offcanvas offcanvas-collapse order-xl-2">
            <button class="btn-close d-xl-none d-block" type="button" aria-label="Close"></button>
            <div class="offcanvas-body">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link dropdown-toggle">Ledige stillinger</a>
                </li>

                <li class="nav-item">
                  <a href="javascript:void(0)" class="nav-link dropdown-toggle">Tjenester</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link dropdown-toggle">Arbeidsgiver</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0)">Jobbsøker</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0)">Aktuelt</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">Min
                        profil</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">Mine
                        ordrer</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">Mine abonnementer</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">logout</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0)">Karriere</a>
                </li>


                <li class="nav-item">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0)">Om oss</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <a class="btn btn-solid">Kontakt oss <img src="assets/svg/hand.svg" class="img-fluid" alt=""></a>
      <!-- <a class="menu-overlay" [class.show]="show" (click)="openMenu()"></a> -->
    </div>
  </div>
</header>
<!-- header end -->

<!-- home section start -->
<section>
  <div class="custom-container position-relative">
    <div class="shape-image">
      <img src="../assets/svg/shape/4.svg" alt="" class="shape-1">
      <img src="../assets/svg/shape/5.svg" alt="" class="shape-2">
      <img src="../assets/svg/shape/6.svg" alt="" class="shape-3">
    </div>
    <div class="scroll-text">
      <span>Scroll</span>
      <svg>
        <use xlink:href="../assets/svg/scroll.svg#scroll"></use>
      </svg>
    </div>
    <div class="row g-5">
      <div class="col-6">
        <div class="home-content">
          <h1>Vi er Dreamwork</h1>
          <p class="para-sm">Dreamwork er et rekrutterings- og bemanningsbyrå med kommersielle og finansielle stillinger
            som spesialfelt. Vår arbeidskvalitet er godkjent av NHO Service og Handel.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="home-images">
          <div class="image-one">
            <img src="assets/images/people/1.jpg" class="img-fluid" alt="company">
            <img src="../assets/svg/shape/1.svg" class="shape-1" alt="">
            <img src="../assets/svg/shape/2.svg" class="shape-2" alt="">
          </div>
          <div class="image-two">
            <img src="assets/images/people/2.jpg" class="img-fluid" alt="company">
            <img src="../assets/svg/shape/3.svg" class="shape-1" alt="">
          </div>
        </div>
      </div>

      <div class="col-7">
        <div class="home-images">
          <div class="image-three">
            <img src="assets/images/people/3.jpg" class="img-fluid" alt="company">
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="home-content home-content-2">
          <h1 class="work-content">REAMWORK</h1>
          <p class="para-lg">Vårt fokus er å være en innovativ og fremtidsrettet partner for våre kunder. I tillegg til
            nettverk og etablert metodikk, investerer Dreamwork sterkt i ny teknologi og digitale kanaler for til enhver
            tid å finne de beste kandidatene for våre partnere</p>
        </div>
      </div>
    </div>

    <div class="section-dividor">
      <div class="number">02</div>
      <h5>Dreamwork er delt inn i fire underavdelinger:</h5>
    </div>
  </div>
</section>
<!-- home section end -->

<!-- Service Section Start -->
<section class="section-t-space">
  <div class="custom-container">
    <div class="title text-center position-relative">
      <svg>
        <use xlink:href="../assets/svg/scroll.svg#scroll"></use>
      </svg>
      <h2>Hva vi gjør</h2>
      <p>Ved å forstå din bedrifts behov, verdier og ambisjoner finner vi det rette talentet og legger et godt grunnlag
        for et langt, vellykket forhold mellom bedrift og nyansatt.</p>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="service-box">
          <div class="shape-image-1">
            <img src="../assets/svg/shape/6.svg" alt="">
          </div>
          <div class="service-image">
            <svg>
              <use xlink:href="assets/svg/service/_sprite.svg#telent"></use>
            </svg>
          </div>
          <div class="service-content">
            <h3>Talents</h3>
            <p>Er du nyutdannet eller en person som er i startfasen av karrieren?</p>
            <button class="btn service-button">
              <span>Les mer</span>
              <svg>
                <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="service-box">
          <div class="shape-image-2">
            <img src="../assets/svg/service/shape-1.svg" alt="">
          </div>
          <div class="service-image">
            <svg>
              <use xlink:href="assets/svg/service/_sprite.svg#search"></use>
            </svg>
          </div>
          <div class="service-content">
            <h3>Search & Selection</h3>
            <p>Er du nyutdannet eller en person som er i startfasen av karrieren?</p>
            <button class="btn service-button">
              <span>Les mer</span>
              <svg>
                <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="service-box">
          <div class="shape-image-3">
            <img src="../assets/svg/service/shape-2.svg" alt="">
          </div>
          <div class="service-image">
            <svg>
              <use xlink:href="assets/svg/service/_sprite.svg#retail"></use>
            </svg>
          </div>
          <div class="service-content">
            <h3>Retail</h3>
            <p>Er du nyutdannet eller en person som er i startfasen av karrieren?</p>
            <button class="btn service-button">
              <span>Les mer</span>
              <svg>
                <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="service-box">
          <div class="shape-image-4">
            <img src="../assets/svg/service/shape-3.svg" alt="">
          </div>
          <div class="service-image">
            <svg>
              <use xlink:href="assets/svg/service/_sprite.svg#technology-1"></use>
            </svg>
          </div>
          <div class="service-content">
            <h3>Technology</h3>
            <p>Er du nyutdannet eller en person som er i startfasen av karrieren?</p>
            <button class="btn service-button">
              <span>Les mer</span>
              <svg>
                <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="section-dividor">
      <div class="number">04</div>
      <h5>Hvordan vi gjør det</h5>
    </div>
  </div>
</section>
<!-- Service Section End -->

<!-- How We Do It Section Start -->
<section class="section-t-space">
  <div class="custom-container">
    <div class="title title-2">
      <h2 class="">Hvordan vi gjør det</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row g-4">
          <div class="col-6">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>1</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Proaktivt søk</h3>
                <p>Våre dedikerte rådgivere har flere hundre potensielle kandidater på intervju hver uke.</p>
                <button class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>2</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Big Data</h3>
                <p>Ved å bruke store datasett, innovativ teknologi og egenutviklede kampanjer, finner vi kandidater som
                  ikke aktivt søker jobb.</p>
                <button class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>3</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Sosiale Medier-ekspertise</h3>
                <p>Vi jobber målrettet med sosiale medier, og har tilgang til egne spesialverktøy for å finne de beste
                  kandidatene, også når de ikke er aktive jobbsøkere.</p>
                <button class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>4</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Personlighetsanalyse</h3>
                <p>Gjennom <a href="javascript:void(0)">Dreamwork Assessment</a> får vi en bredere forståelse for
                  kandidatenes myke verdier, og sørger
                  for at det blir en god match for våre kunder.</p>
                <button class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>5</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Tverrfaglig team</h3>
                <p>I Dreamwork får du utbytte av hele virksomheten – ikke bare den enkelte konsulenten. Som kunde hos
                  Dreamwork får du rådgivere som samarbeider på tvers av avdelingene for å løse din bedrifts behov.</p>
                <button class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>6</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Employment Branding</h3>
                <p>Employment branding er med på å gjøre din bedrift mer attraktiv for arbeidstakere. Ved bruk av
                  avansert teknologi, erfarne rådgivere og brukervennlige stillingsannonser tiltrekker vi oss de riktige
                  kandidatene, samtidig som vi fremmer din merkevare.</p>
                <button class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="title title-2">
          <p class="w-100 m-0">Vi er et rekrutteringsbyrå som satser stort på ny teknologi og digitale kanaler for å
            finne de beste kandidatene, og tar i bruk flere ulike rekrutteringsverktøy og prosesser som blant annet:</p>
        </div>

        <div class="hvordan-slider">
          <div class="hvordan-image">
            <img src="../assets/images/people/3.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How We Do It Section End -->