.wishlist-page-section {
    .product-box {
        .delete-button {
            position: absolute;
            top: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
            right: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
            background: rgba(13, 35, 69, 0.2);

            [dir="rtl"] & {
                right: unset;
                left: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
            }
        }

        .product-btn {
            bottom: 15px;
        }
    }
}