/*=====================
    Modal CSS Start
==========================*/
.offcanvas {
    &.theme-offcanvas {
        width: 320px;
    }

    &.theme-bottom-offcanvas {
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        height: auto;

        .offcanvas-header {
            display: block;
            padding: 20px 15px;
            background-color: rgba(var(--light-bg), 1);

            h5 {
                margin-top: -3px;
                margin-bottom: -3px;
            }

            .btn-close {
                display: none;
            }
        }
    }

    &.sidemenu-offcanvas {
        .offcanvas-header {
            .profile-box {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);
                align-items: center;

                .profile-image {
                    width: 40px;
                }

                .profile-name {
                    h6 {
                        margin-bottom: 2px;
                        color: $main-content;
                    }

                    h5 {
                        color: var(--theme-color);
                        margin-bottom: 2px;
                        font-weight: 600;
                    }
                }
            }

            .btn-close {
                margin: 0;
                font-size: 21px;
                padding: 0;
                background: unset;
                display: flex;
                align-items: center;
                opacity: 0.8;
            }
        }

        .offcanvas-body {
            .sidebar-menu {
                li {
                    +li {
                        border-top: 1px solid rgba($title-color, 0.1);
                        padding-top: 9px;
                        margin-top: 9px;
                    }

                    .menu-list {
                        @include flex_common ($dis: flex, $align: center, $justify: space-between);

                        .list-icon {
                            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 9px);
                            align-items: center;

                            i {
                                font-size: 20px;
                                color: $title-color;
                                position: relative;
                            }

                            h4 {
                                font-weight: 600;
                            }
                        }

                        .list-option {
                            .grid-item {
                                .switch {
                                    display: inline-block;
                                    position: relative;
                                    @include pseudowh($width: 56px, $height: 28px);

                                    input {
                                        opacity: 0;
                                        @include pseudowh($width: 0, $height: 0);

                                        &:checked+.slider {
                                            background-color: var(--theme-color);

                                            &:before {
                                                transform: translateX(27px);
                                            }
                                        }
                                    }

                                    .slider {
                                        position: absolute;
                                        cursor: pointer;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        background-color: $main-content;
                                        transition: .4s;

                                        &::before {
                                            background-color: rgba(var(--white), $alpha: 1.0);
                                            bottom: 3px;
                                            @include pos;
                                            @include pseudowh($width: 23px, $height: 23px);
                                            left: 3px;
                                            transition: .4s;
                                        }

                                        &.round {
                                            border-radius: 34px;

                                            &:before {
                                                border-radius: 50%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.learning-offcanvas {
        .offcanvas-header {
            background-image: url(../images/learning/header-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 120px;
            display: flex;
            align-items: flex-end;
            position: relative;

            .profile-box {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 13px);
                align-items: flex-end;

                .profile-image {
                    @include pseudowh($width: 80px, $height: 80px);
                    border-radius: 8px;
                    overflow: hidden;
                    margin-bottom: -34px;
                }

                .profile-name {
                    h4 {
                        margin-bottom: 4px;
                    }

                    h6 {
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }

            .btn-close {
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: rgba(var(--white), 1);
                opacity: 1;
                border-radius: 100%;
                @include pseudowh($width: 22px, $height: 22px);
                @include flex_common;
                font-size: 16px;
                padding: 0;
                margin: 0;
                background-image: none;
            }
        }

        .offcanvas-body {
            padding: 45px 0 0;

            .menu-setting-list {
                padding: 0 23px 0 15px;

                li {
                    +li {
                        margin-top: 15px;
                    }

                    .menu-setting-box {
                        @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 11px);
                        align-items: center;
                        color: rgba(var(--title), 1);

                        .setting-icon {
                            @include pseudowh($width: 30px, $height: 30px);
                            background-color: rgba(var(--white), $alpha: 1.0);
                            box-shadow: 2px 1px 4px rgba(var(--black), 0.05);
                            border-radius: 4px;
                            @include flex_common;

                            i {
                                font-size: 16px;
                            }
                        }

                        .setting-name {
                            display: flex;
                            align-items: center;

                            h4 {
                                font-weight: 400;

                            }
                        }

                        .setting-arrow {
                            margin-left: auto;

                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.filter-button {
        .offcanvas-body {
            .filter-box-list {
                .filter-list {
                    @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 16px);

                    li {
                        width: 100%;

                        .filter-box {
                            background-color: rgba(var(--white), 1);
                            border: 1px solid rgba(var(--border-color), 1);
                            border-radius: 6px;
                            padding: 15px;
                            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 10px);
                            align-items: center;
                            position: relative;
                            overflow: hidden;

                            &.active {
                                border: 1px solid rgba(var(--theme-color), 1);

                                .check-box {
                                    @include flex_common;
                                }

                                .filter-icon {
                                    color: rgba(var(--theme-color), 1);

                                    svg {
                                        stroke: rgba(var(--theme-color), 1);
                                    }
                                }

                                .filter-name {
                                    color: rgba(var(--theme-color), 1);
                                }
                            }

                            .check-box {
                                position: absolute;
                                top: 0;
                                right: 0;
                                @include pseudowh($width: 21px, $height: 21px);
                                background-color: rgba(var(--theme-color), 1);
                                color: rgba(var(--white), 1);
                                font-weight: 700;
                                display: none;
                            }

                            .filter-icon {
                                font-size: 17px;
                                color: rgba(var(--content), 1);
                                line-height: 1;
                                @include pseudowh($width: 21px, $height: 17px);
                                @include flex_common;

                                svg {
                                    @include pseudowh;
                                    stroke: rgba(var(--content), 1);
                                }
                            }

                            .filter-name {
                                color: rgba(var(--content), 1);
                            }
                        }
                    }
                }

                .apply-button {
                    margin-top: 25px;

                    &-2 {
                        background: var(--gradient-color);
                        color: rgba(var(--white), 1);
                    }
                }
            }
        }
    }

    &.apply-coupon-offcanvas {
        .offcanvas-body {
            .content-modal-name {
                color: rgba(var(--content), 1);
                font-size: 12px;
            }

            .search-box {
                position: relative;

                .form-control {
                    padding-left: 46px;
                }

                svg {
                    fill: rgba(var(--title), 1);
                    @include pseudowh($width: 18px, $height: 18px);
                    @include flex_common;
                    position: absolute;
                    @include center(vertical);
                    left: 15px;
                }
            }

            .coupon-list-box {
                margin-top: 23px;

                li {
                    +li {
                        border-top: 1px solid rgba(var(--content), 0.2);
                        margin-top: 11px;
                        padding-top: 24px;
                    }

                    .coupon-box {
                        .top-bar {
                            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);
                            align-items: center;

                            h5 {
                                text-transform: uppercase;
                                font-weight: 700;
                            }

                            span {
                                background-color: rgba(var(--content), 0.1);
                                padding: 3px 8px;
                                font-size: 12px;
                                border-radius: 2px;
                            }

                            a {
                                text-transform: uppercase;
                                margin-left: auto;
                                font-size: 14px;
                                font-weight: 700;
                                color: rgba(var(--title), 1);
                            }
                        }

                        p {
                            font-size: 12px;
                            margin-bottom: 6px;
                            margin-top: 2px;
                            line-height: 1.45;
                            color: rgba(var(--content), 1);
                        }

                        a {
                            color: #198754;
                        }
                    }
                }
            }
        }
    }

    &.share-modal {
        .offcanvas-body {
            .product-detail-box {
                .share-detail {
                    .share-title {
                        padding-bottom: 10px;

                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                            margin-bottom: 5px;
                        }

                        p {
                            line-height: 1.5;
                            color: rgba(var(--content), 1);
                            font-size: 12px;
                            margin-bottom: 0;
                        }
                    }

                    .copy-link {
                        margin-top: 7px;

                        .social-media-share {
                            padding-bottom: 9px;
                            @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 8px);
                            align-items: center;
                            overflow: auto;

                            li {
                                text-align: center;

                                a {
                                    @include pseudowh($width: 42px, $height: 42px);
                                    @include flex_common;
                                    margin: 0 auto;
                                    border-radius: 8px;

                                    &.fb {
                                        background-color: #3b5998;
                                    }

                                    &.twitter {
                                        background-color: #4099ff;
                                    }

                                    &.google {
                                        background-color: #db4a39;
                                    }

                                    &.link {
                                        background-color: #0077b5;
                                    }

                                    &.mail {
                                        background-color: #4a89dc;
                                    }

                                    &.more {
                                        background-color: #c92228;
                                    }

                                    &.whatsapp {
                                        background-color: #34af23;
                                    }

                                    &.pint {
                                        background-color: #c92228;
                                    }

                                    i {
                                        font-size: 18px;
                                        color: rgba(var(--white), 1);
                                    }
                                }

                                h6 {
                                    font-weight: 600;
                                    color: rgba(var(--content), 1);
                                    margin-top: 4px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.certificate-modal {
        .offcanvas-body {
            .product-detail-box {
                .certificate-box {
                    @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 8px);
                    align-items: center;

                    .certificate-image {
                        width: 160px;
                        border-radius: 8px;
                        overflow: hidden;
                    }

                    .certificate-content {
                        width: calc(100% - 160px - 8px);

                        p {
                            margin: 0;
                            color: rgba(var(--title), 1);
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    &.question-modal {
        .offcanvas-body {
            margin-top: 6px;

            .question-accordion {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);

                .accordion-item {
                    border: none;
                    width: 100%;

                    .accordion-header {
                        border-bottom: 1px solid rgba(var(--black), 0.078);

                        .accordion-button {
                            font-size: 15px;
                            padding: 0 0 11px;
                            font-weight: 500;
                            @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 7px);
                            align-items: flex-end;
                            color: rgba(var(--black), 1);
                            background-color: transparent;

                            &:not(.collapsed) {
                                padding-top: 11px;
                                box-shadow: none;
                            }

                            &:after {
                                content: none;
                            }

                            &:focus {
                                border-color: transparent;
                                box-shadow: none;
                            }
                        }
                    }

                    .accordion-collapse {
                        border-bottom: 1px solid rgba(var(--black), 0.078);
                        padding-bottom: 8px;

                        .accordion-body {
                            padding: 0;
                            margin-top: 12px;

                            p {
                                margin: 0;
                                font-size: 13px;
                                color: rgba(var(--title), 1);
                                line-height: 1.5;
                            }
                        }
                    }
                }
            }
        }
    }

    &.notes-modal {
        .offcanvas-body {
            .note-box {
                .form-label {
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(var(--title), 1);
                }

                .note-form {
                    position: relative;

                    .form-control {
                        background-color: rgba(245, 247, 247, 1);
                        box-shadow: 5px 6px 0px #efefef;
                        border: none;
                        padding: 13px 17px;
                    }

                    .btn {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        @include pseudowh($width: 28px, $height: 28px);
                        @include flex_common;
                        color: rgba(var(--title), 1);
                        font-size: 20px;
                        background: transparent;
                    }
                }
            }

            .note-review-box {
                margin-top: 26px;

                .note-pills {
                    @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 9px);
                    align-items: center;
                    padding: 8px;
                    position: relative;
                    z-index: 0;
                    border-radius: 6px;
                    overflow: hidden;

                    &::before {
                        @include pos;
                        top: 0;
                        left: 0;
                        @include pseudowh;
                        background: var(--gradient);
                        opacity: 0.08;
                        z-index: -1;
                    }

                    .nav-item {
                        width: 100%;

                        .nav-link {
                            width: 100%;
                            color: rgba(var(--title), 1);
                            font-weight: 600;

                            &.active {
                                color: rgba(var(--white), 1);
                                background: var(--gradient);
                            }
                        }
                    }
                }

                .note-list-box {
                    .tab-pane {
                        .note-list {
                            margin-top: 10px;
                            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);
                            max-height: 325px;
                            overflow: auto;

                            li {
                                .note-review-box-list {
                                    padding: 12px;
                                    background-color: #f5f7f7;
                                    border-radius: 11px;
                                    position: relative;

                                    &.favorite-box {
                                        background-color: rgba(var(--yellow), 0.08);

                                        .favrite-icon {
                                            display: block;
                                        }
                                    }

                                    .favrite-icon {
                                        position: absolute;
                                        top: 12px;
                                        right: 12px;
                                        color: rgba(var(--yellow), 1);
                                        line-height: 1;
                                        display: none;
                                    }

                                    .note-title {
                                        margin-bottom: 11px;
                                        color: rgba(var(--title), 1);

                                        h5 {
                                            font-size: 15px;
                                        }
                                    }

                                    .note-content {
                                        p {
                                            margin: 0;
                                            font-size: 13px;
                                            line-height: 1.5;
                                            color: rgba(var(--title), 0.7);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.chat-history-modal {
        .offcanvas-body {
            .chat-history-list {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 15px);

                li {
                    width: 100%;

                    a {
                        color: rgba(var(--title), 1);
                        align-items: center;
                        @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 12px);

                        h5 {
                            color: rgba(var(--title), 1);
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    &.cab-sidebar-offcanvas {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        .offcanvas-header {
            padding-top: 23px;
            padding-bottom: 0;

            .profile-box {
                @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 9px);
                align-items: center;

                .profile-image {
                    @include pseudowh($width: 68px, $height: 68px);
                    border-radius: 100%;
                    overflow: hidden;
                }

                .profile-name {
                    h4 {
                        margin-bottom: 5px;
                        color: rgba(var(--title), 1);
                    }

                    h5 {
                        color: rgba(var(--content), 1);
                        font-weight: 400;
                    }
                }
            }
        }

        .offcanvas-body {
            margin-top: 21px;

            .profile-menu-list {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 14px);

                li {
                    width: 100%;

                    &.active {
                        a {
                            background: var(--gradient2);
                            border-color: transparent;

                            .menu-icon,
                            .menu-name {
                                color: rgba(var(--white), 1);
                            }
                        }
                    }

                    a {
                        border: 1px solid #F3F3F3;
                        border-radius: 18px;
                        padding: 14px 21px;
                        align-items: center;
                        @include flex_wrap ($dis: flex, $wrap: nowrap, $gap: 11px);

                        .menu-icon {
                            font-size: 20px;
                            line-height: 1;
                            color: rgba(var(--title), 1);
                            @include pseudowh($width: 20px, $height: 20px);
                        }

                        .menu-name {
                            @include flex_common ($dis: flex, $align: center, $justify: space-between);
                            width: 100%;
                            color: rgba(var(--title), 1);

                            i {
                                font-size: 20px;
                                @include pseudowh($width: 20px, $height: 20px);
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    &.food-menu-canvas {
        padding: 18px 15px;
        box-shadow: $drop-shadow;
        border-radius: 20px 20px 0px 0px;
        height: auto;
        overflow: hidden;
        border: none;

        .offcanvas-header {
            display: block;
            padding: 0;

            .offcanvas-title {
                color: rgba(var(--title), 1);
                margin-bottom: 8px;
                line-height: 1;
            }

            .btn-close {
                display: none;
            }
        }

        .offcanvas-body {
            padding: 14px 14px 10px;

            .description-content {
                p {
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(var(--content), 1);
                    margin-top: 12px;
                }
            }

            .menu-title {
                color: rgba(var(--title), 1);
                margin-bottom: 17px;

                h5 {
                    font-weight: 400;
                    margin-bottom: 4px;
                }

                h6 {
                    font-weight: 400;
                    color: rgba(var(--content), 1);
                }
            }

            .food-select {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 14px);
                padding-bottom: 19px;
                margin-bottom: 11px;
                border-bottom: 1px solid #F9F9F9;

                .form-check {
                    margin: 0;
                    padding: 0;
                    min-height: auto;
                    @include flex_common ($dis: flex, $align: center, $justify: space-between);
                    width: 100%;

                    .form-check-input {
                        float: none;
                        border: none;
                        margin-top: 0;

                        &:checked {
                            background-color: transparent;
                            border-color: transparent;
                        }

                        &:active {
                            filter: none;
                        }

                        &:focus {
                            box-shadow: none;
                        }

                        &::after {
                            top: 2px;
                            left: 12px;
                        }

                        &::before {
                            left: 15px;
                            top: 6px;
                        }
                    }

                    .form-check-label {
                        font-weight: 400;
                        font-size: 14px;
                        color: rgba(var(--content), 1);
                    }
                }
            }

            .total-price {
                @include flex_common ($dis: flex, $align: center, $justify: space-between);

                h5 {
                    font-weight: 400;
                    color: rgba(var(--content), 1);
                    margin-bottom: 3px;
                }

                h4 {
                    font-weight: 600;
                    color: rgba(var(--black), 1);
                }
            }
        }
    }

    &.food-description-offcanvas {
        padding: 18px 15px;
        box-shadow: $drop-shadow;
        border-radius: 20px 20px 0px 0px;
        height: auto;
        overflow: hidden;
        border: none;

        .offcanvas-header {
            display: block;
            padding: 0;

            img {
                @include pseudowh($width: 100%, $height: 196px);
                object-fit: cover;
            }

            .btn-close {
                display: none;
            }
        }

        .offcanvas-body {
            padding: 15px;

            .description-content {
                h4 {
                    color: rgba(var(--title), 1);
                    margin-bottom: 8px;
                }

                p {
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(var(--content), 1);
                    margin-top: 12px;
                    margin-bottom: 11px;
                    padding-bottom: 14px;
                    border-bottom: 1px solid #F9F9F9;
                }
            }

            .total-price {
                @include flex_common ($dis: flex, $align: center, $justify: space-between);

                h5 {
                    font-weight: 400;
                    color: rgba(var(--content), 1);
                    margin-bottom: 3px;
                }

                h4 {
                    font-weight: 600;
                    color: rgba(var(--black), 1);
                }
            }
        }
    }

    &.hotel-sidebar-offcanvas {
        width: 100%;
        border: none;

        .offcanvas-header {
            background: var(--gradient-color);
            box-shadow: 0px 4px 9px rgba(var(--black), 0.1);
            border-radius: 0px 0px 22px 22px;
            height: 253px;
            display: block;
            padding: 0 15px;

            .sidemenu-header {
                margin-top: 31px;
                margin-bottom: 28px;
                @include flex_common ($dis: flex, $align: center, $justify: space-between);

                img {
                    width: 107px;
                }

                .btn-close {
                    width: 26px;
                    height: 26px;
                    background: rgba(var(--white), 0.2);
                    border-radius: 4px;
                    font-size: 14px;
                    color: rgba(var(--white), 1);
                    @include flex_common;
                    margin: 0;
                    padding: 0;
                    opacity: 1;
                }
            }

            .sidebar-profile-box {
                text-align: center;

                .profile-image {
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;
                    border-radius: 22px;
                    overflow: hidden;
                }

                .profile-name {
                    margin-top: 9px;
                }
            }
        }

        .offcanvas-body {
            margin-top: 23px;

            .sidebar-menu-list {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 21px);

                li {
                    width: 100%;

                    &:last-child {
                        a {
                            color: #0363DA;
                        }
                    }

                    a {
                        color: rgba(var(--title), 1);
                        align-items: center;
                        @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 12px);

                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    &.price-filter-offcanvas {
        .offcanvas-header {
            @include flex_common ($dis: flex, $align: center, $justify: space-between);

            h4 {
                font-weight: 600;
                font-size: 16px;
                color: rgba(var(--title), 1);
            }

            .btn-close {
                margin: 0;
                padding: 0;
                background: none;
                font-size: 20px;
                opacity: 1;
                width: auto;
                height: auto;
                line-height: 1;
            }
        }

        .offcanvas-body {
            .button-group {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background: rgba(var(--white), 1);
                display: flex;
                align-items: center;
                padding: 9px 16px;
                box-shadow: 0px 0px 4px rgba(var(--black), 0.05);
            }
        }
    }

    &.amenities-offcanvas {
        .offcanvas-body {
            padding-inline: 15px;

            .amenities-list-2 {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                gap: 23px;
                text-align: center;

                @media (max-width: 767px) {
                    gap: calc(5px + (23 - 5) * ((100vw - 320px) / (600 - 320)));
                }

                li {
                    .amenities-box {
                        color: rgba(var(--title), 1);

                        .amenities-icon {
                            background-color: rgba(var(--light-bg), 1);
                            border-radius: 10px;
                            width: 45px;
                            height: 45px;
                            @include flex_common;
                            font-size: 20px;
                            margin: 0 auto 8px;

                            svg {
                                width: 24px;
                                height: 24px;
                                fill: transparent;
                                stroke: rgba(var(--title), 1);
                            }

                            h3 {
                                font-weight: 400;
                            }
                        }

                        h5 {
                            font-weight: 400;
                            font-size: 13px;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            overflow: hidden;

                        }
                    }
                }
            }
        }
    }

    &.nationality-offcanvas {
        border: none;

        .search-country {
            display: flex;
            align-items: center;
            gap: 15px;

            i {
                font-size: 19px;
                color: rgba(var(--title), 0.9);
            }

            .form-floating {
                width: 100%;
            }
        }

        .location-content {
            background-color: #fff6ef;
            padding: 10px;
            border-radius: 7px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 9px;
            margin-bottom: 20px;

            .location-icon {
                width: 24px;
                height: 24px;
                background-color: #ffe9c0;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #e0b764;
                // margin-top: 5px;
            }

            h6 {
                font-weight: 400;
                line-height: 1.5;
                width: calc(100% - 9px - 24px);
            }
        }

        .country-list {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding-left: 1rem;

            li {
                width: 100%;
                list-style: disc;

                a {
                    font-size: 14px;
                    color: rgba(var(--title), 1);
                }
            }
        }
    }

    &.category-filter-offcanvas {
        border-radius: 0;
        height: 100%;

        .offcanvas-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn-close {
                padding: 0;
                margin: 0;
                background: none;
                font-size: 22px;
                position: relative;
                width: auto;
                height: auto;
                line-height: 1;
                display: flex;

                i {
                    line-height: 1;
                }
            }
        }

        .category-group {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            background: rgba(var(--white), 1);
            box-shadow: 0px 0px 4px rgba(var(--black), 0.05);
            padding: 9px 18px;
        }
    }
}

.theme-modal {
    .modal-content {
        border: none;

        .modal-header {
            padding-bottom: 0;
            border: none;

            h3 {
                font-weight: 400;
            }

            .btn-close {
                background-image: none;
                @include pseudowh($width: unset, $height: unset);
                font-size: 19px;
                opacity: 1;
                color: rgba(var(--title), 1);
                line-height: 1;
                box-sizing: border-box;
                padding: 0;
                margin: 0;

                i {
                    line-height: 1;
                }
            }
        }

        .modal-body {
            h5 {
                color: rgba(var(--title), 1);
                font-weight: 400;
            }
        }

        .modal-footer {
            flex-wrap: nowrap;
            gap: 12px;
            border: none;
            padding-top: 0;

            button {
                margin: 0;
            }
        }
    }
}

.delete-modal-2 {
    .modal-content {
        .modal-body {
            .delete-list {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 6px);

                li {
                    width: 100%;
                    font-size: 13px;
                    color: rgba(var(--title), 1);
                    font-weight: 400;
                    padding-left: 10px;
                    position: relative;

                    &::before {
                        @include pos;
                        @include center(vertical);
                        @include pseudowh($width: 3px, $height: 3px);
                        left: 0;
                        background-color: rgba(var(--title), 1);
                        border-radius: 100%;
                    }
                }
            }

            h5 {
                color: rgba(var(--title), 1);
                font-weight: 400;
            }
        }

        .modal-footer {
            flex-wrap: nowrap;
            gap: 12px;

            button {
                margin: 0;
            }
        }
    }
}