/*===================== 
    Rating Scss
==========================*/
.rating {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2px;
        color: #E0E0E0;

        li {
            i {
                font-size: 15px;

                &.fill {
                    color: rgba(var(--primary), 1);
                }
            }
        }
    }
}