/*===================== 
    Title Scss
==========================*/
.title {
    color: rgba(var(--title), 1);
    margin-bottom: 15px;

    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h6 {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 3px;
            font-weight: 400;

            i {
                font-size: 13px;
            }
        }
    }

    h4 {
        font-weight: 600;
    }
}

.tile-sm {
    color: rgba(var(--content), 1);
    margin-bottom: 15px;

    h6 {
        font-weight: 400;
    }
}

.title-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;

    h4 {
        font-weight: 600;
        font-size: 16px;
        color: rgba(var(--title), 1);

        @include mq-max(md) {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (767 - 320)));
        }
    }

    h5 {
        font-weight: 600;
        color: rgba(var(--title), 1);
    }

    a {
        font-weight: 600;
        color: rgba(var(--primary), 1);
    }

    &-sm {
        h4 {
            //    font-weight: 600;
            font-size: 15px;
            color: rgba(var(--content), 1);

            @include mq-max(md) {
                font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (767 - 320)));
            }
        }
    }
}