{% load static %}
{% load sass_tags %}
{% load custom_templatetags %}
{% load mathfilters %}

{% block vegetable-product-section %}


<!-- New Arrival Section Start -->
<section class="ratio_asos">
  <div class="container-fluid p-sm-0">
    <div class="row m-0">
      <div class="col-sm-12 p-0">
        <div class="title text-center">
          <h5>Just For You</h5>
          <h2>Fresh Fruits</h2>
        </div>
        <div class="product-wrapper slide-6">
          {% for product in vegetable_products  %}

          <div>
            <div class="product-box">
              <div class="img-wrapper hover-image">
                <a href="{% url 'left_slidebar' product.id %}">
                  <img loading="lazy" src="{{product.productImageFront}}" class="img-fluid bg-img blur-up lazyload"
                    alt="">
                </a>
                <div class="cart-wrap">
                  <ul>
                    <li>
                      <a href="{% url 'add_to_cart' product.id|return_first_product_variant 1 %}" class="addtocart-btn">
                        <i data-feather="shopping-bag"></i>
                      </a>
                    </li>
                    <li>
                      <a onclick="handleQuickView({'productId':'{{product.id}}','productVariantId':'{{product.id|return_first_product_variant}}'})"
                        data-bs-toggle="modal" href="#quick-view">
                        <i data-feather="eye"></i>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'compare_products' product.id|return_first_product_variant %}"
                        class="add-to-compare-list">
                        <i data-feather="refresh-cw"></i>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'add_to_wishlist' product.id|return_first_product_variant %}" class="wishlist">
                        <i data-feather="heart"></i>
                      </a>
                    </li>
                  </ul>

                  {% comment %} -----------------------------------------------------------------------------
                  {% endcomment %}
                  <script>
                    function getCookie(name) {
                      let cookieValue = null;
                      if (document.cookie && document.cookie !== "") {
                        const cookies = document.cookie.split(";");
                        for (let i = 0; i < cookies.length; i++) {
                          const cookie = cookies[i].trim();
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) === name + "=") {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                          }
                        }
                      }
                      return cookieValue;
                    }
                    var csrftoken = getCookie("csrftoken");

                    async function GetConvertedValues(value) {
                      var url = "{% url 'get_selected_currency' %}",
                        valuereturn = 0;
                      await fetch(url, {
                          method: "GET",
                          headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                          },
                        })
                        .then((response) => {
                          return response.json();
                        })
                        .then((data) => {
                          (valuereturn = (data.factor * value).toFixed(2)), (symbol = data.symbol);
                        });
                      return {
                        symbol: symbol,
                        value: valuereturn
                      };
                    }

                    async function GetConvertedRangeValues(value1, value2) {

                      var url = "{% url 'get_selected_currency' %}",
                        valuereturn1 = 0,
                        valuereturn2 = 0;
                      await fetch(url, {
                          method: "GET",
                          headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                          },
                        })
                        .then((response) => {
                          return response.json();
                        })
                        .then((data) => {
                          (valuereturn1 = (data.factor * value1).toFixed(2)),
                          (valuereturn2 = (data.factor * value2).toFixed(2)),
                          (symbol = data.symbol);
                        });
                      return {
                        symbol: symbol,
                        value1: valuereturn1,
                        value2: valuereturn2
                      };
                    }

                    async function handleQuickView(params) {
                      var url = "{% url 'quick_view' %}";
                      await fetch(url, {
                          method: "POST",
                          headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                          },
                          body: JSON.stringify({
                            productId: params.productId,
                            productVariantId: params.productVariantId,
                          }),
                        })
                        .then((response) => {
                          return response.json();
                        })
                        .then((data) => {
                          let id = data.productId;
                          let firstProductVariant = data.firstProductVariant;

                          console.log('--------singleImage>>>>', data.singleImage);
                          // console.log('--------multipleImages>>>>',data.multipleImages);

                          var productDetailsAtQuickView = document.getElementById('product-details');
                          if (productDetailsAtQuickView) {
                            productDetailsAtQuickView.remove();
                          }

                          // Code to render out multiple images in quick model view START -------------------------------------------------
                          var quickViewImg = document.getElementById("quickViewImage");
                          quickViewImg.setAttribute('src', data.singleImage)
                          var element = document.getElementById("quickViewImagesDiv");
                          element.style.backgroundImage = 'url("' + data.singleImage + '")';

                          // Code to render out multiple images in quick model view END ---------------------------------------------------


                          // ================= for rating ==================
                          let productRatingDiv = document.getElementById("productRating");
                          productRatingDiv.innerHTML = "";

                          for (let j = 1; j <= 5; j++) {
                            let ratingLi = document.createElement("li"),
                              icon = document.createElement("i");
                            icon.setAttribute("class", "fas fa-star");
                            if (j <= data.productFinalRating) {
                              icon.classList.add("theme-color");
                            }
                            ratingLi.appendChild(icon);
                            productRatingDiv.appendChild(ratingLi);
                          }
                          let stockStatusLi = document.createElement("li");
                          stockStatusLi.setAttribute("class", "font-light");
                          stockStatusLi.setAttribute("id", "stockStatus");
                          productRatingDiv.appendChild(stockStatusLi);

                          // ================= for rating ends==================

                          document.getElementById("productName").innerHTML = data.productName;
                          document.getElementById("stockStatus").innerHTML =
                            "( " + data.productStockStatus + " )";
                          // console.log("$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$", data);

                          document.getElementById("productPrice").innerHTML =
                            data.productVariantMinPrice +
                            "-" +
                            data.productVariantMaxPrice;
                          // document.getElementById('productPrice').innerHTML = data.productFinalPrice + ".00";




                          if (data.productType == "Simple") {
                            GetConvertedValues(data.productVariantPrice1).then((Data) => {
                              document.getElementById("productPrice").innerHTML =
                                Data.symbol + " " + Data.value;
                            });
                            GetConvertedValues(data.productVariantActualPrice).then((Data) => {
                              document.getElementById("actualPriceAtQuickView").innerHTML =
                                Data.symbol + " " + Data.value;
                            });

                            document.getElementById("discountPercentageAtQuickView").innerHTML = data
                              .productVariantDiscount;
                            // document.getElementById("productPrice").innerHTML =data.productVariantPrice1 +".00";
                          }
                          if (data.productType == "Classified") {
                            GetConvertedRangeValues(
                              data.productVariantMinPrice,
                              data.productVariantMaxPrice
                            ).then((Data) => {
                              document.getElementById("productPrice").innerHTML =
                                Data.symbol +
                                " " +
                                Data.value1
                                //  +
                                // " - " +
                                // Data.symbol +
                                // " " +
                                // Data.value2;
                            });

                            //document.getElementById("productPrice").innerHTML =data.productVariantMinPrice +"-" +data.productVariantMaxPrice +".00";
                            GetConvertedRangeValues(
                              data.productVariantMinActualPrice,
                              data.productVariantMaxActualPrice
                            ).then((Data) => {
                              document.getElementById("actualPriceAtQuickView").innerHTML =
                                Data.symbol +
                                " " +
                                Data.value1
                                //  +
                                // " - " +
                                // Data.symbol +
                                // " " +
                                // Data.value2;
                            });

                            document.getElementById("discountPercentageAtQuickView").innerHTML = data
                              .productVariantDiscountRange;
                          }

                          if (data.productType == "Simple") {
                            var flag = document.getElementById("attrSuperDiv");
                            if (flag) {
                              flag.remove();
                            }
                          }


                          if (data.productType == "Classified") {

                            var attributeObjects = data.attributeObjects
                            var attributeObjectsLength = data.attributeObjects.length
                            var flag = document.getElementById("attrSuperDiv");
                            if (flag) {
                              flag.remove();
                            }
                            var priceLabel2 = document.getElementById("priceLabel2");
                            let attrSuperDiv = document.createElement("div");
                            attrSuperDiv.id = "attrSuperDiv";
                            for (let i = 0; i < attributeObjects.length; i++) {
                              for (let attrName in attributeObjects[i]) {

                                var falg = document.getElementById(attrName + "DivId");

                                let attrValues = attributeObjects[i][attrName];

                                let attrDiv = document.createElement("div");
                                attrDiv.className = attrName.toLowerCase() + "-types size-detail";
                                attrDiv.setAttribute("id",attrName.toLowerCase()+"-id")

                                let heading = document.createElement("h4");
                                heading.textContent = attrName;
                                heading.id = attrName + "DivId"


                                let ul = document.createElement("ul");

                                for (let j = 0; j < attrValues.length; j++) {
                                  let li = document.createElement("li");

                                  let liId = attrName.toLowerCase() + "UlLi" + j;
                                  li.setAttribute("id", liId);

                                  let a = document.createElement("a");
                                  let aId = attrName.toLowerCase() + "A" + j;
                                  a.setAttribute("id", aId);
                                  let fun =
                                    "show_details_for_quick_view({attributeObjectsIds:'" + data
                                    .attributeObjectsIds + "',clickedEleId: '" +
                                    aId + "', eleLen: '" +
                                    attrValues.length + "', key: 'selected" +
                                    attrName + "AtQuickView', value: '" +
                                    attrValues[j] + "',ulDiv:'"+attrName.toLowerCase()+"',id: '" +
                                    data.productId + "'})";
                                  a.setAttribute("onClick", fun);

                                  let liContent = document.createElement("li");
                                  liContent.setAttribute("class", attrName.toLowerCase() + "Li");
                                  liContent.innerHTML = attrValues[j];

                                  li.appendChild(a);
                                  a.appendChild(liContent);
                                  ul.appendChild(li);
                                }
                                // Create hidden input field for attribute
                                let input = document.createElement("input");
                                input.type = "hidden";
                                input.name = attrName.toLowerCase();
                                // input.value = attrName;
                                input.id = "selected" + attrName + "AtQuickView";
                                attrDiv.appendChild(input);

                                attrDiv.appendChild(heading);
                                attrDiv.appendChild(ul);


                                priceLabel2.appendChild(attrSuperDiv);
                                attrSuperDiv.appendChild(attrDiv);

                              }
                            }
                          }



                          let url1 = "add_to_cart_fun_at_quick_view({key:'test'})".replace(
                            "test",
                            firstProductVariant.toString()
                          );
                          document.getElementById("addToCart").setAttribute("onClick", url1);

                          let url2 = "{% url 'left_slidebar' 'test' %}".replace(
                            "test",
                            id.toString()
                          );
                          document.getElementById("productLeftSlidebar").setAttribute("href", url2);

                          var images = document.getElementsByClassName("product-quick-view");

                          // for (var i = 0; i < images.length; i++) {
                          //   images[i].setAttribute("src", data.multipleImages);
                          //   if (images[i].classList.contains("bg-img")) {
                          //     images[i].parentElement.style.backgroundImage = `url("${data.multipleImages}")`;
                          //   }
                          // }

                          // Code to render out product details like Category and Brand in quick model view START -------------------------

                          const div = document.createElement("div");
                          div.className = "product-details";
                          div.id = "product-details"


                          const h4 = document.createElement("h4");
                          h4.textContent = "product details";
                          div.appendChild(h4);

                          const ul = document.createElement("ul");

                          const li1 = document.createElement("li");
                          const span1 = document.createElement("span");
                          span1.className = "font-light";
                          span1.textContent = "Brand :";
                          li1.appendChild(span1);
                          li1.appendChild(document.createTextNode(data.brand));
                          ul.appendChild(li1);

                          const li2 = document.createElement("li");
                          const span2 = document.createElement("span");
                          span2.className = "font-light";
                          span2.textContent = "Category :";
                          li2.appendChild(span2);
                          li2.appendChild(document.createTextNode(data.category));
                          ul.appendChild(li2);

                          div.appendChild(ul);

                          // var attrSuperDiv = document.getElementById("attrSuperDiv");
                          // 
                          // if (attrSuperDiv) {
                          //   attrSuperDiv.after(div);
                          // } else {
                          // var priceLabelAtQuickView = document.getElementById("priceLabel2");
                          //   priceLabelAtQuickView.after(div);
                          // }
                          var priceLabelAtQuickView = document.getElementById("priceLabel2");
                          priceLabelAtQuickView.after(div);
                          // Code to render out product details like Category and Brand in quick model view End ---------------------------

                          // Code to render out multiple images in quick model view START -------------------------------------------------

                          // Code to render out multiple images in quick model view END ---------------------------------------------------
                        });
                    }

                    function removeElementsByClass(className) {
                      const elements = document.getElementsByClassName(className);
                      while (elements.length > 0) {
                        elements[0].parentNode.removeChild(elements[0]);
                      }
                    }

                    //------------------------------

                    async function show_details_for_quick_view(params) {
                      console.log('=======params params params=====>', params)
                      var ulElement = document.getElementById(params.ulDiv+"-id")
                      var activeElements = ulElement.querySelectorAll(".active");
                      activeElements.forEach(function (element) {
                        element.classList.remove("active");
                        element.style.backgroundColor = "";
                      });
                      document.getElementById(params.clickedEleId).setAttribute("class", "active")
                      document.getElementById(params.clickedEleId).style.backgroundColor = "#bfbfbf";
                      document.getElementById(params.key).setAttribute('value', params.value)


                      const attributes = params.attributeObjectsIds.split(',');

                      var allAttributesFilled = true;

                      for (var i = 0; i < attributes.length; i++) {
                        var attributeValue = document.getElementById(attributes[i]).getAttribute("value");
                        if (!attributeValue || attributeValue.length === 0) {
                          allAttributesFilled = false;
                          break;
                        }
                      }
                      if (allAttributesFilled) {
                        var selectedAttributeValueDict = {}
                        for (var i = 0; i < attributes.length; i++) {
                          var attributeName = attributes[i];
                          var selectedAttributeValue = document.getElementById(attributes[i]).getAttribute("value");
                          // Perform any desired operations with selectedAttributeValue
                          selectedAttributeValueDict[attributeName] = selectedAttributeValue;
                        }
                        console.log('88888888888888888888888888888===selectedAttributeValueDict',
                          selectedAttributeValueDict)

                        var url = "{% url 'get_product_variant' %}";
                        await fetch(url, {
                            method: "POST",
                            headers: {
                              "Content-type": "application/json",
                              "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                              productId: params.id,
                              selectedAttributeValueDict: selectedAttributeValueDict,
                            }),
                          })
                          .then((response) => {
                            return response.json();
                          })
                          .then((data) => {
                            if (data.productVariantPrice == "Product Out Of Stock") {
                              document.getElementById("productPrice").innerHTML = data.productVariantPrice;
                              document.getElementById("actualPriceAtQuickView").innerHTML = "";
                              document.getElementById("discountPercentageAtQuickView").innerHTML = "";
                            } else {
                              GetConvertedValues(data.productVariantPrice).then((Data) => {
                                document.getElementById("productPrice").innerHTML = Data.symbol + " " + Data
                                  .value;
                              });

                              GetConvertedValues(data.productVariantActualPrice).then((Data) => {
                                document.getElementById("actualPriceAtQuickView").innerHTML = Data.symbol +
                                  " " + Data.value;
                              });

                              document.getElementById("discountPercentageAtQuickView").innerHTML = data
                                .productVariantDiscount + "%";



                            }
                            let urlForAddToCartAddToCart =
                              "add_to_cart_fun_at_quick_view({key:'firstProductVariant'})";
                            urlForAddToCartAddToCart = urlForAddToCartAddToCart.replace("firstProductVariant",
                              data.productVariantId.toString());
                            document.getElementById("addToCart").setAttribute("onClick",
                              urlForAddToCartAddToCart);

                          });

                      }


                      // WORK FROM HERE==========================================================================

                    }

                    function add_to_cart_fun_at_quick_view(params) {
                      let quantityValue = 1;
                      if (params.key == "No Product Yet") {} else {
                        let url = "{% url 'add_to_cart' 'id' 'quantity' %}";
                        url = url.replace("id", params.key);
                        url = url.replace("quantity", quantityValue);
                        fetch(url, {
                          method: "GET",
                          headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                          },
                        });
                        window.location.reload();
                      }
                    }
                  </script>
                  {% comment %} -----------------------------------------------------------------------------
                  {% endcomment %}

                </div>
              </div>
              <div class="product-details text-center">
                <h3 class="theme-color">
                  {% if product.productType == "Simple" %}
                  {{""|return_currency_wise_symbol:request}}{{product.product_price_range|return_currency_wise_ammount:request}}
                  {% else %}
                  {{product.product_price_range|return_currency_wise_ammount_range:request}}
                  {% endif %}

                  <span class="font-light ms-1">
                    {% if product.productType == "Simple" %}
                    {{""|return_currency_wise_symbol:request}}{{product.product_actual_price_range|return_currency_wise_ammount:request}}
                    {% else %}
                    {{product.product_actual_price_range|return_currency_wise_ammount_range:request}}
                    {% endif %}
                  </span></h3>
                <a href="{% url 'left_slidebar' product.id %}" class="font-default">
                  <h5>{{product.productName}}</h5>
                </a>
                {% comment %} <ul class="size-box">
                  <li>1 KG</li>
                </ul> {% endcomment %}
                <ul class="rating mt-1">
                  <!-- ------------------------------------------------------------------- -->
                  {% if product.productFinalRating|to_int < 5|to_int %}
                  {% for x in product.productFinalRating|times %} <li>
                    <a class="fas fa-star theme-color" id="productOfStar"
                      href="{% url 'left_slidebar' product.id %}"></a>
                  </li>
                  {% endfor %}

                  {% with number1=5|to_int number2=product.productFinalRating|to_int %}
                  {% with number3=number1|sub:number2 %}


                  {% for x in number3|times %}
                  <li>
                    <i class="fas fa-star"></i>
                  </li>
                  {% endfor %}

                  {% endwith %}
                  {% endwith %}

                  {% else %}
                  <li>
                    <i class="fas fa-star theme-color"></i>
                  </li>
                  <li>
                    <i class="fas fa-star theme-color"></i>
                  </li>
                  <li>
                    <i class="fas fa-star theme-color"></i>
                  </li>
                  <li>
                    <i class="fas fa-star theme-color"></i>
                  </li>
                  <li>
                    <i class="fas fa-star theme-color"></i>
                  </li>
                  {% endif %}
                  <!-- ------------------------------------------------------------------- -->
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- New Arrival Section End -->


{% endblock vegetable-product-section %}