.new-card {
    &::after {
        content: none;
    }

    .add-new-card {
        border: 1px dashed rgba(var(--primary), 1);
        border-radius: 10px;
        font-weight: 500;
        font-size: 15px;
        color: rgba(var(--primary), 1);
        @include flex_common;
        padding: 11px;
        flex-wrap: nowrap;
        gap: 3px;
        width: 100%;
        background-color: transparent;

        i {
            line-height: 1;
        }
    }
}

.time-list {
    display: flex;
    align-items: center;
    color: rgba(var(--title), 1);
    gap: 8px;

    @include mq-max(md) {
        gap: calc(5px + (8 - 5) * ((100vw - 320px) / (767 - 320)));
    }

    li {
        display: flex;
        align-items: center;
        gap: 4px;

        &.dots {
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: rgba(var(--content), 1);
        }

        i {
            line-height: 1;
        }

        h6 {
            font-weight: 400;
            font-size: 13px;
            margin: 0;
            color: rgba(var(--title), 1);

            margin-left: 15px;

            [dir="rtl"] & {
                margin-left: unset;
                margin-right: 15px;
            }
        }
    }
}

/* Banner Section */
.banner-section {
    .banner-box {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        height: 200px;

        .banner-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .banner-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 27px 11px;
            // @include flex_common;

            .title {
                font-weight: 600;
                margin-bottom: 6px;
                line-height: 1.3;
                color: rgba(var(--title), 1);
            }

            .offer-box {
                position: relative;
                margin-bottom: 12px;
                width: 141px;
                height: 38px;

                @include mq-max(md) {
                    width: calc(110px + (141 - 110) * ((100vw - 320px) / (767 - 320)));
                    height: 100%;
                }

                h4 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                    font-weight: 600;
                    color: rgba(var(--white), 1);
                    font-size: 16px;

                    @include mq-max(md) {
                        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (767 - 320)));
                    }
                }
            }

            h6 {
                color: rgba(var(--content), 1);
            }
        }
    }
}

.category-section {
    .swiper-slide {
        width: 33%;

        &:nth-child(2) {
            width: 35%;
        }
    }

    .category-box {
        text-align: center;

        .category-image {
            height: 79px;
            text-align: center;

            img {
                height: 80px;
            }
        }

        h5 {
            font-size: 15px;
            color: rgba(var(--title), 1);
            margin-top: 5px;
        }
    }
}

.option-section {
    .option-list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 12px;
        overflow: auto;

        li {
            .option-box {
                background-color: rgba(var(--white), 1);
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                gap: 8px;
                padding: 10px 12px;
                box-shadow: $shadow3;
                border-radius: 8px;

                .option-image {
                    width: 28px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                h5 {
                    color: rgba(var(--title), 1);
                    white-space: nowrap;
                }
            }
        }
    }
}

.recommended-section {
    // position: sticky;
    // top: 50px;
    // left: 0;
    // z-index: 1;

    &.js-section {
        &.is-active {
            position: sticky;
            top: 72px;
            left: 0;
            z-index: 1;
            background-color: #fff;
            padding: 0;

            .nav-tabs {
                box-shadow: none;
            }
        }
    }
}

.restaurant-section {
    .restaurant-list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .name-list {
            width: 100%;

            .restaurant-name {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                gap: 9px;
                box-shadow: $shadow3;
                border-radius: 13px;
                background-color: rgba(var(--white), 1);
                padding: 12px;

                .food-image {
                    width: 73px;
                    height: 73px;
                    border-radius: 10px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .food-name {
                    width: calc(100% - 73px - 9px);
                    position: relative;

                    .restaurant-rating {
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 2px;
                        margin: 7px 0;

                        span {
                            font-weight: 400;
                            font-size: 12px;
                            color: rgba(var(--title), 1);
                        }

                        ul {
                            display: flex;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 2px;

                            li {
                                i {
                                    color: #E0E0E0;

                                    &.fill {
                                        color: rgba(var(--primary), 1);
                                    }
                                }
                            }
                        }
                    }

                    h4 {
                        font-weight: 500;
                        font-size: 15px;
                        color: rgba(var(--title), 1);
                    }

                    h5 {
                        font-weight: 400;
                        font-size: 14px;
                        color: rgba(var(--content), 1);
                        margin: 5px 0 10px;
                    }

                    .rating-box {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 4px;
                        padding: 3px 8px;
                        background: #FFF9EC;
                        border-radius: 4px;

                        i {
                            font-size: 10px;
                            color: rgba(var(--yellow), 1);
                        }

                        h6 {
                            font-weight: 400;
                            color: rgba(var(--title), 1);
                        }
                    }
                }
            }
        }
    }
}

.feature-section {
    .feature-box {
        box-shadow: $shadow3;
        border-radius: 10px;
        background-color: rgba(var(--white), 1);
        overflow: hidden;

        .feature-head {
            position: relative;
            width: 100%;
            height: 102px;
            overflow: hidden;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .sale-rate {
                position: absolute;
                top: 6px;
                right: 7px;
                text-align: right;

                .sale {
                    background: rgba(var(--white), 1);
                    border-radius: 4px;
                    padding: 4px 6px;
                    color: rgba(var(--title), 1);
                    font-weight: 400;
                    font-size: 11px;
                }

                .rate {
                    background: rgba(var(--white), 1);
                    border-radius: 4px;
                    padding: 4px 6px;
                    color: rgba(var(--title), 1);
                    display: inline-block;
                    margin-top: 5px;

                    i {
                        color: rgba(var(--yellow), 1);
                        line-height: 1;
                    }

                    h6 {
                        font-weight: 400;
                        font-size: 11px;
                        margin-top: -1px;
                    }

                }
            }
        }

        .feature-content {
            padding: 8px 11px;

            h5 {
                font-size: 13px;
                color: rgba(var(--title), 1);
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
            }

            h6 {
                font-weight: 400;
                font-size: 11px;
                margin: 3px 0 8px;
                color: rgba(var(--content), 1);
            }

            .offer-box {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                gap: 4px;
                margin-top: 11px;

                img {
                    width: 14px;
                    height: 14px;
                }

                h6 {
                    font-weight: 400;
                    font-size: 11px;
                    color: rgba(var(--yellow), 1);
                    margin: 0;
                }
            }
        }
    }
}

.recent-search-section {
    .recent-search-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        li {
            width: 100%;

            .recent-box {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                gap: 9px;
                color: rgba(var(--content), 1);

                .recent-icon {
                    width: 18px;
                    height: 18px;
                    font-size: 18px;
                    @include flex_common;

                    i {
                        line-height: 1;
                    }
                }

                .recent-name {
                    width: calc(100% - 18px - 9px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h5 {
                        font-weight: 400;
                        font-size: 15px;
                    }

                    i {
                        font-size: 16px;
                        line-height: 1;
                    }
                }
            }
        }
    }
}

.address-section {
    .address-list-box {
        .address-list {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            li {
                width: 100%;

                .address-box {
                    background-color: rgba(var(--white), 1);
                    box-shadow: $shadow3;
                    border-radius: 12px;
                    padding: 13px;

                    .address-header {
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 11px;
                        border-bottom: 1px solid rgb(249, 249, 249);
                        padding-bottom: 9px;
                        margin-bottom: 19px;

                        .address-icon {
                            width: 40px;
                            height: 40px;
                            background: #F9F9F9;
                            border-radius: 6px;
                            @include flex_common;
                            font-size: 20px;
                            color: rgba(var(--title), 1);
                        }

                        .address-name {
                            width: calc(100% - 40px - 11px);

                            h5 {
                                font-weight: 600;
                                font-size: 14px;
                                color: rgba(var(--title), 1);
                                margin-bottom: 3px;
                            }

                            p {
                                font-weight: 400;
                                font-size: 12px;
                                color: rgba(var(--content), 1);
                                margin: 0;
                            }
                        }
                    }

                    .address-footer {
                        .button-group {
                            display: flex;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 8px;

                            .edit-button {
                                width: auto;
                                padding: 8px 20px;
                                background: rgba(var(--yellow), 1);
                                border-radius: 3px;
                                color: rgba(var(--white), 1);
                            }

                            .delete-button {
                                width: auto;
                                padding: 8px 20px;
                                background-color: #acacac;
                                border-radius: 3px;
                                color: rgba(var(--white), 1);
                            }
                        }
                    }
                }
            }
        }
    }
}

.edit-profile-section {
    .profile-box {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 15px;

        .profile-image {
            width: 80px;
            height: 80px;
            border-radius: 22px;
            overflow: hidden;
        }

        .profile-name {
            width: calc(100% - 80px - 15px);

            h3 {
                color: rgba(var(--title), 1);
                margin-bottom: 4px;
            }

            h5 {
                font-weight: 400;
                font-size: 14px;
                color: rgba(var(--content), 1);
                margin-bottom: 9px;
            }

            h6 {
                a {
                    color: rgba(var(--primary), 1);
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}

.account-section {
    .account-setting-list {
        .setting-list {
            background: rgba(var(--white), 1);
            border-radius: 6px;
            padding: 18px 12px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 28px;

            li {
                width: 100%;
                padding-inline: 15px;
                position: relative;

                +li {
                    // margin-top: 28px;
                    // border-top: 1px solid #F9F9F9;
                    // padding-top: 13px;
                    // margin-top: 26px;

                    &::after {
                        content: "";
                        position: absolute;
                        top: -14px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #F9F9F9;
                    }
                }

                .setting-box {
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 16px;

                    .setting-image {
                        width: 26px;
                        height: 26px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .setting-name {
                        display: flex;
                        align-items: center;
                        width: calc(100% - 26px - 16px);
                        justify-content: space-between;

                        h4 {
                            font-weight: 500;
                            font-size: 16px;
                            color: rgba(var(--title), 1);
                        }

                        i {
                            font-size: 18px;
                            line-height: 1;
                            color: rgba(var(--title), 1);
                        }
                    }
                }
            }
        }
    }
}

.order-section {
    .order-list {
        .delivered-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            li {
                width: 100%;

                .order-box {
                    box-shadow: $shadow3;
                    border-radius: 12px;
                    background-color: #fff;
                    padding: 12px;

                    .order-header {
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 8px;
                        position: relative;
                        border-bottom: 1px solid #F9F9F9;
                        padding-bottom: 13px;
                        margin-bottom: 10px;

                        .order-image {
                            width: 63px;
                            height: 63px;
                            overflow: hidden;
                            border-radius: 6px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .order-name {
                            width: calc(100% - 63px - 8px);

                            h5 {
                                color: rgba(var(--title), 1);
                                margin-bottom: 5px;
                            }

                            h6 {
                                font-weight: 400;
                                color: rgba(var(--content), 1);
                                margin-bottom: 10px;
                            }

                            .order-paid {
                                display: flex;
                                align-items: center;
                                flex-wrap: nowrap;
                                gap: 7px;

                                li {
                                    width: auto;
                                    font-weight: 400;
                                    font-size: 12px;
                                    color: rgba(var(--title), 1);
                                }
                            }
                        }

                        .delivered-box {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: flex;
                            align-items: center;
                            background: #F9F9F9;
                            border-radius: 4px;
                            padding: 6px 10px;
                            flex-wrap: nowrap;
                            gap: 5px;

                            img {
                                width: 14px;
                                height: 14px;
                            }

                            h6 {
                                font-weight: 500;
                                font-size: 10px;
                                line-height: 1;
                                color: rgba(var(--title), 1);
                            }
                        }
                    }

                    .order-quantity {
                        border-bottom: 1px solid #F9F9F9;
                        padding-bottom: 12px;
                        margin-bottom: 7px;

                        .quantity-list {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 8px;

                            li {
                                width: 100%;
                                font-weight: 400;
                                font-size: 14px;
                                color: rgba(var(--content), 1);
                            }
                        }
                    }

                    .order-rate {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .rate-food {
                            display: flex;
                            align-items: center;

                            h6 {
                                font-weight: 400;
                                font-size: 13px;
                            }

                            ul {
                                display: flex;
                                align-items: center;
                                flex-wrap: nowrap;
                                gap: 3px;
                                margin-left: 5px;

                                li {
                                    i {
                                        font-size: 15px;
                                        color: #E0E0E0;

                                        &.fill {
                                            color: #FFBB12;
                                        }
                                    }
                                }
                            }
                        }

                        .record-button {
                            width: auto;
                            padding: 6px 13px;
                            background-color: #F9F9F9;
                            border-radius: 4px;
                            font-weight: 600;
                            font-size: 12px;
                            color: rgba(var(--primary), 1);
                        }
                    }
                }
            }
        }
    }
}

.order-place-section {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgba(var(--white), 1);
    margin-top: -35px;
    z-index: 1;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    // &:before {
    //     content: "";
    //     position: absolute;
    //     width: 52px;
    //     height: 4px;
    //     background-color: #E9E9E9;
    //     top: 14px;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }

    .arriving-order-box {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 14px;
        background-color: rgba(var(--white), 1);
        box-shadow: $shadow2;
        border-radius: 13px;
        padding: 17px;
        position: absolute;
        top: -110px;
        left: 0;
        width: -webkit-fill-available;
        margin-inline: 15px;

        .order-image {
            width: 52px;
            height: 52px;
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .order-content {
            width: calc(100% - 52px - 14px);
            color: rgba(var(--title), 1);

            h5 {
                margin-bottom: 5px;

                span {
                    font-weight: 600;
                    color: rgba(var(--primary), 1);
                }
            }

            h6 {
                font-weight: 400;
                font-size: 14px;
                color: rgba(var(--content), 1);
            }
        }
    }

    .order-place-box {
        // margin-inline: 15px;

        .order-drive-box {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 12px;
            border-bottom: 1px solid #F9F9F9;
            padding-bottom: 16px;
            margin-bottom: 21px;
            // background-color: rgba(var(--white), 1);
            // box-shadow: $shadow2;
            // border-radius: 13px;
            // padding: 17px;

            .driver-image {
                width: 50px;
                height: 45px;
                border-radius: 8px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .driver-name {
                width: calc(100% - 50px - 12px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: rgba(var(--title), 1);

                .name-box {
                    h5 {
                        font-weight: 400;
                        color: rgba(var(--title), 1);
                    }

                    h6 {
                        font-weight: 400;
                        margin-top: 5px;
                        color: rgba(var(--content), 1);
                    }
                }

                .driver-contact {
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 9px;
                    color: rgba(var(--title), 1);

                    li {
                        a {
                            width: 35px;
                            height: 35px;
                            background-color: #F9F9F9;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: rgba(var(--title), 1);

                            i {
                                font-size: 20px;
                            }
                        }

                        &:last-child {
                            a {
                                background-color: rgba(var(--primary), 1);
                                color: rgba(var(--white), 1);
                            }
                        }
                    }
                }
            }
        }

        .map-list {
            gap: 8px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            li {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                gap: 8px;
                color: rgba(var(--title), 1);
                padding: 8px 20px;
                border-radius: 50px;
                background-color: #F8F8F8;

                i {
                    font-size: 16px;
                }

                h5 {
                    font-weight: 400;
                }
            }
        }

        .button-group {
            margin-top: 18px;
            display: flex;
            flex-wrap: nowrap;
            gap: 15px;

            .btn {
                font-weight: 500;
                font-size: 18px;
                padding: 13px;
                border-radius: 18px;
                color: rgba(var(--white), 1);

                &.cancel-button {
                    background: var(--gradient2);
                }

                &.reschedule-button {
                    background: var(--gradient);
                }
            }
        }
    }

    .address-list-box {
        .address-list {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 19px;
                width: 0;
                height: 80%;
                border-left: 1px dashed #F1F1F1;
                z-index: -1;
            }

            li {
                width: 100%;

                .address-box {
                    color: rgba(var(--title), 1);
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 9px;

                    .address-icon {
                        width: 39px;
                        height: 39px;
                        background: #F9F9F9;
                        border-radius: 4px;
                        font-size: 21px;
                        @include flex_common;
                    }

                    .address-name {
                        width: calc(100% - 39px - 9px);

                        h5 {
                            margin-bottom: 4px;
                        }

                        h6 {
                            color: rgba(var(--content), 1);
                        }
                    }
                }
            }
        }
    }
}

.payment-section {
    .payment-setting-list {
        .payment-list {
            background: rgba(var(--white), 1);
            border-radius: 6px;
            padding: 18px 12px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 28px;

            li {
                width: 100%;
                // padding-inline: 15px;
                position: relative;

                +li {
                    // margin-top: 28px;
                    // border-top: 1px solid #F9F9F9;
                    // padding-top: 13px;
                    // margin-top: 26px;

                    &::after {
                        content: "";
                        position: absolute;
                        top: -14px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #F9F9F9;
                    }
                }

                .payment-box {
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 16px;

                    .payment-image {
                        width: 66px;
                        height: 43px;
                        background-color: #F9F9F9;
                        border-radius: 6px;
                        padding: 12px;
                        @include flex_common;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .payment-name {
                        display: flex;
                        align-items: center;
                        width: calc(100% - 26px - 16px);
                        justify-content: space-between;
                        color: rgba(var(--title), 1);

                        h5 {
                            margin-bottom: 6px;
                        }

                        h6 {
                            font-weight: 400;
                            font-size: 13px;
                            color: rgba(var(--content), 1);
                        }

                        i {
                            line-height: 1;
                            color: rgba(var(--title), 1);
                            font-size: 20px;
                        }
                    }
                }

                &.new-card {
                    &::after {
                        content: none;
                    }

                    .add-new-card {
                        border: 1px dashed rgba(var(--primary), 1);
                        border-radius: 10px;
                        font-weight: 500;
                        font-size: 15px;
                        color: rgba(var(--primary), 1);
                        @include flex_common;
                        padding: 11px;
                        flex-wrap: nowrap;
                        gap: 3px;
                        width: 100%;
                        background-color: transparent;

                        i {
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
}

.cart-section {
    .cart-items-list {
        .items-list {
            background-color: rgba(var(--white), 1);
            box-shadow: $shadow3;
            border-radius: 10px;
            padding: 10px;

            li {
                +li {
                    border-top: 1px solid #F9F9F9;
                    margin-top: 10px;
                    padding-top: 10px;
                }

                .cart-box {
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 9px;

                    .items-image {
                        width: 78px;
                        height: 78px;
                        border-radius: 6px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .items-name {
                        width: calc(100% - 9px - 78px);
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        color: rgba(var(--title), 1);

                        h6 {
                            font-weight: 400;
                            font-size: 14px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            color: rgba(var(--content), 1);
                        }

                        h5 {
                            a {
                                font-weight: 400;
                                color: rgba(var(--primary), 1);
                            }
                        }
                    }

                    .quantity-box {
                        display: flex;
                        align-items: center;
                        background: rgba(var(--primary), 1);
                        border-radius: 5px;
                        width: 76px;
                        padding: 4px;
                        color: rgba(var(--white), 1);

                        button {
                            padding: 0;
                            line-height: 1;
                            color: rgba(var(--white), 1);
                            font-size: 20px;
                            font-weight: bold;
                            @include flex_common;

                            &:active {
                                border-color: transparent;
                            }
                        }

                        input {
                            width: 100%;
                            background: transparent;
                            border: none;
                            text-align: center;
                            color: rgba(var(--white), 1);
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.instrucations-list {
    background-color: rgba(var(--white), 1);
    box-shadow: $shadow2;
    border-radius: 10px;
    padding: 14px 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
        width: 100%;

        .instrucations-box {
            align-items: center;
            flex-wrap: nowrap;
            gap: 10px;

            .form-check-label {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                gap: 4px;

                img {
                    width: 18px;
                    height: 18px;
                }

                span {
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(var(--content), 1);
                }
            }
        }
    }
}

.bill-list {
    background-color: rgba(var(--white), 1);
    box-shadow: $shadow3;
    border-radius: 10px;
    padding: 14px 16px;
    display: flex;
    flex-wrap: wrap;
    // gap: 12px;

    li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        color: rgba(var(--content), 1);

        +li {
            margin-top: 12px;
        }

        &.total-bill {
            border-top: 1px solid rgba(237, 239, 244, 0.6);
            padding-top: 10px;
            color: rgba(var(--title), 1);
            font-size: 15px;
        }
    }
}

.proceed-pay-section {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background-color: rgba(var(--white), 1);
    box-shadow: $shadow3;
    border-radius: 15px 15px 0px 0px;
    padding-top: 16px;
    padding-bottom: 16px;

    .proceed-address-box {
        color: rgba(var(--title), 1);
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
        padding-bottom: 11px;
        margin-bottom: 11px;
        border-bottom: 1px solid rgba(237, 239, 244, 0.6);

        .address-icon {
            width: 40px;
            height: 40px;
            background-color: #FFF9EC;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }

        .address-box {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: calc(100% - 40px - 8px);

            h5 {
                font-weight: 600;
                margin-bottom: 3px;
            }

            h6 {
                font-weight: 400;
                color: #bcbcbc;
            }

            a {
                font-weight: 600;
                font-size: 14px;
                color: #FEAF18;
            }
        }
    }

    .amount-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        h3,
        h4 {
            font-weight: 400;
        }
    }

    .pay-button {
        background-color: rgba(var(--primary), 1);
        border-radius: 6px;
        color: rgba(var(--white), 1);
        font-weight: 600;
        font-size: 18px;

        @include mq-max(md) {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
        }

        &:active {
            background-color: rgba(var(--primary), 1);
            border-color: transparent;
            color: rgba(var(--white), 1);
        }

        // &.show,
        // &.active {
        //     background-color: rgba(var(--primary), 1);
        //     border-color: transparent;
        //     color: rgba(var(--white), 1);
        // }

        // &:first-child {
        //     &:active {
        //         background-color: rgba(var(--primary), 1);
        //         border-color: transparent;
        //         color: rgba(var(--white), 1);
        //     }
        // }

        // &:not(.btn-check)+.btn {
        //     &:active {
        //         background-color: rgba(var(--primary), 1);
        //         border-color: transparent;
        //         color: rgba(var(--white), 1);
        //     }
        // }
    }
}

.offer-section {
    .offer-list-box {
        .offer-list {
            display: flex;
            flex-wrap: nowrap;
            overflow: auto hidden;
            gap: 11px;

            li {
                .offer-box {
                    background-color: rgba(var(--white), 1);
                    box-shadow: $shadow3;
                    border-radius: 6px;
                    padding: 10px;
                    color: rgba(var(--title), 1);
                    display: inline-block;

                    >div {
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 6px;
                    }

                    .offer-icon {
                        width: 26px;
                        height: 26px;
                    }

                    .offer-contain {
                        h5 {
                            margin-bottom: 4px;
                            white-space: nowrap;
                        }

                        h6 {
                            font-weight: 400;
                            color: rgba(var(--content), 1);
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}

.add-to-cart-box {
    background-color: rgba(var(--primary), 1);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 63px;
    height: 25px;
    // position: relative;
    // max-width: 210px;

    &.hide {
        background-color: transparent;
    }

    .btn-add-cart {
        // padding: 0;
        // width: 100%;
        // font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
        // margin-top: 10px;
        // color: rgba(var(--white), 1);
        // border-radius: 50px;
        // font-weight: 500;
        padding: 0;
        color: rgba(var(--white), 1);
        @include flex_common;
        height: 100%;
        flex-wrap: nowrap;
        gap: 6px;
        font-weight: 600;
        font-size: 14px;

        &.hide {
            opacity: 0;
        }


        &:first-child {
            &:active {
                background-color: rgba(var(--primary), 1);
                border-color: transparent;
                color: rgba(var(--white), 1);
            }
        }

        .add-icon {
            // @include center(vertical);
            // @include flex_common;
            // @include pseudowh($width: calc(30px + (37 - 30) * ((100vw - 320px) / (1920 - 320))),
            //     $height: calc(30px + (37 - 30) * ((100vw - 320px) / (1920 - 320))));
            // background-color: rgba(var(--primary), 1);
            // border-radius: 100%;
            // color: rgba(var(--white), 1);
            // position: absolute;
            // left: 8px;
            font-size: 18px;
            font-weight: 500;

            // &.bg-light-orange {
            //     background-color: #f9f8f6;
            // }

            // &.bg-light-gray {
            //     background-color: #f8f8f8;
            // }

            i {
                font-size: 13px;
            }
        }
    }

    .qty-box {
        width: 76px;
        height: 25px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        display: none;

        &.open {
            display: block;
        }

        .input-group {
            background-color: rgba(var(--primary), 1);
            border-radius: 5px;
            padding: 4px;
            text-align: center;
            z-index: 0;
            height: 100%;

            // &.theme-bg-white {
            //     background-color: rgba(var(--white), 1);
            // }

            button {
                @include pseudowh($width: 24px, $height: 100%);
                @include flex_common;
                border: none;
                padding: 0;
                background-color: transparent;
                z-index: 0;
                color: #fff;
                font-size: 18px;
                font-weight: 500;

                i {
                    font-size: 13px;
                    color: var(--theme-color);
                    margin-top: 1px;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            input {
                height: 100%;
                background-color: transparent;
                border: none;
                padding: 0;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                color: rgba(var(--white), 1);
            }
        }
    }
}

.food-price-section {
    position: fixed;
    bottom: 0;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(var(--white), 1);
    box-shadow: $drop-shadow;
    padding-top: 11px;
    padding-bottom: 11px;

    .view-price {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        h5 {
            font-weight: 400;
            color: rgba(var(--content), 1);
            margin-bottom: 3px;
        }

        h4 {
            font-weight: 600;
            color: rgba(var(--black), 1);
        }
    }
}

.language-section {
    .language-setting-list {
        .setting-list {
            background-color: rgba(var(--white), 1);
            border-radius: 6px;
            padding: 18px 12px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            // gap: 28px;

            li {
                width: 100%;

                +li {
                    padding-top: 15px;
                    margin-top: 13px;
                    border-top: 1px solid #F9F9F9;
                }

                a {
                    color: rgba(var(--title), 1);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &.active {
                        i {
                            display: block;
                        }
                    }

                    i {
                        display: none;
                        font-size: 18px;
                        line-height: 1;
                        color: rgba(var(--primary), 1);
                    }
                }
            }
        }
    }
}