/*===================== 
    Grocery Css
==========================*/
/* ---------- Category CSS ---------- */
.category-box {
    display: flex;
    align-items: center;
    gap: 7px;
    overflow: auto;
    padding-bottom: 5px;

    li {
        a {
            background-color: rgba(var(--theme-color), 0.05);
            border-radius: 100px;
            padding: 11px 21px;
            color: rgba(var(--title), 1);
            display: flex;
            align-items: center;
            gap: 5px;
            width: max-content;

            img {
                width: 25px;
                height: 17px;
            }

            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
            }
        }
    }
}