/* ---------- Home CSS ---------- */
.home-section {
    .home-box {
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        .home-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 36%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 8px;

            @include mq-max(md) {
                width: calc(70% + (36 - 70) * ((100vw - 320px) / (600 - 320)));
            }

            h4 {
                font-weight: 600;
                font-size: 16px;
                color: #fff;
                line-height: 1.5;
                margin-bottom: 16px;
            }

            .explore-btn {
                font-weight: 500;
                font-size: 14px;
                background-color: #fff;
                padding: 8px 16px;
                border-radius: 6px;
                color: #222;
            }
        }
    }
}

/* ---------- Category CSS ---------- */
.category-box-list {
    gap: 13px;
    overflow: auto;
    padding-bottom: 7px;

    li {
        .category-box {
            .category-image {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                overflow: hidden;
                margin-bottom: 9px;
                display: block;
            }

            h5 {
                font-weight: 500;
                font-size: 13px;
                text-align: center;
                text-transform: capitalize;
                color: #777777;
            }
        }
    }
}

/* ---------- Top collection CSS ---------- */
.top-collection-list {
    li {
        +li {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #EDEDED;
        }

        .top-collection-box {
            display: flex;
            align-items: center;
            gap: 9px;
            color: rgba(var(--title), 1);

            .collection-image {
                width: 48px;
                height: 48px;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .collection-content {
                width: calc(100% - 48px - 9px);
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4 {
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                h5 {
                    font-weight: 400;
                    color: #777;

                    &.danger {
                        color: #FF2626;
                    }

                    &.success {
                        color: #038800;
                    }
                }

                .next-icon {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background: #F7F7F7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                }
            }
        }

        &.total-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 0;
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #EDEDED;
            box-shadow: none;
            left: unset;
            bottom: unset;
            transform: unset;

            h4 {
                color: rgba(var(--content), 1);
            }

            h5 {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

/* ---------- Notable Collection CSS ---------- */
.notable-collection-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 17px;
    overflow: auto;
    padding-bottom: 11px;

    li {
        .notable-collection-box {
            display: block;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            width: 154px;
            height: 154px;

            .main-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .collection-content {
                position: absolute;
                bottom: 8px;
                padding: 8px 12px;
                display: flex;
                align-items: center;
                background-color: #fff;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 5px;
                color: #222;
                gap: 4px;
                justify-content: center;

                h6 {
                    font-weight: 500;
                    font-size: 13px;
                    white-space: nowrap;
                }

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

/* ---------- Collection Product CSS ---------- */
.collection-title {
    h4 {
        font-weight: 600;
        font-size: 16px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        margin: 6px 0 0;
        color: #777777;
        line-height: 1.5;
    }
}

.collection-product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    li {
        .collection-product-box {
            box-shadow: 0px 0px 6px rgba(213, 213, 213, 0.38);
            border-radius: 7px;
            padding: 7px;
            display: block;
            color: rgba(var(--title), 1);

            .collection-image {
                border-radius: 10px;
                margin-bottom: 9px;
                overflow: hidden;
            }

            .collection-content {
                h5 {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    margin-bottom: 5px;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                h6 {
                    font-weight: 400;
                    color: #777;

                    +h6 {
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}

/* ---------- Trending Category CSS ---------- */
.trending-category-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    overflow: auto;

    li {
        a {
            padding: 11px 19px;
            display: block;
            font-weight: 400;
            font-size: 14px;
            background: #FAFAFA;
            border-radius: 6px;
            color: #777;
        }
    }
}

/* ---------- Wallet Profile CSS ---------- */
.wallet-profile-section {
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 14px 17px;
    overflow: hidden;

    .wallet-profile-box {
        display: flex;
        align-items: center;
        gap: 10px;

        .wallet-image {
            width: 92px;
            height: 92px;
            border-radius: 11px;
            overflow: hidden;
        }

        .wallet-content {
            width: calc(100% - 92px - 10px);

            h4 {
                font-weight: 600;
                margin-bottom: 6px;
            }

            h5 {
                font-weight: 400;
                font-size: 16px;
            }

            h6 {
                display: flex;
                align-items: center;
                gap: 4px;
                font-weight: 400;
                font-size: 12px;
                margin-top: 7px;
                color: #777777;

                img {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    .wallet-money-list {
        margin-top: 16px;
        display: flex;
        align-items: center;
        gap: 12px;
        overflow: auto;

        li {
            width: 100%;

            .wallet-money-box {
                display: block;
                text-align: center;
                padding: 12px 24px;
                background-color: #fff;
                border-radius: 6px;

                i {
                    color: rgba(var(--theme-color), 1);
                    font-size: 28px;
                    line-height: 1;
                }

                h6 {
                    font-weight: 400;
                    font-size: 12px;
                    color: #464646;
                    margin-top: 5px;
                }
            }
        }
    }
}

/* ---------- Profile CSS ---------- */
.nft-profile-box {
    .profile-image {
        width: 208px;
        height: 146px;
        margin: 0 auto 15px;
    }

    .profile-content {
        h4 {
            margin-bottom: 13px;
        }

        p {
            color: #777;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            margin: 0;
        }
    }
}

/* ---------- Product Details CSS ---------- */
.product-details-box {
    .product-image {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 19px;
    }

    .product-contain {
        h3 {
            font-weight: 500;
            font-size: 20px;
        }

        h4 {
            font-weight: 400;
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 4px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            margin: 0 0 12px;
            color: #777777;
        }

        .social-media-list {
            display: flex;
            align-items: center;
            gap: 14px;

            li {
                a {
                    font-size: 24px;
                    color: #777777;
                }
            }
        }
    }
}

/* ---------- Product Details Content Tab CSS ---------- */
.properties-box-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;

    li {
        width: 100%;

        .properties-box {
            text-align: center;
            border: 1px solid #EBEBEB;
            border-radius: 6px;
            padding: 7px;

            h4 {
                font-weight: 400;
                color: rgba(var(--theme-color), 1);
                margin-bottom: 8px;
            }

            h5 {
                font-weight: 600;
                margin-bottom: 4px;
                font-size: 15px;
            }

            h3 {
                font-weight: 400;
                font-size: 16px;
                color: #777777;
            }
        }
    }
}

.offer-table {
    margin: 0;

    thead {
        tr {
            th {
                border: none;
                font-weight: 400;
                font-size: 13px;
                color: #777;
                padding: 9px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    tbody {
        tr {
            &:last-child {
                td {
                    border: none;
                }
            }

            td {
                padding: 9px;
                font-weight: 400;
                font-size: 13px;
                white-space: nowrap;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                    color: rgba(var(--theme-color), 1);
                }

                .price-box {
                    h5 {
                        font-size: 13px;
                        margin-bottom: 3px;
                        white-space: nowrap;
                    }

                    h6 {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.info-box-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h4 {
            font-weight: 400;
        }
    }
}

/* ---------- Listing Price Bottom Box CSS ---------- */
.listing-price-bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 16px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.04);

    .listing-price-title {
        font-weight: 400;
        font-size: 18px;
        color: #777777;

        span {
            font-weight: 600;
            font-size: 18px;
            color: #464646;
            margin-bottom: 13px;
        }
    }

    .listing-price-button-group {
        display: flex;
        align-items: center;
        gap: 15px;

        a {
            width: 100%;
            text-align: center;
            padding: 14px;
            border-radius: 6px;
            font-weight: 500;
            font-size: 14px;

            &.buy-btn {
                border: 1px solid transparent;
                color: #fff;
                background-color: #454545;
            }

            &.offer-btn {
                border: 1px solid #454545;
                color: #454545;
            }
        }
    }
}

/* ---------- Profile Box CSS ---------- */
.nfy-profile-box {
    margin-top: -50px;

    .nft-profile-image {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto 22px;
    }

    .nft-profile-content {
        text-align: center;

        h2 {
            font-weight: 500;
            color: #464646;
            @include flex_common;
            gap: 9px;
            margin-bottom: 8px;

            img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            color: #777777;
            margin: 0 0 12px;
            line-height: 1.5;
        }

        .social-media-list {
            @include flex_common;
            gap: 14px;

            li {
                a {
                    display: flex;
                    font-size: 24px;
                    color: #777777;
                    line-height: 1;

                    i {
                        line-height: 1;
                    }
                }
            }
        }
    }
}

/* ---------- Details Box CSS ---------- */
.detail-box-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    li {
        position: relative;

        &:nth-child(even) {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
                width: 1px;
                height: 80%;
                border-left: 1px solid #E3E3E3;
            }
        }

        .details-box {
            color: #464646;

            h5 {
                margin-bottom: 6px;
                font-weight: 500;
            }

            h6 {
                font-weight: 400;
                font-size: 14px;
                color: #777;
            }
        }
    }
}

/* ---------- Product Content Tab CSS ---------- */
.nft-tab-content {
    .item-content-box {
        .search-form-box {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 28px;

            .form-box {
                position: relative;
                width: calc(100% - 10px - 50px);

                .form-control {
                    padding: 17px 17px 17px 43px;
                    font-weight: 400;
                    font-size: 14px;
                    border: 1px solid #F2F2F2;
                    border-radius: 6px;
                    color: rgba(var(--title), 1);
                    line-height: 1;

                    &::placeholder {
                        color: #777777;
                    }
                }

                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 13px;
                    font-size: 20px;
                    color: #777;
                }
            }

            .filter-button {
                width: 50px;
                height: 50px;
                background-color: rgba(var(--theme-color), 1);
                border-radius: 6px;
                color: rgba(var(--white), 1);
                font-size: 20px;
                border: 1px solid transparent;
            }
        }
    }

    .analytics-tab-box {
        .analytics-vol-list {
            display: flex;
            align-items: center;
            gap: 18px;
            margin-bottom: 26px;

            li {
                width: 100%;

                .analytics-vol-box {
                    padding: 15px 10px;
                    border: 1px solid #EBEBEB;
                    border-radius: 9px;

                    h5 {
                        margin-bottom: 9px;
                        color: #777777;
                    }

                    h4 {
                        font-weight: 600;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span {
                            color: #038800;
                        }
                    }
                }
            }
        }
    }
}

.chart-box {
    .chart-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
            color: rgba(var(--title), 1);
        }

        .chart-dropdown-box {
            .chart-dropdown-btn {
                padding: 8px 13px;
                background: #F9F9F9;
                border-radius: 6px;
                color: #777;
                display: flex;
                align-items: center;
                justify-content: center;

                &:focus-within {
                    box-shadow: none;
                }
            }

            .chart-dropdown-menu {
                width: 100%;
                min-width: unset;
                background-color: #F9F9F9;
                border: none;
                padding: 7px;

                li {
                    +li {
                        margin-top: 12px;
                    }

                    .dropdown-item {
                        font-size: 14px;
                        padding: 0;
                        color: #777;
                        font-weight: 500;
                        text-align: center;
                        line-height: 1;
                    }
                }
            }
        }
    }
}